mixin footer(active)
    footer#footer
        .container
            .contact.
                Телефон служби підтримки: 
                <address>0 (800) 400-000</address> (безкоштовно з усіх мереж зв’язку України) 
                або <address>111</address> (безкоштовно в мережі МТС)
            .menu
                nav.private
                    strong: a(href="") Private
                    ul
                        li: a(href="") Tariffs
                        li: a(href="") Internet
                        li: a(href="") International calls
                        li: a(href="") Roaming
                        li: a(href="") Services
                        li: a(href="") My Victory
                nav.business
                    strong: a(href="") Business
                    ul
                        li: a(href="") Tariffs
                        li: a(href="") Internet
                        li: a(href="") International calls
                        li: a(href="") Roaming
                        li: a(href="") My Victory
                nav.about
                    strong: a(href="") About
                    ul
                        li: a(href="") About company
                        li: a(href="") Terms of use
                        li: a(href="") News
                        li: a(href="") Press center
                        li: a(href="") Our network
                        li: a(href="") Contacts
                nav.stores: strong: a(href="") Our stores
                nav.sitemap: strong: a(href="") Site map

            .mobile-langs
                ul
                    li.active: a(href="#") Ukr
                    li: a(href="#") Rus
                    li: a(href="#") Eng

            .mixed
                .external-links
                    span Приєднуйтеся до нас у соціальних мережах
                    a(href="https://www.instagram.com/vodafone_ukraine/", target="_blank").instagram
                    a(href="https://vk.com/vfukraine", target="_blank").vkontakte
                    a(href="https://www.facebook.com/VFUkraine/", target="_blank").facebook
                    a(href="https://twitter.com/Vodafone_UA", target="_blank").twitter
                    a(href="https://www.youtube.com/channel/UCca4LDwZ0UFczThXXqMa0BA", target="_blank").youtube
                .copyrights © Victory. Всі права захищені.