
@font-face { font-family: "vodafonerg"; src: url("../fonts/vodafonerg.woff2"); }

@font-face { font-family: "vodafonerg_bd"; src: url("../fonts/vodafonerg_bd.woff2"); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

b, strong { font-weight: normal; }

a { outline: none; text-decoration: none; }
a:focus { outline: none; }

.hidden { display: none; }

html { min-width: 100%; min-height: 100%; }

body { margin: 0; padding: 0; height: 100%; -webkit-font-smoothing: antialiased; }

.inner-content-container.fullwidth { max-width: 100% !important; margin-left: 0 !important; margin-right: 0 !important; background: none; }

.container { width: 100%; height: 100%; left: 0; top: 0; position: relative; }

.header { width: 100%; height: 548px; float: left; background: url("../images/header.jpg") no-repeat center; }

.footer { width: 100%; height: 147px; float: left; background: url("../images/footer.jpg") no-repeat center; }

.tv-packages-wrapper { width: 100%; float: left; background: #eeeeee; font-size: 18px; line-height: 26px; font-family: "vodafonerg"; }
@media all and (max-width: 979px) { .tv-packages-wrapper { font-size: 16px; line-height: 22px; } }

.tv-more { margin: 12px 30px 20px; height: 50px; padding: 10px 20px 0; border: 2px solid #9c2aa0; border-radius: 3px; color: #9c2aa0 !important; font-size: 18px; display: block; float: left; -webkit-transition: opacity 500ms; -moz-transition: opacity 500ms; -o-transition: opacity 500ms; transition: opacity 500ms; opacity: 0; text-decoration: none !important; }
.tv-more:hover { border-color: #e10e00; color: #e10e00 !important; text-decoration: none !important; }

.row.clearfix { background: #fff; margin-bottom: 20px; }

.tv-container { max-width: 1180px; }
@media all and (min-width: 980px) { .tv-container { margin-left: 80px; margin-right: 80px; } }
@media all and (min-width: 1340px) and (min-width: 980px) { .tv-container { margin-left: auto; margin-right: auto; } }
@media all and (max-width: 979px) { .tv-container { padding: 0 10px; } }

.tv-packages { margin-top: 29px; position: relative; z-index: 1; }
@media all and (max-width: 979px) { .tv-packages { margin-top: 16px; } }
.tv-packages h1 { font-size: 45px; line-height: 53px; font-weight: 400; margin-bottom: 18px; }
@media all and (max-width: 979px) { .tv-packages h1 { font-size: 36px; margin-bottom: 5px; } }
.tv-packages .tv-package-list { width: 100%; float: left; }
.tv-packages .tv-package-list .tv-package { float: left; border-radius: 3px; overflow: hidden; position: relative; padding-bottom: 25px; width: calc((100% - 40px) / 3); background: #fff; margin-left: 20px; margin-bottom: 20px; }
.tv-packages .tv-package-list .tv-package:nth-child(3n+1) { margin-left: 0; }
.tv-packages .tv-package-list .tv-package:hover .tv-package-header-inner { height: 120px; -webkit-transition: height 500ms; -moz-transition: height 500ms; -o-transition: height 500ms; transition: height 500ms; }
.tv-packages .tv-package-list .tv-package:hover .tv-more { opacity: 1; -webkit-transition: opacity 500ms; -webkit-transition-delay: 300ms; -moz-transition: opacity 500ms 300ms; -o-transition: opacity 500ms 300ms; transition: opacity 500ms 300ms; }
.tv-packages .tv-package-list .tv-package:hover ul { -webkit-transition: -webkit-transform 500ms; -moz-transition: -moz-transform 500ms; -o-transition: -o-transform 500ms; transition: transform 500ms; -webkit-transform: translate3d(0, -60px, 0); -moz-transform: translate3d(0, -60px, 0); -ms-transform: translate3d(0, -60px, 0); -o-transform: translate3d(0, -60px, 0); transform: translate3d(0, -60px, 0); }
@media all and (max-width: 1119px) { .tv-packages .tv-package-list .tv-package { width: calc((100% - 20px) / 2); }
    .tv-packages .tv-package-list .tv-package:nth-child(3n+1) { margin-left: 20px; }
    .tv-packages .tv-package-list .tv-package:nth-child(2n+1) { margin-left: 0; } }
@media all and (max-width: 979px) { .tv-packages .tv-package-list .tv-package { width: 100%; margin-left: 0 !important; }
    .tv-packages .tv-package-list .tv-package .tv-package-header-inner { height: 120px; -webkit-transition: height 500ms; -moz-transition: height 500ms; -o-transition: height 500ms; transition: height 500ms; }
    .tv-packages .tv-package-list .tv-package .tv-more { opacity: 1; -webkit-transition: opacity 500ms; -webkit-transition-delay: 300ms; -moz-transition: opacity 500ms 300ms; -o-transition: opacity 500ms 300ms; transition: opacity 500ms 300ms; }
    .tv-packages .tv-package-list .tv-package ul { -webkit-transition: -webkit-transform 500ms; -moz-transition: -moz-transform 500ms; -o-transition: -o-transform 500ms; transition: transform 500ms; -webkit-transform: translate3d(0, -60px, 0); -moz-transform: translate3d(0, -60px, 0); -ms-transform: translate3d(0, -60px, 0); -o-transform: translate3d(0, -60px, 0); transform: translate3d(0, -60px, 0); } }
.tv-packages .tv-package-list .tv-package .tv-more { position: absolute; bottom: 20px; left: 0; margin-bottom: 0; }
.tv-packages .tv-package-list .tv-package-inner { float: left; width: 100%; }
.tv-packages .tv-package-list .tv-package-header { height: 180px; float: left; width: 100%; }
.tv-packages .tv-package-list .tv-package-header-inner { height: 180px; float: left; width: 100%; padding: 0 0 0 20px; border-radius: 3px 3px 0 0; overflow: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: height 500ms; -webkit-transition-delay: 300ms; -moz-transition: height 500ms 300ms; -o-transition: height 500ms 300ms; transition: height 500ms 300ms; }
.tv-packages .tv-package-list .tv-package-icon { border-radius: 100%; background: #fff; width: 80px; height: 80px; float: left; position: relative; margin-right: 20px; margin-top: -40px; top: 50%; }
.tv-packages .tv-package-list .tv-package-icon:before { content: ''; position: relative; }
.tv-packages .tv-package-list .tv-package-title { float: left; color: #fff; padding-top: 12px; height: 70px; position: relative; margin-top: -35px; top: 50%; width: calc(100% - 100px); }
.tv-packages .tv-package-list .tv-package-title h3 { font: normal 30px/30px "vodafonerg_bd"; margin: 0 0 2px; }
@media all and (max-width: 979px) { .tv-packages .tv-package-list .tv-package-title h3 { font-size: 24px; line-height: 24px; } }
.tv-packages .tv-package-list .tv-package-title h3 + p { margin: 0; }
.tv-packages .tv-package-list ul { padding: 13px 30px 0; margin: 0; width: 100%; float: left; -webkit-transition: -webkit-transform 500ms; -webkit-transition-delay: 300ms; -moz-transition: -moz-transform 500ms 300ms; -o-transition: -o-transform 500ms 300ms; transition: transform 500ms 300ms; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.tv-packages .tv-package-list ul li { width: 100%; float: left; padding-left: 27px; position: relative; color: #333333; list-style: none; margin: 0; }
.tv-packages .tv-package-list ul li:before { content: ''; background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -915px; background-repeat: no-repeat; display: block; height: 13px; width: 16px; position: absolute; left: 0; top: 6px; margin: 0; }
.tv-packages .tv-package-list .tv-package-1 .tv-package-header-inner { background: #007c92; }
.tv-packages .tv-package-list .tv-package-1 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -587px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-packages .tv-package-list .tv-package-2 .tv-package-header-inner { background: #a8b400; }
.tv-packages .tv-package-list .tv-package-2 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -13px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-packages .tv-package-list .tv-package-3 .tv-package-header-inner { background: #00b0ca; }
.tv-packages .tv-package-list .tv-package-3 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -751px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-packages .tv-package-list .tv-package-4 .tv-package-header-inner { background: #9c2aa0; }
.tv-packages .tv-package-list .tv-package-4 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -259px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-packages .tv-package-list .tv-package-5 .tv-package-header-inner { background: #eb9700; }
.tv-packages .tv-package-list .tv-package-5 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -669px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-packages .tv-package-list .tv-package-6 .tv-package-header-inner { background: #a8b400; }
.tv-packages .tv-package-list .tv-package-6 .tv-package-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -341px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }

.tv-access { float: left; width: 100%; height: 100vh; position: relative; overflow: hidden; max-height: 1000px; background: url("../images/tv-access-bg.png") no-repeat center/cover; z-index: 0; }
@media all and (max-width: 979px) { .tv-access { height: 880px; margin-top: -60px; margin-bottom: -60px; } }
.tv-access video { background-size: cover; background-position: 50% 50%; position: absolute; right: -100%; bottom: -100%; top: -100%; left: -100%; margin: auto; min-width: 100%; min-height: 100%; z-index: -100; }
.tv-access .tv-video-top, .tv-access .tv-video-bottom { width: 100%; height: 100px; z-index: 1; position: absolute; top: 0; }
.tv-access .tv-video-bottom { bottom: 0; top: auto; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
.tv-access .tv-stores-container { height: 100%; position: relative; }
.tv-access .tv-stores-wrapper { display: table; height: 100%; max-width: 580px; width: 50%; float: left; }
@media all and (max-width: 1119px) { .tv-access .tv-stores-wrapper { width: calc(50% - 10px); } }
.tv-access .tv-stores-inner { display: table-cell; vertical-align: middle; width: 100%; text-align: center; }
@media all and (max-width: 979px) { .tv-access .tv-stores-inner { display: block; position: absolute; left: 10px; right: 10px; width: auto; bottom: 130px; } }
.tv-access .tv-stores-text { background: #fff; position: relative; z-index: 1; float: left; width: 100%; border-radius: 3px; overflow: hidden; text-align: center; padding: 66px 20px 0; opacity: 0; -webkit-transform: translate3d(-100px, 0, 0); -moz-transform: translate3d(-100px, 0, 0); -ms-transform: translate3d(-100px, 0, 0); -o-transform: translate3d(-100px, 0, 0); transform: translate3d(-100px, 0, 0); -webkit-transition: opacity 1000ms, -webkit-transform 1000ms; -moz-transition: opacity 1000ms, -moz-transform 1000ms; -o-transition: opacity 1000ms, -o-transform 1000ms; transition: opacity 1000ms, transform 1000ms; }
@media all and (max-width: 1119px) { .tv-access .tv-stores-text br { display: none; } }
@media all and (max-width: 979px) { .tv-access .tv-stores-text { display: inline-block; float: none; }
    .tv-access .tv-stores-text .tv-stores { -webkit-transform: translate3d(0, -35px, 0); -moz-transform: translate3d(0, -35px, 0); -ms-transform: translate3d(0, -35px, 0); -o-transform: translate3d(0, -35px, 0); transform: translate3d(0, -35px, 0); }
    .tv-access .tv-stores-text .tv-more { opacity: 1; -webkit-transform: translate3d(0, 10px, 0); -moz-transform: translate3d(0, 10px, 0); -ms-transform: translate3d(0, 10px, 0); -o-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); } }
.tv-access .tv-stores-text.visible { opacity: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.tv-access .tv-stores-text:hover .tv-stores { -webkit-transform: translate3d(0, -35px, 0); -moz-transform: translate3d(0, -35px, 0); -ms-transform: translate3d(0, -35px, 0); -o-transform: translate3d(0, -35px, 0); transform: translate3d(0, -35px, 0); }
.tv-access .tv-stores-text:hover .tv-more { opacity: 1; -webkit-transform: translate3d(0, 10px, 0); -moz-transform: translate3d(0, 10px, 0); -ms-transform: translate3d(0, 10px, 0); -o-transform: translate3d(0, 10px, 0); transform: translate3d(0, 10px, 0); }
.tv-access .tv-stores-text .tv-stores { float: left; width: 100%; -webkit-transition: -webkit-transform 400ms; -moz-transition: -moz-transform 400ms; -o-transition: -o-transform 400ms; transition: transform 400ms; }
.tv-access .tv-stores-text h2 { font-size: 36px; line-height: 53px; font-weight: 400; margin-bottom: 5px; }
@media all and (max-width: 979px) { .tv-access .tv-stores-text h2 { font-size: 26px; line-height: 43px; } }
.tv-access .tv-stores-text p > a { margin: 28px 5px 0; display: inline-block; }
.tv-access .tv-stores-text .tv-more { display: inline-block; float: none; margin-top: 30px; -webkit-transition: -webkit-transform 400ms, opacity 400ms; -moz-transition: -moz-transform 400ms, opacity 400ms; -o-transition: -o-transform 400ms, opacity 400ms; transition: transform 400ms, opacity 400ms; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.tv-functions-wrapper { width: 100%; float: left; position: relative; z-index: 1; }

.tv-functions { margin-top: 30px; text-align: center; }
.tv-functions h2 { font-size: 36px; line-height: 53px; font-weight: 400; margin-bottom: 5px; }
@media all and (max-width: 979px) { .tv-functions h2 { font-size: 26px; line-height: 43px; } }
.tv-functions .tv-function-icon { border-radius: 100%; background: #9c2aa0; width: 80px; height: 80px; position: relative; display: inline-block; margin-bottom: 13px; }
@media all and (max-width: 979px) { .tv-functions .tv-function-icon { display: table-cell; vertical-align: middle; width: 60px; height: 60px; } }
.tv-functions .tv-function-icon:before { content: ''; position: absolute; left: 0; top: 0; }
@media all and (max-width: 979px) { .tv-functions .tv-function-icon:before { -webkit-transform: scale(0.75); -moz-transform: scale(0.75); -ms-transform: scale(0.75); -o-transform: scale(0.75); transform: scale(0.75); -webkit-transform-origin: 0 0 0; -moz-transform-origin: 0 0 0; -ms-transform-origin: 0 0 0; -o-transform-origin: 0 0 0; transform-origin: 0 0 0; } }
.tv-functions .tv-functions-list { margin-top: 54px; width: 100%; float: left; }
.tv-functions .tv-function { float: left; width: 20%; padding: 0 10px; line-height: 22px; position: relative; cursor: pointer; }
@media all and (max-width: 979px) { .tv-functions .tv-function { width: 50%; padding-left: 0; margin-bottom: 20px; text-align: left; display: table; } }
@media all and (max-width: 659px) { .tv-functions .tv-function { width: 100%; } }
.tv-functions .tv-function.active { color: #9c2aa0; }
@media all and (min-width: 980px) { .tv-functions .tv-function.active:before { content: ''; position: absolute; left: 50%; border-bottom: 11px solid #fff; border-left: 10px solid transparent; border-right: 10px solid transparent; margin-left: -10px; bottom: -17px; } }
@media all and (min-width: 980px) { .tv-functions .tv-function:hover .tv-function-icon, .tv-functions .tv-function:hover h2, .tv-functions .tv-function:hover p { -webkit-transform: translate3d(0, -20px, 0); -moz-transform: translate3d(0, -20px, 0); -ms-transform: translate3d(0, -20px, 0); -o-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
    .tv-functions .tv-function:hover:after { -webkit-transform: translate3d(0, -20px, 0); -moz-transform: translate3d(0, -20px, 0); -ms-transform: translate3d(0, -20px, 0); -o-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); opacity: 1; } }
.tv-functions .tv-function:after { content: ''; background-image: url('../images/icons-s4e47052044.png'); background-position: 0 0; background-repeat: no-repeat; display: block; height: 11px; width: 18px; position: relative; display: inline-block; margin-top: 20px; opacity: 0; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: opacity 500ms, -webkit-transform 500ms; -moz-transition: opacity 500ms, -moz-transform 500ms; -o-transition: opacity 500ms, -o-transform 500ms; transition: opacity 500ms, transform 500ms; }
.tv-functions .tv-function h2, .tv-functions .tv-function p, .tv-functions .tv-function .tv-function-icon { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); -webkit-transition: -webkit-transform 500ms; -moz-transition: -moz-transform 500ms; -o-transition: -o-transform 500ms; transition: transform 500ms; }
@media all and (max-width: 979px) { .tv-functions .tv-function p { display: table-cell; vertical-align: middle; padding: 0 10px; }
    .tv-functions .tv-function p br { display: none; } }
.tv-functions .tv-function-1 .tv-function-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -833px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-functions .tv-function-2 .tv-function-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -505px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-functions .tv-function-3 .tv-function-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -177px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-functions .tv-function-4 .tv-function-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -95px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }
.tv-functions .tv-function-5 .tv-function-icon:before { background-image: url('../images/icons-s4e47052044.png'); background-position: 0 -423px; background-repeat: no-repeat; display: block; height: 80px; width: 80px; }

.tv-functions-descr { width: 100%; float: left; text-align: left; margin-top: 17px; margin-bottom: 62px; }
.tv-functions-descr .tv-descr { background: #fff; width: 100%; float: left; display: none; padding: 24px 30px; border-radius: 3px; }
.tv-functions-descr .tv-descr h3 { font-size: 30px; line-height: 53px; font-weight: 400; margin-bottom: 6px; }
@media all and (max-width: 979px) { .tv-functions-descr .tv-descr h3 { font-size: 24px; line-height: 43px; } }
.tv-functions-descr .tv-descr p { margin-bottom: 17px; }
