@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?74895061');
  src: url('../fonts/icons/icons.eot?74895061#iefix') format('embedded-opentype'),
       url('../fonts/icons/icons.woff2?74895061') format('woff2'),
       url('../fonts/icons/icons.woff?74895061') format('woff'),
       url('../fonts/icons/icons.ttf?74895061') format('truetype'),
       url('../fonts/icons/icons.svg?74895061#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../fonts/icons/icons.svg?74895061#icons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-arr_bottom:before { content: '\e800'; } /* '' */
.icon-arr_left:before { content: '\e801'; } /* '' */
.icon-arr_right:before { content: '\e802'; } /* '' */
.icon-arr_top:before { content: '\e803'; } /* '' */
.icon-close-small:before { content: '\e804'; } /* '' */
.icon-dropdown-tiny:before { content: '\e805'; } /* '' */
.icon-geotag:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-video_icon:before { content: '\e80d'; } /* '' */