
@media (min-width: 1300px) {
    .container {
        width: 1250px;
    }
}

body {
    /*min-height: 2000px;*/
    padding-top: 70px;
}

.redactor-toolbar {
    background: #000;
}

.redactor-toolbar li a {
    color: #fff;
}

.redactor-toolbar li a:hover {
    background: #d70a16;
    color: #fff;
}

.redactor-toolbar li a:active,
.redactor-toolbar li a.redactor-act {
    background: #000;
    color: #aaa;
}

.close-button {
    cursor: pointer;
}
.tags .label {
    margin: 0 3px;
}


.constructor-menu {
    position:fixed;
    left: 60px;
    top: 50%;
}
.constructor-menu button {
    margin: 3px;
}


#editable-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


textarea.soundcloud {
    width: 100%;
    height: 75px;
}


.map-container {
    width: 100%;
    height: 300px;
}


.items { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.items .view { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 45px; }
.items .view span {
    margin-left: -1.3em;
}


.nav-tabs>li.active>a.error {
    background-color: #f2dede;
    border: 1px solid red;
}

.nav-tabs>li>a.error {
    border: 1px solid red;
}

ul.folders {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.reset-folders, .folders li {
    background-color: #EEE;
    margin: 2px 0;
    padding: 2px;
    border-radius: 3px;
}

.folders li>span:first-child {
    width: 120px;
    display: inline-block;
}

.folders .actions {
    float: right;
    width: 35px;
    display: inline-block;
}

.drop-hover {
    background-color: #ffff00 !important;
}

.clone {
    z-index: 10;
}


#clipboard-container {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 0px;
    height: 0px;
    z-index: 100;
    display: none;
    opacity: 0;
}

a.active {
    font-weight: bold;
}

/********************************************
*       DROP ZONE
*********************************************/

.drop-field {
    position: relative;
    resize: none;
    background: url("/images/manage/dropzone-bg.jpg");
    height: 150px;
    width: 100%;
    margin-bottom: 20px;
    padding: 4px 11px;
    font-size: 14px;
    line-height: 22px;
    display: table;
    text-align: center;
}


.drop-field p {
    display: table-cell;
    vertical-align: middle;
    line-height: 32px;
}


.button {
    display: inline-block;
    text-align: center;
    cursor: pointer;

    position: relative;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    padding: 0 1px 1px;
    font-size: 14px;
    line-height: 22px;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
}


 .button span {
    position: relative;
    display: block;
    padding: 5px 10px 4px;
}

.dz-preview {
    display: none;
}

.dz-drag-hover .drop-field {
    border: 2px solid greenyellow;
}

/*button:before,*/ .button:before {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
    background-image: -moz-linear-gradient(#ffffff, #eeeeee);
    background-image: -o-linear-gradient(#ffffff, #eeeeee);
    background-image: linear-gradient(#ffffff, #eeeeee);
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
}

/*button:hover,*/ .button:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cacaca), color-stop(100%, #9b9b9b));
    background-image: -webkit-linear-gradient(#cacaca, #9b9b9b);
    background-image: -moz-linear-gradient(#cacaca, #9b9b9b);
    background-image: -o-linear-gradient(#cacaca, #9b9b9b);
    background-image: linear-gradient(#cacaca, #9b9b9b);
}

/*button:hover:before,*/ .button:hover:before {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e3e3e3), color-stop(100%, #d5d5d5));
    background-image: -webkit-linear-gradient(#e3e3e3, #d5d5d5);
    background-image: -moz-linear-gradient(#e3e3e3, #d5d5d5);
    background-image: -o-linear-gradient(#e3e3e3, #d5d5d5);
    background-image: linear-gradient(#e3e3e3, #d5d5d5);
}

body #ol {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10010;
    background: #FFF;
    opacity: 0.5;
}

body.loaded #ol {
    display: none;
}

.remove-preview {
    margin-top: 5px
}

.bootstrap-switch {
    display: block !important;
}
a[data-rte-cmd=color],a[data-rte-cmd=fontsize],a[data-rte-cmd=font]{
    display: none !important;
}
button[data-align=justify]{
    display: none;
}


.shift {
    display:inline-block;
    height:17px;
    background: url("/images/manage/dotted.png") repeat-x 0 0;
}

.pagination .page.selected {
    font-weight: bold;
}

.details.dl-horizontal dt {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;;
    width: 30px !important;
}

.details.dl-horizontal dd {
    width: 100% !important;
    margin-left: 50px !important;
}
