.inner-content-container.tarifs .tarif-table .tarifs thead tr:last-child td{
	background-position: top !important;
}
.inner-content-container.tarifs .tarif-table .tarifs thead td.decor.last:after{
	left: 20px !important;
	border-top: 1px solid #E5E5E5 !important;
	background: none !important;
	width: auto !important;
}

.inner-content-container.tarifs .tarif-table .tarifs table thead tr:last-child td:before{
	border-top: none !important;
}