fieldset.category-container.target-attention
    .alert.alert-important *У випадку різкого погіршення якості зв’язку/ раптові труднощі з вхідними/вихідними дзвінками та смс/складнощі при поповненні рахунку просимо вибирати розділ «Увага/Внимание/Attention» .