fieldset.category-container.target-connection
    .row: .column.full
        label Ваші номери телефонів, з якими спостерігаються труднощі
        .group
            input(type='text', name='connection[num]')
        p.signature Введіть номери, з яких ви телефонували, через кому. Наприклад, +380991234567, +380667654321


    .row: .column.full
        label Причина звернення
        .group
            input(type='text', name='connection[cause]')
        p.signature Вкажіть причину звернення. Наприклад, "Не вдається здійснити дзвінок"


    .row: .column.full
        label Точна адреса, де виникають проблеми
        .group
            input(type='text', name='connection[address]')
        p.signature Вкажіть область, район, назву населеного пункту, вулиці, номер будинку, квартиру, поверх


    .row: .column.full
        label Модель вашого мобільного телефону
        .group
            input(type='text', name='connection[model]')
        p.signature Вкажіть модель вашого мобільного телефону. Наприклад, iPhone 4s


    .row: .column.full
        label Якими послугами користуєтесь
        .group
            input(type='text', name='connection[services]')
        p.signature Вкажіть типи послуг. Наприклад, звінки, SMS, доступ до інтернету тощо.


    .row: .column.full
        label Що чуєте / бачите на телефонi
        .group
            input(type='text', name='connection[see]')
        p.signature Надайте опис якомога детальніше.


    .row: .column.half
        label Дата виникнення проблеми
        .group
            input(type='text', name='connection[when]')
        p.signature Вкажіть, як давно спостерігаються проблеми.


    .row
        .column.half
            label Рівень сигналу
            .group
                input(type='text', name='connection[signal]')
            p.signature Вкажіть кількість поділок сигналу.

        .column.half
            label Тип сигналу
            .group: .select: select(name="connection[signal_type]")
                option(value="1") Стійкий
                option(value="0") Не стійкий
