fieldset.category-container.target-finance
    .row: .column.full: label: strong Тип договору
    .row
        .column.third
            label.radio
                input(type="radio", name="finance[type]", value="prepaid", data-toggle=".subcategory-finance", checked)
                .label Передплата
        .column.third
            label.radio
                input(type="radio", name="finance[type]", value="contract", data-toggle=".subcategory-finance")
                .label Контракт

    include finance/prepaid
    include finance/contract