fieldset.category-container.target-payments
    .row
        .column.full
            label Тип проблеми
            .group: .select: select(name="payments[type]")
                option(value="fail") Не надійшов платіж
                option(value="error") Помилковий платіж