fieldset.category-container.target-roaming
    .row: .column.full
        label Ваші номери телефонів, з якими спостерігаються труднощі
        .group
            input(type='text', name='roaming[num]')
        p.signature Введіть номери, з яких ви телефонували, через кому. Наприклад, +380991234567, +380667654321


    .row: .column.full
        label Країна та місто перебування
        .group
            input(type='text', name='roaming[country]')


    .row: .column.full
        label Назва мережі роумінг-оператора
        .group
            input(type='text', name='roaming[operator]')
        p.signature Вкажіть назву мережі роумінг-оператора, що відобажається на екрані телефону


    .row: .column.full
        label Модель вашого мобільного телефону
        .group
            input(type='text', name='roaming[model]')
        p.signature Вкажіть модель вашого мобільного телефону. Наприклад, iPhone 4s


    .row: .column.full
        label Якими послугами користуєтесь
        .group
            input(type='text', name='roaming[services]')
        p.signature Вкажіть типи послуг. Наприклад, звінки, SMS, доступ до інтернету тощо.


    .row: .column.full
        label Що чуєте / бачите на телефонi
        .group
            input(type='text', name='roaming[see]')
        p.signature Надайте опис якомога детальніше.


    .row: .column.half
        label Дата виникнення проблеми
        .group
            input(type='text', name='roaming[when]')
        p.signature Вкажіть, як давно спостерігаються проблеми.


    .row
        .column.half
            label Рівень сигналу
            .group
                input(type='text', name='roaming[signal]')
            p.signature Вкажіть кількість поділок сигналу.

        .column.half
            label Тип сигналу
            .group: .select: select(name="roaming[signal_type]")
                option(value="1") Стійкий
                option(value="0") Не стійкий
