fieldset.category-container.target-services
    .row
        .column.full
            label Тип послуги
            .group: .select: select(name="services[type]")
                option(value="goodok") Гудок
                option(value="messages") Передача повідомлень
                option(value="content") МТС Клік, контент, підписки
                option(value="packages") Пакети хвилин, sms, МБ
                option(value="other") Інші послуги