fieldset.category-container.target-service
    .row: .column.full: label: strong Тип точки обслуговування
    .row
        .column.third
            label.radio
                input(type="radio", name="service[point]", value="shop", data-toggle=".subcategory-service", checked)
                .label Магазин
        .column.third
            label.radio
                input(type="radio", name="service[point]", value="center", data-toggle=".subcategory-service")
                .label Центр обслуговування абонентів
        .column.third
            label.radio
                input(type="radio", name="service[point]", value="chat", data-toggle=".subcategory-service")
                .label Online Chat

    include service/shop
    include service/center
    include service/chat