.page-3g
  @media(min-width: $screen-md-min)
    margin-top: 20px


  .bread-crumps
    display: none

  .page-title
    margin-bottom: 10px

  .features
    ul, li
      list-style: none
      margin: 0
      padding: 0
      &:before
        content: none
        margin: 0
        padding: 0
        position: static
        display: inline-block
        vertical-align: top
    li
      margin: 10px 0
      height: 45px
      &.quality:before
        content: url("/img/3g/quality.png")
        margin: -3px 20px 0 7px
      &.coverage:before
        content: url("/img/3g/coverage.png")
        margin: -3px 10px 0 0
      &.tarifs:before
        content: url("/img/3g/tarifs.png")
        margin: -12px 20px 0 10px
    @media(min-width: 800px)
      ul
        display: table
        width: 100%
      li
        margin: 0
        padding-left: 20px
        display: table-cell
        &:before
          margin-left: 0 !important
          margin-right: 20px !important
