.error-container
  text-align: center
  max-width: 940px
  margin: 0 auto 60px
  @media (max-width: $screen-lg - 1) and (min-width: $screen-md)
    max-width: 860px
    padding-left: 40px
  h1
    color: $red
    margin-top: 25px
    font-size: 2.625em
  p
    font-size: 1.1125em
    color: $black
    margin-top: 33px
    margin-bottom: 8px
  .help
    margin-top: 0px
    font-size: 1.5em
  .links-container
    margin-top: 26px
    margin: 0 auto
  a
    text-decoration: underline
    color: $red
    font-size: 1.1125em
    padding-right: 15px
    margin-left: 15px
    border-right: 2px solid #dadada
    &:last-child
      border-right: none
