.inner-content-container.feedback
  input[disabled]
    color: $gray-light
  hr
    margin: 30px 0
  .row
    padding: 10px 0
  .submit
    .btn
      margin: 0
  fieldset
    border: none
    padding: 0
    margin: 0
    display: block
  fieldset[disabled]
    display: none
  .loader
    text-align: center
    padding: 0 20px
    //display: inline-block
    display: none
    &.show
      display: inline-block
  .response
    display: none
    padding: 25px 80px
    color: $white
    .close
      display: none // oh, designers....
      float: right
      cursor: pointer
      padding: 0
      margin: 0
      background: none
      color: inherit
      border: none
    &.error
      background: $yellow
      color: $black
      //.close
        display: none
    &.success
      background: $green
      color: $white
  .file-group
    border: none
    input
      padding: 0
      height: auto
    &.error
      border: 1px solid $red
      input
        margin: 6px 10px
  .group + .signature
    opacity: 0
    transition: opacity 0.3s
  .group.active + .signature,
  .group.error + .signature
    opacity: 1
