#page_main
  > .container
    padding: 0
  .inner-content-container
    padding: 0
    margin: 0 auto
    background: none
    .container
      padding: 0
  .banners
    +make-row
    padding: 0 0 10px 0
    max-width: 1180px
    margin: 0 auto
    @media(min-width: $screen-md-min)
      padding-bottom: 20px
    &.one
        .banner
            float: none !important
            margin: 0 auto
    &.two
        max-width: 940px
        .banner
            +make-md-column(6)
            &:first-child
                padding-left: 10px
                padding-right: 10px
                @media(min-width: $screen-md-min)
                    padding-left: 0
            &:last-child
                padding-left: 10px
                padding-right: 10px
                @media(min-width: $screen-md-min)
                    padding-right: 0
    .banner
      +make-md-column(4)
      padding: 0 10px
      margin: 20px 0
      display: block
      &:first-child
        margin-top: 0
      @media(min-width: $screen-md-min)
        margin: 0
      .cnt
        display: block
        height: 240px
        box-sizing: border-box
        background:
          color: $gray
          position: center
          size: cover
          repeat: no-repeat
        border-radius: $borderRadius
        padding: 25px 20px
        .title
          color: $red
          font-size: 22px
          font-weight: bold
          line-height: 24px
          @media(min-width: $screen-sm)
            width: 55%
        .subtitle
          color: $white
          font-size: 16px
          margin-top: 10px
          @media(min-width: $screen-sm)
            width: 55%
        &.red
          .title, .subtitle
            color: $red
        &.gray
          .title, .subtitle
            color: $gray-dark
        &.white
          .title, .subtitle
            color: $white
