.inner-content-container.network
  .coverage
    font-size: 18px
    
  .filter
    padding: 20px 0 30px
    @media (min-width: $screen-md-min)
      padding-bottom: 39px
    .legend
      float: right
      font-size: 16px
      padding-top: 20px
      @media(max-width: $screen-xs-max)
        float: none
        margin: -10px 0 10px
      .legend-3g
        img
          height: 26px
          vertical-align: middle
          margin-right: 1ex
    .state
      .select
        background-position: right 14px center
        border-color: #ccc
        border-radius: $borderRadius
        display: inline-block
        vertical-align: middle
        width: 280px
        select
          padding-left: 15px
          padding-top: 1px
          height: 38px
        &:after
          border-left: 1px solid #ccc
          width: 13px

      label
        display: inline-block
        vertical-align: middle
        font-size: 16px
        font-weight: bold
      select
        font-size: 16px
        color: $black
      @media(max-width: $screen-xs-max)
        .select
          display: block
          width: 100%
      @media(min-width: $screen-sm-min)
        label
          margin-right: 6px
          padding-top: 1px

  .map-title
    +clearfix
    border-top: 20px solid #eee
    border-bottom: 1px solid #eee
    padding: 40px 0 17px
    h1
      float: left
      margin: 0

  .map-buttons
    button
      +transition(color 0.3s, background 0.3s, border-color 0.3s)
      outline: none
      background: $gray-lightest
      border: 1px solid $gray-lighter
      border-radius: $borderRadius
      font-size: 16px
      padding: 6px 20px 5px
      &:hover
        background: $gray-lighter
        color: $red
      &.active
        background: $violet
        color: $white
        border-color: $violet
    .btn_listing
      &.disabled
        visibility: hidden
      @media(max-width: $screen-xs-max)
        float: right
        margin-top: -2px
    @media(min-width: $screen-sm-min)
      float: right
      margin-top: -2px

  .map-coverages
    font-size: 0
    button
      &:first-child
        +border-right-radius(0)
        border-right: 0
      &:last-child
        +border-left-radius(0)
        border-left: 0
    @media(max-width: $screen-xs-max)
      clear: both
      padding-top: 12px
      button
        width: 50%
    @media(min-width: $screen-sm-min)
      display: inline-block
      margin-left: 16px

  .map-wrapper
    border-bottom: 20px solid #ee
    position: relative
    overflow: hidden

  .map-search
    background: #fff
    border: 1px solid #cccccc
    border-radius: $borderRadius
    color: #000
    font: 16px vodafone_rg, arial, sans-serif
    visibility: hidden
    margin: 20px 0 0 20px
    position: absolute
    height: 42px
    width: calc(100% - 40px)
    max-width: 460px
    +icon(search, #000, 20px)
    &:before
      position: absolute
      top: 9px
      right: 11px
    input
      background: none
      border: none
      font: inherit
      display: block
      padding: 2px 40px 0 15px
      position: relative
      width: 100%
      height: 100%
      &::-webkit-input-placeholder
        color: #000
        opacity: 1
      &::-moz-placeholder
        color: #000
        opacity: 1
      &:-ms-input-placeholder
        color: #000
        opacity: 1
      &:focus
        outline: none
        &::-webkit-input-placeholder
          color: transparent
        &::-moz-placeholder
          color: transparent
        &:-ms-input-placeholder
          color: transparent
    @media (min-width: $screen-sm-min)
      margin-left: 31px
      width: calc(100% - 62px)
  .map
    background: $gray
    height: 600px
    position: relative
    @media(max-width: $screen-sm-max)
      height: 400px
    .map-search
      position: relative
      visibility: visible

  .map-listing
    +transition(opacity 0.3s, transform 0.3s, visibility 0s ease 0.3s)
    +transform-origin(0 0 0)
    -webkit-transform: translateZ(0) rotateX(90deg)
    -ms-transform: translateZ(0) rotateX(90deg)
    transform: translateZ(0) rotateX(90deg)
    background: #fff
    opacity: 0
    visibility: hidden
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    &.opened
      +transition(opacity 0.3s, transform 0.3s)
      -webkit-transform: translateZ(0) rotateX(0deg)
      -ms-transform: translateZ(0) rotateX(0deg)
      transform: translateZ(0) rotateX(0deg)
      opacity: 1
      visibility: visible

    .close_listing
      +rotate(45deg)
      background: none
      border: 0
      position: absolute
      top: 8px
      right: 8px
      width: 25px
      height: 25px
      @media(min-width: $screen-sm-min)
        top: 31px
      @media(min-width: $screen-md-min)
        right: -4px

      &:before,
      &:after
        background: #2d2d2d
        content: ''
        position: absolute
        top: 0
        left: 0
      &:before
        width: 1px
        height: 100%
        left: 12px
      &:after
        width: 100%
        height: 1px
        top: 12px
    h2
      @media (min-width: $screen-md-min)
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

    
  .points
    font-size: 16px
    ol
      li
        margin-top: 14px !important
        margin-bottom: 14px !important
        position: relative
      @media(min-width: $screen-md-min)
        padding-left: 24px
    a
      border-bottom: 1px dotted rgba(0,0,0,.5)
      color: $black
      display: inline-block
      text-decoration: none
      line-height: 1
      padding-top: 2px
      @media(min-width: $screen-md-min)
        padding-top: 5px
      &:hover
        color: $red
        border: none
  .district
    padding: 5px 0
    &:last-child
      border-bottom: none
    > strong
      display: block
      font-weight: normal
      font-size: 1.2em
      cursor: pointer
      &:after
        //margin-left: 1ex
        //content: ''
        //display: inline-block
        //vertical-align: middle
        //border: 5px solid transparent
        //border-bottom-color: inherit
        //border-top-width: 0
        +rotate(180deg)
        content: ''
        display: inline-block
        vertical-align: middle
        +square(7px)
        margin-left: 7px
        border-radius: 50%
        background: $gray-lighter url('/img/dropdown-tiny.png') center no-repeat
      @media(min-width: $screen-md-min)
        margin-left: 24px
    .collapse
      display: none
      position: relative
    &.collapsed

      > strong
        &:after
          +rotate(0deg)
          //border-top-width: 5px
          //border-top-color: inherit
          //border-bottom-width: 0

  .scrollable
    overflow: auto
    margin-top: -1px
    max-height: 210px
    @media(min-width: 500px)
      max-height: 230px
    @media(min-width: $screen-sm-min)
      max-height: 280px
    @media(min-width: $screen-md-min)
      max-height: 450px
    &::-webkit-scrollbar
      background: none
      opacity: 1
      width: 8px
    &::-webkit-scrollbar-track
      background: none
    &::-webkit-scrollbar-thumb
      background-color: #c5c5c5
      border-radius: 4px
      outline: none
