.news-page-title-container
  position: relative
  z-index: 10

  .page-title, .period-filter
    display: inline-block
    vertical-align: middle
    
  .period-filter
    border: none
    background: none
    color: $red
    margin-left: 15px
    +icon(dropdown-tiny, $violet, 3px)
    &:before
      vertical-align: middle
      background: $yellow
      border-radius: 50%
      padding: 3px 2px
      margin-top: -3px
      margin-right: 5px
    span
      border-bottom: 1px dotted
    &:hover span
      border-bottom: none
   
      
  
  .calendar
    display: none
    //position: absolute
    //left: 0
    //top: 100%
    margin-top: 10px
    margin-bottom: 10px
    padding-left: 1px
    .years, .months
      +btn-group($gray-lighter)
      +clearfix
    .months
      a
        margin-top: -1px
        padding:
          left: 10px
          right: 10px
        &:first-child
          border-top-left-radius: 0
      .buttons
        +clearfix
        clear: both
        padding-top: 10px
        a
          margin-right: 10px
          background: $red
          color: $white!important
          padding: 6px 15px
          border-radius: $borderRadius
          &:hover
            color: $red!important
            background: $white
          &.reset
            background: $gray
            &:hover
              color: $black!important
            
      .close
        border: none
        color: $red
        margin-left: 0
        background: none
        +icon(close-small, inherit, 7px)
        font-size: 12px
        padding:
          top: 8px
          bottom: 8px
          
        &:before
          vertical-align: middle
          margin-top: -2px
          margin-right: 5px
        span
          border-bottom: 1px dotted
        &:hover span
          border-bottom: none
    .years
      a:first-of-type, a:last-of-type
        +border-bottom-radius(0)
    a.disabled
      color: $gray-light!important
      cursor: default
      
  .select-type
    float: right
    font-size: 16px
    +btn-group
    @media(max-width: $screen-xs-max)
      float: none
      +clearfix
      margin-bottom: 15px

.inner-content-container.news
  background: none
  margin-bottom: 20px
  padding-top: 0
  
  .news-item
    background: $white
    margin-bottom: 20px
    padding:
      top: 20px
      bottom: 20px
    &:first-child
      padding-left: 10px
    @media(min-width: $screen-md-min)
      border-radius: $borderRadius
      padding:
        top: 45px
        bottom: 45px
    +clearfix
    float: none
    h1
      font-size: 24px
      margin: 0
      a
        color: $black
        text-decoration: none
        &:hover
          color: $red
          text-decoration: none
    .date
      font-size: 14px
    .excerpt
      margin-top: 20px
