.inner-content-container.pay
  padding:
    top: 50px
    bottom: 50px

  .label
    font-weight: bold
    clear: both
    display: block
  hr
    margin: 0 0 20px 0
  .num, .account, .sum, .presets
    float: left
    margin-bottom: 20px
    @media(max-width: $screen-xs-max)
      float: none
      margin-right: 0!important
      
    label
      display: block
    .group
      margin-top: 5px
    .signature
      margin: 5px 0 0 0
  .presets
    width: 293px
    margin-right: 20px
    .group
      width: 100%
      display: flex
      justify-content: space-between
      border: none
    button
      margin-top: 0
      height: 40px
      background: $gray-light
      padding: 3px 20px 0
      width: 33%
      flex-shrink: 1
      &.active
        background: $red
      &:first-child
        margin-left: 0
  .num, .account
    +transition(opacity 0.3s)
    &.disabled
      opacity: 0.5
  .num
    margin-right: 20px
    .group
      border: 1px solid $gray-light
      border-radius: $borderRadius
      overflow: hidden
      +clearfix
      > *
        display: inline-block
        vertical-align: top
        height: 40px
        box-sizing: border-box
        float: left
        border: none
      span
        color: $white
        background: $gray-light
        padding: 9px 10px 5px 20px
        float: left
        width: 55px
      .select
        width: 70px
        float: left
        border-radius: 5px
        &:after
          right: 0
          //width: 28px
          //background: $white url("/img/icons/arr_bottom.svg") right 10px center no-repeat
          background: none
          background-size: 10px
          pointer-events: none
          
      select
        //margin-top: 3px
        height: 40px
        width: 120px
      input
        border: none
        border-left: 1px solid $gray-light
        padding: 6px 10px
        width: 100%
        float: left
        height: 40px
      .input
        margin-left: 125px
        display: block
        width: auto
        float: none
    
  .account
    margin-right: 20px
    .group
      border: 1px solid $gray-light
      border-radius: $borderRadius
      overflow: hidden
      width: 300px
      @media(max-width: $screen-xs-max)
        width: 100%
      input
        display: inline-block
        vertical-align: top
        height: 40px
        box-sizing: border-box
        border: none
        padding: 6px 10px
        width: 300px
      
  //.num, .account
    input + .label img
      opacity: 0.5
      +transition(opacity 0.3s)
    input:checked + .label img
      opacity: 1
      
  .sum
    .group
      border: none
    input
      height: 40px
      padding: 6px 10px
      width: 75px
      text-align: right
      box-sizing: border-box
      border: 1px solid $gray-light
      border-radius: $borderRadius
      vertical-align: middle

    span
      color: $gray-dark
      margin-left: 1ex
      vertical-align: middle
    
  .method
    clear: both
    padding: 30px 0 20px
    label
      display: inline-block
      vertical-align: middle
      margin-right: 60px
      margin-bottom: 20px
      input
        margin-right: 10px
    .pb img
      margin-top: -5px
    .portmone img
      margin-top: -2px
    .easypay img
      margin-top: -14px
    input + .label img
      opacity: 0.5
      +transition(opacity 0.3s)
    input:checked + .label img
      opacity: 1
    
  .submit
    margin-top: 10px
    .btn
      width: 140px