.roaming-page-title-container
  .select-type
    float: right
    font-size: 16px
    +btn-group
    @media(max-width: $screen-xs-max)
      float: none
      +clearfix
      margin-bottom: 15px
    
.inner-content-container.roaming
  padding-top: 0
  .map
    width: 100%
    
  .countries
    .accordion
      border-top: 1px
    .panel
      border-bottom: 1px
      .content
        padding: 20px 0
    ul, li
      list-style: none
      margin: 0
      padding: 0
      &:before
        content: none
    li
      padding: 20px
      margin: 0 -20px
      font-weight: bold
      @media(max-width: $screen-sm-max)
        margin: 0 -10px
      
      &:nth-child(even)
        background: $gray-lightest
        
  .tariffs
    .accordion
      border-top: 1px
      .panel
        border-bottom: 1px
    th
      font-weight: normal
    col
      width: 33%
      
  .roaming
    border: 1px solid $gray
    border-radius: $borderRadius
    overflow: hidden
    font-size: 16px
    table
      margin-bottom: 0
      table-layout: fixed
      border: none
      td, th
        padding: 20px
      thead
        font-size: 18px
        td:first-child
          color: $red
        td
          position: relative
          vertical-align: middle
          line-height: 1em
          &:after
            content: ''
            position: absolute
            bottom: 0
            left: 20px
            right: 20px
            border-top: 1px solid $gray-lighter
      tbody
        tr
          background: none
        kbd
          margin-top: 25px
        td
          vertical-align: top
      col
        width: 50% / 3
        &:first-child
          width: 50%
        &:last-child
          border-left: 1px solid $gray-lighter
      col.accent
        background: $gray-lightest
      ul
        padding-left: 20px
      li
        margin: 20px 0 20px 30px
        &:first-child
          margin-top: 0
        &:last-child
          margin-bottom: 0
      .price
        white-space: nowrap
        line-height: 1em
        strong, span
          display: inline-block
          vertical-align: top
        strong
          font-size: 2.2em
          line-height: 1em
        span
          margin-top: -2px
          margin-left: 5px
          font-size: 14px
          
  table.striped
    th
      font-weight: normal