.inner-content-container.search-results
  background: none
  margin-bottom: 40px
  padding-top: 0
  
  > .wrap
    background: $white
    border-radius: $borderRadius
    margin-bottom: 10px
    
  .search-box
    background: $gray-dark
    +border-top-radius($borderRadius)
    padding: 40px 10px
    @media(min-width: $screen-md-min)
      padding: 40px 30px
    > .container
      padding: 0

    form, .counter
      +clearfix
    .counter
      color: $white
      padding-top: 15px
    .search-input-wrap
      margin-right: 20%
    .search-input
      border-radius: $borderRadius
      border: 1px solid $gray
      padding: 15px 10px
      box-sizing: border-box
      width: 100%
      height: 50px
    .submit-wrap
      width: 20%
      padding-left: 10px
      float: right
    .submit
      color: $white
      background: $red
      //padding: 16px 10px
      border: none
      text-align: center
      border-radius: $borderRadius
      box-sizing: border-box
      width: 100%
      margin-left: 1%
      float: left
      height: 50px

    .close
      margin-left: 0
      clear: both
  @media(max-width: 585px)
    .submit-wrap
      width: 110px
    .search-input-wrap
      margin-right: 110px
  
  .search-result
    border-bottom: 1px solid $gray-lighter
    padding: 30px 0
    > .container
      position: relative
    .index
      display: none
      @media(min-width: $screen-md-min)
        font-size: 14px
        display: block
        position: absolute
        left: -22px
        top: 3px
        min-width: 15px
        text-align: center
    h1
      margin: 0
      padding: 0
      font-size: 24px
      color: $black
    .url
      font-size: 14px
      color: $gray
    a
      text-decoration: none
      &:hover
        color: $red!important
        text-decoration: none
        h1, .url
          color: $red!important
        .url
          text-decoration: underline
      .url
        word-break: break-all
    .excerpt
      margin-top: 20px