.inner-content-container.settings
  .page-title
    margin-bottom: 0
  .important
    color: $red

  .settings-content
    //margin-top: 35px

  .settings-block-container
    padding-bottom: 0
    margin-bottom: 0

  .settings-auto > form
    margin-top: 35px

  .settings-manual
    padding-top: 5px

  .num, .captcha
    float: left
    margin-bottom: 20px
    @media(max-width: $screen-xs-max)
      float: none
      margin-right: 0!important

    label
      display: block
    .group
      margin-top: 5px
    .signature
      margin: 5px 0 0 0

  .num
    margin-right: 20px
    .group
      border: 1px solid $gray-light
      border-radius: $borderRadius
      overflow: hidden
      +clearfix
      > *
        display: inline-block
        vertical-align: top
        height: 45px
        box-sizing: border-box
        float: left
        border: none
      span
        color: $white
        background: $gray-light
        padding: 11px 10px 5px 20px
        float: left
        width: 55px
      .select
        width: 70px
        float: left
        &:after
          right: 0
          background: $white url("/img/icons/arr_bottom.svg") right 10px center no-repeat
          background-size: 10px
          pointer-events: none

      select
        //margin-top: 3px
        height: 45px
        width: 120px
      input
        border: none
        border-left: 1px solid $gray-light
        padding: 6px 10px
        width: 100%
        float: left
        height: 45px
      .input
        margin-left: 125px
        display: block
        width: auto
        float: none

  .captcha
    .label
      margin-left: 80px
    img
      float: left
      width: 80px
      height: 45px
    input
      border: 1px solid $gray-light
      border-radius: $borderRadius
      height: 45px
      vertical-align: top
      padding: 6px 10px
      float: left
    .group
      position: relative
    a
      display: block
      position: absolute
      left: 0
      top: 50px
      text-decoration: none
      border-bottom: 1px dashed
      font-size: 14px
      line-height: 12px
      &:hover
        border-bottom: none

  .submit
    clear: both

  .agreement
    +clearfix
    margin-top: 20px
    font-size: 14px

  .response
    display: none
    padding: 25px 80px
    color: $white
    .close
      float: right
      cursor: pointer
      padding: 0
      margin: 0
      background: none
      color: inherit
      border: none
    &.error
      background: $yellow
      color: $black
    &.success
      background: $green
      color: $white