.shops-page-title-container
  .filter
    float: right
    margin-top: -15px
    @media(max-width: $screen-xs-max)
      width: 100%
    .region, .city
      display: inline-block
      vertical-align: top
      margin-left: 20px
      @media(max-width: $screen-xs-max)
        width: 100%
        margin: 10px 0
        .select
          width: 100%
      label
        display: block
        font-size: 12px

.inner-content-container.shops
  background: none
  margin-bottom: 20px
  padding-top: 0

  .shop-item
    background: $white
    margin-bottom: 20px
    font-size: 16px
    padding:
      top: 20px
      bottom: 20px
    +transition(background-color 0.3s)
    //*
      //+transition(color 0.3s)
    &.expanded
      background: $gray-dark
      color: $white
      @media(min-width: $screen-md-min)
        .print
          display: block
      *
        color: $white!important
    @media(min-width: $screen-md-min)
      border-radius: $borderRadius
      overflow: hidden
      padding:
        top: 45px
        bottom: 45px
    .row
      @media(max-width: $screen-sm-max)
        margin: 0
    +clearfix
    float: none
    .print
      display: none
      @media(min-width: $screen-md-min)
        position: absolute
        margin: 0
        margin-left: -60px
        +size(16px, 14px)
        background: url("/img/print-icon.png") center no-repeat
        border: none
        padding: 0
    ul, li
      margin: 0
      padding: 0
      list-style: none
      &:before
        content: none
    h1
      font-size: 24px
      margin: 0 0 20px 0
      address
        display: inline
        font-style: inherit
        font-size: inherit
        color: inherit
        +icon(geotag, $red, 16px)
        &:before
          margin-right: 5px
          position: relative
          top: -2px
    &.expanded h1 address:before
      color: $white
    .show-map
      display: inline
      padding: 0
      margin: 0
      background: none
      border: none
      height: auto
      line-height: 1em
      color: $red
      border-bottom: 1px dotted
      font-size: 14px
      &:hover
        border-bottom: none
    .time
      h2
        font-size: 12px
        margin: 24px 0 8px 0

    .map-container
      display: none
      width: 100%
      height: 500px
      background: $gray-light
      position: relative
      top: 45px
      @media(max-width: $screen-sm-max)
        top: 20px
