.site-map-container
  text-align: left
  max-width: 940px
  margin: 0 auto
  @media (max-width: $screen-lg - 1) and (min-width: $screen-md)
    max-width: 860px
    padding-left: 40px
  .house-img
    background-image: url(../img/featured/home.png)
    background-position: left
    background-repeat: no-repeat
    height: 11px
  h1
    font-size: 2.625em
    margin-top: 16px
    margin-bottom: 22px
  .column
    width: 33.3%
    float: left
    padding-right: 10px
    @media(max-width: $screen-sm)
      width: 100%
    ul
      margin: 0
      padding: 0
      list-style-type: none
      display: block

    .first-level
      li
        margin-top: 4px
        a
          color: #e60000
          font-size: 30px

    .second-level
      margin-top: 13px
      li
        margin-bottom: 15px
        a
          font-size: 24px
          color: #000
    .third-level
      margin-top: 6px
      li
        &:last-child
          margin-bottom: 17px
        margin-bottom: 8px
        a
          font-size: 16px
  .map-container-row
    margin-bottom: 60px
    &::after
      clear: both
      content: " "
      display: block
