.inner-content-container.tarifs
  
  $breakpoint: $screen-sm-max
  $pixel: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mPY9B8AAmYBsmh7cMAAAAAASUVORK5CYII='

  .container.wider
    @media(max-width: $breakpoint)
      overflow: hidden
  > .column.full
    padding: 0

  h2
    color: $red
    @media(max-width: $breakpoint)
      margin: 0 10px 10px
  
  .tarif-table-control
    float: right
    white-space: nowrap
    margin-bottom: 10px
    @media(max-width: $breakpoint)
      display: none
    .status
      display: inline-block
      vertical-align: baseline
      span
        font-weight: bold
        
    .arrows
      vertical-align: middle
      margin-top: -4px
      margin-left: 15px
      +btn-group()
      display: inline-block
      .left
        +icon(arr_left, $gray-dark, 9px)
      .right
        +icon(arr_right, $gray-dark, 9px)
      .btn
        +square(30px)
        padding: 0
        vertical-align: middle
      
    
  .tarif-table
    +clearfix
    clear: both
    border-radius: 5px
    overflow: hidden
    @media(min-width: $breakpoint + 1px)
      margin-left: 0!important
      user-select: all!important
    @media(max-width: $breakpoint)
      white-space: nowrap
    .pan-trigger
      display: none
      @media(max-width: $breakpoint)
        display: block
    .headings, .tarifs
      float: left
      width: 50%
      @media(max-width: $breakpoint)
        float: none
        display: inline-block
        vertical-align: top
        white-space: normal
    table
      table-layout: fixed
      border: none
    td
      vertical-align: middle
      body.ie &
        //border-bottom: 1px solid #b2b2b2
        background: url($pixel) bottom no-repeat
        background-size: 80% 1px
      &:after
        //border-color: #b2b2b2
        body.ie &
          content: none
    tbody, tfoot
      td
        height: 60px
    thead
      td
        height: 70px
      tr:last-child
        td
          height: 90px
    tfoot
      tr:last-child td
        body.ie &
          background: none
        
    .headings
      width: (100% / 3)
      @media(max-width: $breakpoint)
        width: floor($container-md / 3)
      td 
        font-size: 16px
        padding:
          top: 5px
          bottom: 5px

        &.main-title
          font-size: 24px
        &.naked
          background: none
          &:after
            content: none
            body.ie &
              border-bottom: none
      col
        //width: 50%
        width: floor($container-md / 4)
        border-left: 1px solid $gray
        background: $gray-lightest
        &:first-child
          border-left: none
      thead
        strong
          color: $red
      tbody
        //font-weight: bold
        tr:last-child
          td
            background: none
          td:after
            content: none
      tfoot
        font-weight: bold
        font-size: 16px
        background: #f1f1f1
        tr:last-child
          td:after
            content: none
      
    
    .tarifs
      overflow: hidden
      width: calc(66.666667% - 1px) // компенсация округлений для ширины колонки
      @media(max-width: $breakpoint)
        //width: auto
        overflow: visible
        margin-left: -0.5ex
      table
        table-layout: fixed
        border: none
        max-width: none
        background: none
        width: 100%
        @media(max-width: $breakpoint)
          margin-left: 0!important
          width: 100% !important
        td
          padding:
            top: 5px
            bottom: 5px

          &:after
            //border-color: #b2b2b2
            body.ie &
              content: none
        col
          width: floor($container-md / 6)
          border: 1px solid #b2b2b2
          border-radius: $borderRadius
          &.over
            background: $gray-lightest
            text-align: center
            border: none
          
        tbody tr:last-child
          td
            background: none
          td:after
            content: none
          
        thead
          td
            text-align: right
            font-size: 14px
            position: relative
            @media(max-width: $screen-sm-max)
              &:not(.over)
                padding-left: 70px
              
            strong
              font-size: 30px
              vertical-align: baseline
              white-space: nowrap
            span
              position: absolute
              +square(60px)
              border-radius: 50%
              background: $red
              color: $white
              text-align: center
              font-size: 30px
              font-weight: bold
              line-height: 65px
              z-index: 10
              left: 10px
              top: 15px
            &.over
              font-size: 18px
              text-align: center
          tr:last-child
            td
              &:after
                content: ''
                body.ie &
                  content: none
              &:before
                content: ''
                position: absolute
                top: 0
                left: 20px
                right: 20px
                border-top: 1px solid #e5e5e5
                body.ie &
                  content: none
          tr:last-child
            body.ie & td
              //border-bottom: 1px solid #b2b2b2
              background:
                image: url($pixel), url($pixel)
                position: top, bottom
                repeat: no-repeat, no-repeat
                size: 80% 1px, 80% 1px!important
        tbody
          text-align: center
        tfoot
          background: #f1f1f1
        
        
      thead td, tr:last-child td
        &.over
          &:before
            content: ''
            +size(3px, 2px)
            background: url('/img/table-round-top.png') top no-repeat
            position: absolute
            top: 0px!important
            left: -2px!important
            bottom: auto!important
        &.decor
          background:
            size: 100% 5px!important
            repeat: no-repeat
            position: top
            image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPw8vX7DwADrwHlXL///wAAAABJRU5ErkJggg==)
          &:before
            content: ''
            +size(3px, 2px)
            background: url('/img/table-round-top.png') top no-repeat
            position: absolute
            top: -1px!important
            left: -2px!important
            bottom: auto!important

          &.last
            &:after
              content: ''
              +size(3px, 2px)
              background: url('/img/table-round-top.png') top no-repeat
              position: absolute
              top: -1px
              left: 100%
              margin-left: -1px
              border: none

          //&:before
            content: ''
            +square(1px)
            border: none
            background: rgba(255, 255, 255, 0.5)!important
            position: absolute
            top: -1px
            left: -1px
            border-top: 1px solid #fff
            box-sizing: content-box
          //&:after
            content: ''
            +size(3px, 1px)
            border: none
            background: rgba(255, 255, 255, 0.5)!important
            position: absolute
            top: -1px
            left: 100%
            margin-left: -1px



      tr:last-child td
        body.ie &
          //border-bottom: 1px solid #b2b2b2
          background: url($pixel) bottom no-repeat
          background-size: 80% 1px

      tfoot tr:last-child td, tbody tr:last-child td
        background-position: bottom!important
        background-image: none
        &.decor
          &:before
            top: auto!important
            bottom: -1px!important
            background: url('/img/table-round-bottom.png') top no-repeat
          &.last
            &:after
              top: auto!important
              bottom: -1px!important
              background: url('/img/table-round-bottom.png') top no-repeat
          //&:before
            top: auto
            bottom: -1px
            border-top: none
            border-bottom: 1px solid $panel-warning-heading-bg
          //&:after
            content: ''!important
            top: auto
            bottom: -1px


  .tarif-group
    &.prepaid
      thead td, tr:last-child td
        // awesome service: http://px64.net/
        &.s
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNYsYXhPwAFwAJcldtUjwAAAABJRU5ErkJggg==)!important
        &.m
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNg2HDqPwAEqAJ6h8aXaAAAAABJRU5ErkJggg==)!important
        &.l
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOYo7XgPwAFMgJmPKQWHAAAAABJRU5ErkJggg==)!important
        &.xl
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNYsYXhPwAFwAJcldtUjwAAAABJRU5ErkJggg==)!important
        &.xxl
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNg2HDqPwAEqAJ6h8aXaAAAAABJRU5ErkJggg==)!important
      thead
        tr:last-child td
          &.decor
            &:before
              top: -2px
              bottom: auto
            span
              top: 17px
        .over
          &:before
            content: ''
            +size(3px, 2px)
            background: url('/img/table-round-top.png') top no-repeat
            position: absolute
            top: -2px
            left: -2px!important
            right: auto!important
    &.contract


      //col
      //  width: (940px / 4)!important
      //  @media(max-width: $breakpoint)
      //    width: (700px / 4)!important
      .headings
        width: 40%
        //min-width: 350px
        //@media(max-width: $breakpoint)
        //  width: (700px / 2)
      .tarifs
        width: 60%
        overflow: visible
        //@media(max-width: $breakpoint)
        //  width: (700px / 4)
        td
          text-align: center!important
      thead td, tr:last-child td
        &.m
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNg2HDqPwAEqAJ6h8aXaAAAAABJRU5ErkJggg==)
        &.xl
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN4PZ3hPwAGdQKCRfLiXAAAAABJRU5ErkJggg==)
      @media (max-width: $screen-sm-max)
        .headings
          min-width: 250px
        .tarifs
          min-width: 450px

    &.prepaid
      .headings
        width: 33%
        table
          col
            width: 180px
      .tarifs
        width: calc(67% - 1px)
        table
          col
            width: 148px
      @media(max-width: $breakpoint)
        .headings
          width: 280px
        .tarifs
          width: calc(100% - 280px)
      @media(min-width: $breakpoint + 1px) and (max-width: 1200px)
        .headings
          width: 24%
        .tarifs
          width: 76%

    &.business
      .headings
        width: 50%
        table
          col
            width: 100px
      .tarifs
        width: calc(50% - 1px)
        table
          width: calc(200% - 1px)
          col
            width: 128px
        tfoot td
          text-align: center
      @media(max-width: $breakpoint)
        .headings
          width: 450px
      @media(min-width: $breakpoint + 1px) and (max-width: 1200px)
        .headings
          width: 40%
        .tarifs
          width: calc(60% - 1px)
          table
            col
              width: 120px
            thead
              td
                span
                  font-size: 24px
                  line-height: 55px
                  width: 50px
                  height: 50px

    & + blockquote
      @media(max-width: $breakpoint)
        margin: 10px