#footer
  background: $gray-darkest
  color: $gray-light
  > .container
    padding: 0
    width: auto
    max-width: 1180px
    @media (min-width: $screen-md-min) and (max-width: 1180px + 80px + 80px - 1px)
      margin: 0 80px

  strong, address
    font-weight: normal
    font-style: normal
    color: $white
    display: inline
  .contact
    text-align: center
    padding: 20px 0
    border-bottom: 1px solid $gray-dark
    +clearfix

    @media(max-width: $screen-sm-max)
      padding-bottom: 15px
      margin: 0 10px

  .menu
    +make-row()
    margin: 0
    @media(min-width: $screen-md-min)
      padding-top: 25px
      padding-bottom: 65px
    nav
      +make-md-column(2)
      &.pravila
        display: none !important
      @media (min-width: $screen-md-min)
        width: 20%
      > strong
        display: block
        margin-bottom: 10px
        text-align: center
        font-size: 18px
        border-bottom: 1px solid $gray-dark
        padding: 0
        @media(max-width: $screen-sm-max)
          margin-bottom: 0
          margin-top: -1px
          a
            display: block
            padding: 10px 0
          span
            display: none
        @media(min-width: $screen-md-min)
          text-align: left
          border-bottom: none
          padding: 0
          &.sitemap
            margin-top: 20px
      &:last-child > strong
        border-bottom: none
    ul, li
      list-style: none
      margin: 0
      padding: 0
      color: $gray-light
      font-size: 16px
    li
      padding: 0
      border-bottom: 1px solid $gray-dark
      @media(min-width: $screen-md-min)
        padding: 2px 0
        border-bottom: none
    ul
      display: none
      text-align: center
      @media(min-width: $screen-md-min)
        display: block
        text-align: left
  .mobile-langs
    +make-row()
    margin: 0
    @media(min-width: $screen-md-min)
      display: none
    ul, li
      list-style: none
      margin: 0
      padding: 0
    li
      background: $gray-dark
      +make-xs-column(4)
      text-align: center
      padding: 0
      font-size: 18px
      border-left: 1px solid #5c5f60
      a
        display: block
        padding: 15px 0
      &:first-child
        border-left: none
      &.active a
        color: $red

  .external-links
    text-align: center
    ul
      display: block
    li
      border: 0
      display: inline-block
      font-size: 0
      margin: 0 5px
    @media(max-width: $screen-sm-max)
      padding: 15px 0
    @media(min-width: $screen-md-min)
      text-align: right
      float: right
      padding: 0
      li
        display: block
        font-size: 12px
        margin: 0 0 5px 0
    @media(min-width: $screen-lg-min)
      li
        font-size: 16px

    a
      display: inline-block
      vertical-align: middle
      &:before
        background:
          position: center
          repeat: no-repeat
        border-radius: 50%
        content: ''
        display: inline-block
        vertical-align: middle
        +square(41px)
        @media(min-width: $screen-md-min)
          +square(35px)
          margin-right: 10px
      $externals: facebook twitter youtube vkontakte instagram
      @each $ext in $externals
        &.#{$ext}:before
          background-image: url("/img/externals/#{$ext}.png")
      &.facebook:before
        background-color: #38569a
      &.twitter:before
        background-color: #00b1fc
      &.youtube:before
        background-color: #d11f00
      &.vkontakte:before
        background-color: #4d75a3
      &.instagram:before
        background-color: #eee

  .mixed
    font-size: 14px
    padding: 15px 0 10px
    color: $gray
    +clearfix
    @media(min-width: $screen-md-min)
      border-top: 1px solid $gray-dark
    .copyrights
      padding: 20px 0
      text-align: center
      border-top: 1px solid $gray-dark
      @media(min-width: $screen-md-min)
        text-align: left
        float: left
        padding: 5px 0 0 0
        border: none


  .btn
    display: inline-block
    padding: 12px 20px
    height: 50px
    color: $white
    background: $pink
    border: none
    border-radius: $borderRadius
    cursor: pointer
    text-decoration: none
    margin: 20px 4px 0
    font-size: 20px
    +soft-hover
    //&:first-of-type
    //  margin-left: 0
    //&:last-of-type
    //  margin-right: 0
    &:hover
      background: $violet
      text-decoration: none


.consult
  position: fixed
  right: 10px
  bottom: 10px
  z-index: 999
  > div
    +transition(transform 0.2s)
    +translate(0, 80px)
    position: absolute
    bottom: 0
    right: 0
    white-space: nowrap
  @media (min-width: $screen-sm-min)
    right: 20px
    bottom: 20px
  &.firstVisible
    > div:first-child
      +translate(0, 0)
  &.secondVisible
    > div:last-child
      +translate(0, 0)
  .btn
    background: #9c2aa0 no-repeat 20px 53%
    border: 0
    border-radius: 20px
    color: #fff
    cursor: pointer
    display: inline-block
    font-size: 16px
    height: 40px
    vertical-align: middle
    margin-left: 10px
    padding: 0 20px
    text-decoration: none
    &.show-buttons
      &:before
        content: '?'
        display: inline-block
        width: 30px
        height: 30px
        min-width: 30px
        margin-right: 10px
        margin-left: -15px
        padding-top: 3px
        border: 2px solid #fff
        border-radius: 20px
        text-align: center
        font-weight: bold
        vertical-align: middle
    &.btn-show-text
      background-image: url("/img/chat-icon.svg")
      padding-left: 50px
    &.btn-show-video
      background-image: url("/img/video-icon.svg")
      padding-left: 50px
    &:hover
      background-color: #e10e00
  a.btn
    display: inline-flex
    align-items: center

.consult-iframe
  display: none
  position: fixed
  width: 100%
  height: 100%
  background: rgba(0,0,0,0.5)
  z-index: 1000
  left: 0
  top: 0
  .catcher
    position: absolute
    +square(100%)
  .iframe-holder
    background: #fff
    +size(100%, 100%)
    position: absolute
    top: 0
    left: 0
    @media(min-width: 382px)
      +size(382px, 467px)
      left: 50%
      top: 50%
      margin: -234px 0 0 -191px
    iframe
      width: 100%
      height: 100%
      background: #fff
      position: absolute
      z-index: 1
    .close
      position: absolute
      z-index: 2
      +size(16px, 16px)
      background: url("/img/close-consult.png")
      cursor: pointer
      border: none
      padding: 0
      margin: 0
      top: 5px
      right: 5px