.select
  display: inline-block
  background: $white //url("/img/icons/arr_bottom.svg") right 10px center no-repeat
  background-size: 10px
  overflow: hidden
  box-sizing: border-box
  border: 1px solid $gray-lighter
  width: 220px
  position: relative
  &:before
    content: ''
    display: inline-block
    vertical-align: middle
    position: absolute
    right: 10px
    top: 50%
    margin-top: -4px
    +square(7px)
    border-radius: 50%
    background: $gray-lighter url('/img/dropdown-tiny.png') center no-repeat
    pointer-events: none
  &:after
    content: ''
    position: absolute
    display: block
    width: 1.2em
    height: 100%
    top: 0
    right: 25px
    background: $white
    //right: 0
    //background: $white url("/img/icons/arr_bottom.svg") right 10px center no-repeat
    //background-size: 10px
    z-index: 5
  @media(max-width: $screen-sm-max)
    width: 170px
  select
    background: transparent
    width: calc(100% + 28px)
    box-sizing: border-box
    padding: 0 53px 0 10px
    font-size: 18px
    line-height: 1
    border: 0
    border-radius: 0
    height: 35px
    -webkit-appearance: none
    -moz-appearance: none
    -ms-appearance: none
    appearance: none
    outline: none
    cursor: pointer
    &::-ms-expand
      display: none
    &:focus::-ms-value
      background: none
      color: inherit
    
.radio
  > .label
    cursor: pointer
    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      +square(16px)
      margin-right: 15px
      border-radius: 50%
      box-sizing: border-box
      background: $white
      margin-top: -2px
      box-shadow: 0px 0px 0px 1px $gray-light
      +transition(background 0.3s, border 0.2s)
  > input[type="radio"]
    display: none
    &:checked+.label:before
      background: $red
      border: 3px solid $white!important
      border-color: $red
      background: $red

form
  p.signature
    margin-top: 2px!important
    margin-bottom: 0!important

  .group
    border: 1px solid $gray-light
    border-radius: $borderRadius
    overflow: hidden
    width: 100%
    @media(max-width: $screen-xs-max)
      width: 100%
    input, textarea
      display: inline-block
      vertical-align: top
      height: 40px
      box-sizing: border-box
      border: none
      padding: 6px 10px
      width: 100%
    textarea
      height: auto
    &.error
      border-color: $red
      + p.signature
        color: $red
    &.num
      > *
        display: inline-block
        vertical-align: top
        height: 40px
        box-sizing: border-box
        float: left
        border: none
      span
        color: $white
        background: $gray-light
        padding: 9px 10px 5px 20px
        float: left
        width: 55px
      .select
        width: 70px
        float: left
        &:after
          right: 0
          background: $white url("/img/icons/arr_bottom.svg") right 10px center no-repeat
          background-size: 10px
          pointer-events: none

      select
        //margin-top: 3px
        height: 40px
        width: 120px
      input
        border: none
        border-left: 1px solid $gray-light
        padding: 6px 10px
        width: 100%
        float: left
        height: 40px
      .input
        margin-left: 125px
        display: block
        width: auto
        float: none
    .select
      display: block
      width: 100%
      border: none
      height: 40px
      margin: 0
      padding: 0
      select
        height: 40px

