#header

  .container
    padding: 0
    @media(min-width: $screen-md-min)
      width: auto
      padding: 0 80px 0 80px
      max-width: 1180px + 80px + 80px

  .logo
    position: absolute
    left: 0
    top: 0
    @media(max-width: $screen-sm-max)
      padding: 11px 0 0 10px
      width: 100%
      overflow: hidden
    @media(min-width: $screen-md-min)
      left: 0
      top: 20px
    img
      position: relative
      z-index: 10
      +square(60px)
    //@media(min-width: $screen-md-min)
      +square(57px)

    .romb
      position: absolute
      width: 100%
      height: 100%
      pointer-events: none
      @media(max-width: $screen-sm-max)
        width: 60px
      @media(min-width: $screen-md-min)
        width: 2000px
        height: 1100px
        max-height: 100vh
        right: 0
        top: -62px
        overflow: hidden
      &:before
        content: ''
        display: block
        position: absolute
        top: -185px
        right: -14px
        width: 150px
        height: 150px
        z-index: 5
        background-color: $red
        transform-origin: 0 100%
        border-radius: 28px
        transform: rotate(45deg)
        @media(min-width: $screen-md-min)
          width: 1500px
          height: 1500px
          transform: rotate(-45deg)
          top: -348px
          right: -452px
          border-radius: 34px

  .promo-title
    font-size: 45px
    font-weight: bold
    line-height: 1

  @import _partials/global-menu
  @import _partials/promo-section
  @import _partials/promo-inner-head