// imports for individual compile
@import "../bootstrap/variables"
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables"
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins"
@import "../variables"
@import "../mixins"
@import "../../../../public/css/icons"


.inner-content-container
  +clearfix
  background: $white
  margin: 0 -10px 30px
  font-size: 16px
  //padding-top: 30px
  padding-bottom: 30px
  position: relative
  z-index: 5

  &.transparent
    background: none

  &.white_columns
    background: none
    margin-top: -10px
    margin-bottom: 0
    > .row
      padding: 10px 0 !important
      @media (max-width: $screen-sm-max)
        margin: 0 10px
    .container,
    > .row > .row
        background: #fff
    .container
      padding: 0 10px
      @media(min-width: $screen-md-min)
        padding: 0 30px
    .column.full
      padding: 0
    .accordion
      background: #fff
      border: 0
      .panel
        border: 0


  .block
    +clearfix
    background: $white
    border-radius: $borderRadius
    margin-bottom: 20px
    padding: 50px 0 50px
    &:last-child
      margin-bottom: 0
    > .accordion
      border-top: none
      .panel:last-of-type
        border-bottom: none

  .container
    +clearfix
    width: 100%
    //padding: 10px 0
    padding:  0
    &.slim
      padding: 0

    @media(min-width: $screen-md-min)
      padding: 0 30px


  .row
    +clearfix
    padding: 10px 0
    margin-left: 0!important
    margin-right: 0!important
    &.negative-indent-top
      margin-top: -50px
    @media(min-width: $screen-md-min)
      padding: 20px 0

  .container, .row
    h1, h2, h3, h4
      &:first-child
        margin-top: 0
  .container > .row
    margin: 0 -10px

  .column
    &.full
      +make-md-column(12)
      //padding: 0
    &.half
      +make-md-column(6)
    &.third
      +make-md-column(4)
    &.two-third
      +make-md-column(8)

    padding: 0 10px
    @media(min-width: $screen-md-min)
      &.third:nth-child(2)
        padding: 0 5px
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
    &.flow-opposite
      float: right
    > img
      width: 100%

  hr
    color: $gray-lighter
    border-color: $gray-lighter
    margin: 0
    &.wide
      border-width: 15px
    &.extrawide
      border-width: 15px

  a
    color: $red
    text-decoration: underline
    &:hover
      text-decoration: none

  kbd, strike
    text-decoration: none
    font-family: inherit
    //background: #a8b400
    color: $black
    font-weight: bold
    position: relative
    height: 24px
    padding: 0 5px 0 0
    font-size: inherit
    display: inline
    //top: -1px
    border-radius: $borderRadius
    margin-right: 11px
    +icon(phone, $black, 0.7em)
      line-height: 1.2em
      position: absolute
      left: 100%
      bottom: 0.15em

  h1
    font-size: 24px
    margin:
      top: 25px
      bottom: 10px

  h2
    font-size: 20px
    margin: 25px 0 10px
  h3
    font-size: 16px
    font-weight: bold
    margin: 25px 0 10px

  h1, h2, h3
    em
      font-style: normal
      color: $red

  h2, h3
    &.separator
      background: $gray-lighter
      padding-top: 35px
      .container
        padding: 0
        @media(max-width: $screen-xs-max)
          padding: 0 10px


  p
    margin: 10px 0
  p.signature
    font-size: 12px
    color: $gray-dark
    border: none
    margin: 10px 0
    padding: 0

  blockquote
    border: none
    font-size: 14px
    line-height: 1.25
    margin: 12px 0
    padding: 0
    p
      margin: 0

  ul, ol
    list-style: none
    margin: 0 0 35px 0
    padding: 0
    li
      margin: 15px 0 15px 40px
      &:before
        content: '—'
        margin-left: -37px
        color: red
        position: absolute

  ol
    counter-reset: li
    li
      &:before
        content: counter(li)
        counter-increment: li
        margin-left: -41px
        color: inherit
        display: inline-block
        +square(22px)
        border-radius: 50%
        background: $gray-lighter
        text-align: center
        position: absolute
        font-size: 12px
        line-height: 22px
        vertical-align: middle
        padding-top: 1px


  @media(min-width: $screen-md-min)
    width: auto
    margin: 0 80px 60px
    border-radius: $borderRadius
    font-size: 18px
    max-width: 1180px
    ul, ol
      padding-left: 29px
    ol
      li
        &:before
          +square(28px)
          font-size: 14px
          line-height: 28px
          padding-top: 2px
          margin-left: -47px

    h1
      font-size: 42px
      margin: 30px 0 20px
    h2
      font-size: 36px
      margin: 30px 0 20px
    h3
      font-size: 30px
      font-weight: normal
    h4
      font-size: 24px
      margin: 30px 0 20px
    p
      margin: 20px 0
    p.signature
      font-size: 14px
      margin: 10px 0 20px

  @media(min-width: 1180px + 80px + 80px)
    margin-left: auto
    margin-right: auto

  //@media(min-width: 1300px)
  //  margin-left: auto
  //  margin-right: auto



  .center
    text-align: center


  .variants-selector
    float: right
    font-size: 16px
    margin-top: -10px
    @media(max-width: $screen-xs-max)
      float: none
      +clearfix
      margin-bottom: 15px
    @media(min-width: $screen-md-min)
      margin-top: 5px
    +btn-group

  .three-column-image
    .btn-container
      margin: 0px -4px 20px

  .btn-container
    margin: -20px 0px 0
  .btn
    display: inline-block
    padding: 12px 20px
    height: 50px
    color: $white
    background: $pink
    border: none
    border-radius: $borderRadius
    cursor: pointer
    text-decoration: none
    margin: 20px 4px 0
    font-size: 20px
    +soft-hover
    //&:first-of-type
    //  margin-left: 0
    //&:last-of-type
    //  margin-right: 0
    &:hover
      background: $violet
      text-decoration: none
    &.important
      border: 1px solid $red
      background: $white
      color: $black
      &:hover
        color: $white
        background: $red
    &.primary
      background: $red
      color: $white
      &:hover
        color: $white
        background: darken($red, 5)
    &[disabled]
      //opacity: 0.5
      background: $gray-light!important
      cursor: default




  figure
    h2
      font-size: 36px
    figcaption
      padding: 10px 0

    img
      width: 100%
    @media(min-width: $screen-md-min)
      position: relative
      figcaption
        position: absolute
        z-index: 10
        top: 0
        left: 0
        padding: 50px 80px
        width: 370px
        +box-sizing(content-box)
        color: $white
      &:before
        content: ''
        position: absolute
        z-index: 5
        +square(100%)
        background: rgba(0,0,0,0.5)
      &.wide
        height: 400px
        // width: 100%
        overflow: hidden
        img
          min-height: 100%
          transform: translateX(-50%)
          margin-left: 50%
        figcaption
          text-align: center
          width: 100%
          padding: 0
          top: 50%
          transform: translateY(-50%)


  .file
    line-height: 1.2em
    padding-left: 60px
    min-height: 57px
    background: url('/img/file-icon.svg') left no-repeat
    background-size: 44px 57px
    margin: 10px 5px
    .date
      font-size: 12px
      color: $gray

  .alert
    background: $gray-dark
    color: $white
    padding: 30px 80px
    font-weight: normal
    @media(max-width: $screen-xs-max)
      padding: 20px
    &.alert-important
      background: $yellow
      color: $black
    strike
      color: $white
      +icon(phone, $white, 0.7em)
        line-height: 1.2em
        position: absolute
        left: 100%
        bottom: 0.15em

  .embed-responsive
    position: relative
    display: block
    height: 0
    padding: 0
    overflow: hidden

    .embed-responsive-item,
    iframe,
    embed,
    object,
    video
      position: absolute
      top: 0
      left: 0
      bottom: 0
      height: 100%
      width: 100%
      border: 0



  // Modifier class for 16:9 aspect ratio
  .embed-responsive-16by9
    padding-bottom: 56.25%


  // Modifier class for 4:3 aspect ratio
  .embed-responsive-4by3
    padding-bottom: 75%


  .accordion
    border-top: $gray-light 1px solid
    margin-bottom: 0
    .panel
      border-bottom: $gray-light 1px solid
      .container
        background: none
        padding: 0
      .title
        padding: 35px 0
        font-size: 24px
        line-height: 1.2em
        cursor: pointer
        +soft-hover
        p
          margin: 0
          display: inline
        .container
          .column
            +icon(plus, $black, 19px)
            padding-left: 60px !important
            @media(min-width: $screen-md-min)
              padding-left: 100px !important
            &:before
              position: absolute
              margin: 2px 0 0 -40px !important
        &:hover
          color: $red
          & .container .column:before
            color: $red
      .content
        padding: 20px 10px
        display: none
        @media(min-width: $screen-md-min)
          padding: 30px 0
      &.expanded
        .title
          background: $gray-dark
          color: $white
          .container
            .column
              +icon(minus, inherit, 19px)
        .content
          display: block
    @media(min-width: $screen-md-min)
      .column.full
        padding-right: 30px
        padding-left: 30px

  table.striped
    width: 100%
    margin: 0 0 20px
    border: none
    background: none
    @media (min-width: $screen-md-min)
      margin: 0 0 20px
    tr
      &.hidden
        display: none
      &.show
        display: table-row
    // Cells
    > thead,
    > tbody,
    > tfoot
      > tr
        > th,
        > td
          padding: 15px 20px
          //line-height: $line-height-base
          vertical-align: middle
          //border-top: 1px solid $gray-light
          border: none
          &:after
            content: none

    // Bottom align for column headings
    > thead
      font-weight: bold
    > thead > tr > th
      vertical-align: bottom
    //border-bottom: 2px solid $gray-light

    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child
      > tr:first-child
        > th,
        > td
          border-top: 0

    // Account for multiple tbody instances
    > tbody + tbody
      border-top: 2px solid $gray-light

    > tbody > tr:nth-of-type(odd)
      background: $gray-lightest

    th
      text-align: left

    // Nesting
    table
      background-color: $white

  table
    margin-bottom: 0
    border: 1px solid #E5E5E5
    width: 100%
    //max-width: 100%
    background: #F8F8F8
    //table-layout: fixed
    td, th
      padding: 20px
    thead
      font-size: 18px
    td
      position: relative
      vertical-align: middle
      line-height: 1em
      &:after
        content: ''
        position: absolute
        bottom: -1px
        left: 20px
        right: 20px
        border-top: 1px solid #E5E5E5
      body.ie &
        content: none
    th
      border-bottom: 1px solid #E5E5E5
      text-align: left
    tbody
      tr
        background: none



  &.editor
    .accordion .panel
      .title
        background: $gray-dark
        color: $white
        .container
          .column
            +icon(minus, inherit, 19px)
            &:before
              margin-right: 30px
              margin-left: 20px
      .content
        display: block
    .featured_items.version3 .featured
      .border
        display: none
      p
        display: block
        position: relative


  .featured_items
    +make-row()
    display: block
    margin: 0
    padding-top: 30px
    @media(min-width: $screen-sm)
      display: flex
      flex-wrap: wrap
    .featured
      +make-sm-column(6)
      +make-md-column(3)
      +clearfix
      display: block
      text-align: left
      color: $gray
      text-decoration: none
      line-height: 1.2em
      margin-bottom: 30px
      padding-left: 75px
      min-height: 70px
      flex-shrink: 0
      width: 100%
      strong
        color: $black
        display: block
        margin: 0 0 2px 0
        padding-top: 10px
        font-size: 18px
        +transition(color 0.3s)
      p
        margin: 0
      &:hover strong
        color: $red
        +transition(color 0.3s)
      .icon
        display: block
        margin-right: 15px
        +square(60px)
        border-radius: 50%
        margin-left: -75px
        text-align: center
        position: relative
        background:
          color: $violet
          position: center
          repeat: no-repeat
        img
          position: absolute
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
          width: 50px
        float: left
        //margin-top: 20px
        @media(min-width: $screen-sm-min)
          margin-top: 0
      @media(min-width: $screen-md-min)
        text-align: center
        padding-left: 0
        .icon
          float: none
          margin: auto
          +square(80px)
          img
            width: 70px
        strong
          margin: 18px 0 13px 0
    &.version2
      .featured
        &:hover
          .icon
            border-color: $red
            +transition(border-color 0.3s)
        .icon
          background-color: transparent
          border: 2px solid #5e2b60
          img
            width: 50px
            border-radius: 50%

        @media(min-width: $screen-md-min)
          .icon
            img
              width: 80px
    &.version3
      .featured
        +make-md-column(2.4)
        +clearfix
        display: block
        color: $gray
        text-decoration: none
        line-height: 1.2em
        padding-left: 75px
        text-align: left
        strong
          z-index: 12
          position: relative
        .border
          position: absolute
          z-index: 11
          width: calc(100% + 10px)
          background-color: white
          display: none
          border: 1px solid #e5e5e5
          margin-top: -20px
          margin-left: -10px
        .icon
          background-color: transparent
          border: 2px solid #5e2b60
          z-index: 12
          img
            width: 50px
            border-radius: 50%
        @media(min-width: $screen-md-min)
          .border
            display: block
            visibility: hidden
          text-align: center
          padding-left: 0
          p
            position: absolute
            z-index: 12
            padding-left: 20px
            padding-right: 20px
            display: none
            margin-bottom: 5px
            text-align: center
            margin-left: -10px
          &:hover .border
            visibility: visible
          &:hover p
            display: block
          .icon
            img
              width: 80px



  .shares
    .share
      display: inline-block
      border-radius: $borderRadius
      border: 1px solid $gray-light
      padding: 10px 10px 10px 30px
      box-sizing: border-box
      height: 35px
      font-size: 14px
      line-height: 16px
      color: $gray-darker
      margin-right: 10px
      &:hover
        text-decoration: none
        color: $red
      &:last-child
        margin-right: 0
      &.fb
        background: url("/img/share-fb.png") 10px 50% no-repeat
      &.vk
        background: url("/img/share-vk.png") 10px 50% no-repeat

  .three-promo
    @media(min-width: $screen-sm-min)
      display: flex
    .btn
      margin-bottom: 20px
    h2
      margin-top: 10px !important
    .column
      position: relative
      z-index: 10
      //height: 100%
      .title
        span
          font-weight: bold
          color: black
      &:nth-child(2)
        img
          max-width: 285px
          max-height: 295px
          width: 100%
      &:last-child
        ul
          li
            &:before
              content: ""
              height: 17px
              width: 17px
              background-position: center center
              background-repeat: no-repeat
            &.dot:before
              background: url("/img/3column/dot.png")
            &.pause:before
              background: url("/img/3column/pause.png")
            &.lock:before
              background: url("/img/3column/lock.png")
            &.star:before
              background: url("/img/3column/star.png")
            &.cc:before
              background: url("/img/3column/cc.png")
    @media (min-width: $screen-sm)
      .column
        float: left
        width: 33.3333%
    @media(min-width: $screen-sm-min)
      .h2
        margin-bottom: 46px
      .title
        margin-bottom: -20px
        font-size: 24px
        margin-top: 38px
      .text
        white-space: pre-line
        margin-bottom: 20px
        margin-top: -20px
      .btn-container
        z-index: -1
        position: absolute
        bottom: 0
        width: 100%
        text-align: center
        margin-left: -11px
      .column
        //height: 600px
        border: 1px solid #e5e5e5
        padding: 30px 10px 90px 10px!important
        &:first-child
          .text
            margin-top: -20px
            margin-bottom: 22.3333px
        &:hover
          h2
            color: $red
      text-align: center
      .column:nth-child(2)
        border-right: none
        border-left: none
        .text
          margin-top: 9px
      .column:last-child
        ul
          padding-left: 30px
        text-align: left
        h2
          text-align: center
          margin-bottom: 52px
      &:last-child
        ul
          li:before
            margin-left: -36px



  .web-store
    p
      padding: 0 10px
      font-size: 14px
      @media(min-width: $screen-md-min)
        padding: 0
        margin-top: 12px
    .btn-container
      text-align: center
      padding-left: 14px
      @media(min-width: $screen-md-min)
        padding: 0
      @media all and (min-width: $screen-sm-min) and (max-width: $screen-md-min)
        margin-top: 0
      .btn
        margin-top: 10px
        margin-left: 0
        padding: 0
        margin-right: 10px
        border-radius: 6px
        img
          height: 50px
          width: 148px


        @media(min-width: $screen-md-min)
          margin-top: 20px
          margin-left: 4px
          margin-right: 4px

  .filter-wrapper
    border-bottom: 1px solid #e7e7e7
    padding: 0 10px
    .filter-countries
      width: 100%
      height: 36px
      line-height: 36px
      border-radius: 3px
      outline: none
      box-shadow: none
      box-sizing: border-box
      font-size: 16px
      color: #000
      margin-bottom: 20px
      background: #fff  url("/img/icons/search.svg") no-repeat right 9px top 7px
      padding: 0 35px  0 10px
      border: 1px solid #e7e7e7
      &::-webkit-input-placeholder
        color: #000
      &:-moz-placeholder
        color: #000
      &:-ms-input-placeholder
        color: #000
    @media (min-width: $screen-sm)
      .filter-countries
        width: 380px
    @media (min-width: $screen-md-min)
      padding-left: 30px
      padding-right: 30px
      .filter-countries
        padding-left: 20px
    & + .container
      .table-wrap
        table.striped
          margin: 0 0 20px
          width: 100%


.ui-draggable
  +clearfix


