.global-menu
  display: none
  @media(min-width: $screen-md-min)
    display: block
  padding: 13px 0 15px
  background: $white
  border-bottom: 1px solid $gray-lighter
  //position: relative
  //z-index: 20
  +clearfix
  height: $globalMenuHeight
  +box-sizing(border-box)
  .highlighter
    position: absolute
    text-align: center
    display: block
    width: 100%
    height: 6px
    top: 0
    margin-top: $globalMenuHeight - 6px
    left: 0
    z-index: 10
    overflow: hidden
    .tip
      width: 200%
      height: 6px
      position: relative
      margin-left: -100%
      background: url("/img/global-menu-highlighter.png") top no-repeat
      &:after
        content: ''
        display: block
        position: absolute
        width: 100%
        left: 50%
        margin-left: 6px
        background: $white
        border-bottom: 1px solid $gray-lighter
        height: 6px
      &:before
        content: ''
        display: block
        position: absolute
        width: 100%
        right: 50%
        margin-right: 6px
        background: $white
        border-bottom: 1px solid $gray-lighter
        height: 6px

  ul, li
    margin: 0
    padding: 0
    list-style: none
  li
    display: inline-block
    > span
      &:hover
        color: $red
      +soft-hover
  .sections
    float: left
    padding-left: 0
    position: static
    li
      padding: 0 20px
      border-left: 1px solid $gray-lighter
      &:first-child
        padding-left: 0
        border-left: none
      &.active
        color: $red
  .mixed
    float: right
    padding-right: 0
    text-align: right
    position: relative
    z-index: 40
    li
      padding: 0 10px
      &.active > span, &.active > a
        color: $violet
        font-weight: bold
      &:last-child
        padding-right: 0

  li.dropdown
    position: relative
    > span
      cursor: pointer
    &:before
      content: ''
      display: inline-block
      vertical-align: middle
      +square(7px)
      margin-right: 7px
      border-radius: 50%
      background: $gray-lighter url('/img/dropdown-tiny.png') center no-repeat
    &:after
      content: url("/img/dropdown-submenu-tip.png")
      position: absolute
      bottom: 0
      margin-bottom: -13px
      line-height: 0
      left: 50%
      margin-left: -5px
      display: none
      z-index: 2
    > ul
      max-height: 0
      overflow: hidden
      +transition(max-height 0.3s)
      position: absolute
      top: 100%
      margin-top: 12px
      padding-top: 0
      left: 0
      min-width: 220px
      text-align: left
      +border-bottom-radius($borderRadius)
      white-space: nowrap
      &.centered
        left: 50%
        transform: translateX(-50%)
      &.righted
        left: auto
        right: -1px
      li
        white-space: nowrap
        background: $white
        border: 1px solid $gray-lighter
        border-bottom: none
        display: block
        padding: 0
        &:last-child
          border-bottom: 1px solid $gray-lighter
          +border-bottom-radius($borderRadius)
        a
          display: block
          padding: 10px 20px
          &:hover
            background: $gray-lightest
    &:hover
      > span
        color: $red
      &:after
        display: block
      ul
        padding-top: 12px
        margin-top: 0
        z-index: 1
        max-height: 600px
        +transition(max-height 0.7s)
  li.separator
    border-left: 1px solid $gray-lighter
    width: 0
    padding: 0

  li.geo
    //position: relative
    padding: 0
    .icon
      padding: 0 10px
      box-sizing: content-box
      height: 14px
      width: 11px
      display: inline-block
      position: relative
      top: 3px
      cursor: pointer
      background: url('/img/icons/geo-gray.svg') center no-repeat
    &.confirm .icon
      background: url('/img/icons/geo-yellow.svg') center no-repeat
      &:after
        content: ''
        position: absolute
        top: 100%
        margin-top: 15px
        left: 50%
        +square(10px)
        background: $yellow
        transform: rotate(45deg) translateX(-50%)
    &.choose .icon
      background: url('/img/icons/geo-red.svg') center no-repeat
      &:after
        content: url("/img/dropdown-submenu-tip.png") !important
        position: absolute
        top: 100%
        margin-top: 2px
        left: 50%
        z-index: 5
        margin-left: -5px

    .confirm
      max-height: 0
      overflow: hidden
      background: $yellow
      color: $black
      position: absolute
      width: 300px
      box-sizing: border-box
      top: 100%
      margin-top: 12px
      right: -1px
      text-align: center
      font-size: 14px
      transition: max-height 0.5s
      > div
        padding: 20px 25px
      p
        margin: 5px 0
      span
        cursor: pointer
        border-bottom: 1px dotted
        margin: 0 10px
        &:hover
          border: none

    .choose
      max-height: 0
      background: $white
      color: $black
      outline: 1px solid transparent
      position: absolute
      width: 300px
      box-sizing: border-box
      top: 100%
      margin-top: 13px
      right: -1px
      font-size: 14px
      overflow: auto
      text-align: left
      transition: max-height 0.5s, outline 0.5s
      +border-bottom-radius(3px)
      ul, li
        display: block
        line-height: 1.6em
        padding: 0
      > ul
        padding: 20px
      li ul
        margin-left: 20px
        overflow: hidden
        //max-height: 0
        transition: max-height 0.5s
      //li.open ul
      //  max-height: 550px
      li.title
        font-size: 18px

    &.confirm .confirm
      display: block
      max-height: 350px


    &.choose .choose
      display: block
      max-height: calc(70vh - 50px)
      outline: 1px solid $gray-lighter
      li.active > a
        font-weight: normal
        color: $red
        