.promo-inner-head
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 4
  @media(max-width: $screen-sm-max)
    height: 360px
  @media(max-width: $screen-xs-max)
    height: 500px
  //@media(min-width: $screen-md-min)
  //  margin-top: -76px
  
  .promo-image
    height: 506px
    width: 100%
    position: relative
    overflow: hidden
    //top: -76px
    @media(max-width: $screen-sm-max)
      height: 360px
      top: 0
    @media(max-width: $screen-xs-max)
      height: 500px

    picture
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      img
        min-width: 100%
        min-height: 100%
        @media(min-width: 980px)
          position: absolute
          left: 50%
          top: 50%
          transform: translateX(-50%) translateY(-50%)
        @media(max-width: 1360px)
          left: -130px
          transform: translateY(-50%)
        @media(max-width: 979px)
          transform: none
          min-width: 0
          width: auto
          height: 100%
          margin: 0 auto 0 0
        @media(max-width: 659px)
          display: block
          position: absolute
          left: 0
          top: 50%
          transform: translateY(-50%)
