.promo-section
  min-height: 100px
  position: relative
  background: $gray-lighter
  @media(min-width: $screen-md-min)
    margin-top: -6px
  .section-menu-container
    @extend .container
    position: relative
    z-index: 20
    @media(max-width: $screen-sm-max)
      width: 100%
    &.menu-open
      .logo
        @media(max-width: 320px)
          opacity: 0
        .romb
          @media(max-width: 360px)
            opacity: 0
  &.has-slider
    height: 500px
    margin-bottom: 30px
    @media(min-width: $screen-sm-min)
      height: 360px
    @media(min-width: $screen-md-min)
      overflow: visible
      height: 506px
      margin-top: -6px

  .logo
    //position: absolute
    //left: 0
    //top: 0
    transition: opacity 0.3s
    //@media(max-width: $screen-sm-max)
    //  padding: 11px 0 0 10px
    //  width: 100%
    //  overflow: hidden
    //@media(min-width: $screen-md-min)
    //  left: 0
    //  top: 20px
    //@media(min-width: $screen-lg-min)
    //  left: -80px
    //img
    //  position: relative
    //  z-index: 10
    //  +square(60px)
      //@media(min-width: $screen-md-min)
        +square(57px)

    .romb
      position: absolute
      width: 100%
      height: 100%
      pointer-events: none
      transition: opacity 0.3s
      @media(max-width: $screen-sm-max)
        width: 60px
      @media(min-width: $screen-md-min)
        width: 2000px
        height: 1100px
        max-height: 100vh
        right: 0
        top: -62px
        overflow: hidden
      &:before
        content: ''
        display: block
        position: absolute
        top: -185px
        right: -14px
        width: 150px
        height: 150px
        z-index: 5
        background-color: $red
        transform-origin: 0 100%
        border-radius: 28px
        transform: rotate(45deg)
        @media(min-width: $screen-md-min)
          width: 1500px
          height: 1500px
          transform: rotate(-45deg)
          top: -348px
          right: -452px
          border-radius: 34px

  .burger
    position: absolute
    right: 10px
    top: 15px
    background: $red
    border: 1px solid $red
    text-align: center
    +icon(menu, $white, 16px)
    +square(50px)
    border-radius: $borderRadius
    z-index: 10
    padding: 0
    +transition(background-color 0.3s, border-color 0.3s)
    &:before
      margin-top: 3px
    &.active
      background-color: $violet
      border-color: $violet
    &.parent
      background-color: $white
      border-color: $gray-lighter
      &:before
        color: $black
    @media(min-width: $screen-md-min)
      display: none
  .section-menu
    position: absolute
    width: 100%
    //display: none
    background: $white
    @media(min-width: $screen-md-min)
      display: block
      +make-md-column(12)
      margin: 26px 0 0 0
      padding: 0
      color: $white
      background: $red
      border-radius: $borderRadius
      //overflow: hidden
      //padding: 10px
      +clearfix
      font-size: 20px
    .close
      border: none
      padding: 15px
      text-align: center
      width: 135px
      border-radius: $borderRadius
      background: $gray-light
      margin: 20px 10px
      +soft-hover
      &:hover
        background: $violet
        color: $white
      @media(min-width: $screen-md-min)
        display: none
    .search-button, .lang-button, .location-button
      display: none
      position: absolute
      top: 15px
      +square(50px)
      background-color: $white
      border: 1px solid $gray-lighter
      border-radius: $borderRadius
      text-align: center
      z-index: 10
      cursor: pointer
      padding: 0
      +transition(background-color 0.3s, border-color 0.3s)
      &.active
        background-color: $violet
        border-color: $violet
        color: $white
        +transition(background-color 0.3s, border-color 0.3s)
      @media(min-width: $screen-md-min)
        display: none
    .search-button

      display: none

      right: 70px
      +icon(search, $gray-dark, 20px)
      &.active
        &:before
          color: $white
    .lang-button
      right: 130px
    .location-button
      right: 190px
      background-image: url("/img/geo-mobile.png")
      background-position: center
      background-repeat: no-repeat
      &.active
        background-image: url("/img/geo-mobile-w.png")
    .sections
      padding-top: 80px
      .confirm
        max-height: 0
        overflow: hidden
        background: $yellow
        color: $black
        width: auto
        margin: -0 10px 10px!important
        box-sizing: border-box
        margin-top: 12px
        text-align: center
        font-size: 16px
        transition: max-height 0.5s
        > div
          padding: 20px 25px
        p
          margin: 5px 0
        span
          cursor: pointer
          border-bottom: 1px dotted
          margin: 0 10px
          &:hover
            border: none
        &.show
          max-height: 150px
      //margin: 0 10px
      ul
        border-radius: $borderRadius
        overflow: hidden
      li
        //width: 33.333%
        float: left
        background: $red
        color: $white
        text-align: center
        margin: 0!important
        white-space: nowrap
        &:before
          content: ''
          display: block
          position: absolute
          height: 1em
          padding: 5px 0
          +box-sizing(content-box)
          margin-top: 10px
          border-right: 1px solid transparentize($white, 0.7)
        &:first-child:before
          display: none
        &.active
          background: $violet!important
          &:before, & + li:before
            display: none

        a:hover
          color: $white
      @media(min-width: $screen-md-min)
        display: none

    ul, li
      margin: 0
      padding: 0
      list-style: none
      @media(min-width: $screen-md-min)
        float: left

    ul
      @media(max-width: $screen-sm-max)
        margin: 0 10px
        font-size: 20px
    ul ul
      @media(max-width: $screen-sm-max)
        margin: 0
        font-size: 18px

    li
      line-height: 1em
      box-sizing: border-box
      @media(max-width: $screen-sm-max)
        a, span
          border-bottom: 1px solid $gray-lighter
      > a, > span
        padding: 15px 20px 13px
        display: block
        +soft-hover
        @media(min-width: $screen-md-min)
          +transition(color 0.3s, background 0.3s, border-color 0.3s)
          border: 1px solid transparent
      li a, li span
        border: none
        &:hover
          background: $gray-lightest
      &.active > span, &.active > a
        @media(min-width: $screen-md-min)
          background-color: $red-dark
      &.dropdown
        cursor: pointer
        position: relative
        &.has-banner
          position: static
      &.dropdown > a, &.dropdown > span
        //background: url("/img/mobile-down.png") right 10px center no-repeat
        position: relative
        +icon(arr_bottom, $gray-dark, 7px)
        &:before
          position: absolute
          right: 10px
          top: 50%
          margin-top: -3px
        @media(min-width: $screen-md-min)
          &:before
            display: none
      &.dropdown.expanded
        @media(max-width: $screen-sm-max)
          border-top: 1px solid $black
          border-bottom: 1px solid $black
          > a, > span
            font-weight: bold
            +icon(arr_top, $gray-dark, 7px)
      &.dropdown.expanded:first-child
        @media(max-width: $screen-sm-max)
          border-top: none
      &:hover
        @media(min-width: $screen-md-min)
          > a, span
            background: $white
            color: $red
            border: 1px solid $gray-lighter
            +transition(color 0.3s, background 0.3s, border-color 0.3s)
            +border-bottom-radius(0!important)
          &.dropdown
            > a, span
              border-bottom-color: transparent
            li a, li span
              border: none
          .submenu
            z-index: 10
            max-height: 400px
            +transition(max-height 0.7s)
            border-bottom: 1px solid $gray-lighter


    .main_menu
      > ul li:first-child a, > ul li:first-child span
        //border-top-left-radius: $borderRadius
        +border-left-radius($borderRadius)
      @media(max-width: $screen-sm-max)
        display: none
        background: $white
        position: absolute
        top: 0
        left: 0
        width: 100%
        > ul
          display: none
        .current
          display: block
        .menu-list li
          &.active > a, &.active > span
            background: $white
            color: $violet
            font-weight: bold
      @media(min-width: $screen-md-min)
        > ul
          display: none!important
        .current
          display: block!important
          margin-right: 190px
        .menu-list li
          &:before
            content: ''
            display: block
            position: absolute
            height: 1em
            padding: 5px 0
            +box-sizing(content-box)
            margin-top: 10px
            border-right: 1px solid transparentize($white, 0.7)
          &:first-child:before
            display: none

    .langs, .locations
      display: none
      background: $white
      position: absolute
      top: 0
      left: 0
      width: 100%
      padding: 90px 0px 20px
      @media(min-width: $screen-md-min)
        display: none
      li
        &.active > span, &.active > a
          color: $violet
          font-weight: bold
          background: $white
    .locations
      font-size: 16px
      text-transform: none
      .wrap
        max-height: calc(100vh - 90px - 112px)
        overflow: auto
      li
        border-bottom: 1px solid $gray-lighter
        a
          padding-left: 10px
      li ul li a
        padding-left: 30px
      a
        padding-top: 10px
        padding-bottom: 10px
        font-size: 16px
      span
        font-size: 18px
        padding: 10px
    .search
      display: none
      @media(max-width: $screen-sm-max)
        background: $white
        position: absolute
        top: 0
        left: 0
        width: 100%
        padding: 90px 10px 20px
        form
          +clearfix
        .search-input-wrap
          margin-right: 20%
        .search-input
          border-radius: $borderRadius
          border: 1px solid $gray
          padding: 15px 10px
          box-sizing: border-box
          width: 100%
        .submit-wrap
          width: 20%
          padding-left: 10px
          float: right
        .submit
          color: $white
          background: $red
          padding: 16px 10px
          border: none
          text-align: center
          border-radius: $borderRadius
          box-sizing: border-box
          width: 100%
          margin-left: 1%
          float: left
          &:before
            content: none
            display: none

        .close
          margin-left: 0
          clear: both
      @media(max-width: 585px)
        .submit-wrap
          width: 110px
        .search-input-wrap
          margin-right: 110px
      @media(min-width: $screen-md-min)
        display: block
        float: right
        position: absolute
        right: 0
        .search-input
          //+size(38px, 36px)
          +size(195px, 36px)
          border-radius: $borderRadius
          margin: 7px
          border: none
          outline: none
          +box-shadow(none)
          +box-sizing(border-box)
          font-size: 16px
          color: $black
          +placeholder($gray-dark)
          //padding: 5px 28px 0 10px
          padding: 5px 35px 0 10px
          line-height: normal
          background: $white
          //transition: width 0.3s, padding 0.3s
          @media(min-width: $screen-lg-min)
            width: 240px
        //&:hover .search-input
          width: 195px
          padding-right: 35px

        .submit
          +icon(search)
          background: none
          border: none
          display: block
          position: absolute
          top: 7px
          right: 7px
          color: $gray-dark
          +square(36px)
          background: $white
          border-radius: $borderRadius
          &:before
            margin-top: -3px
          span
            display: none
        .focus .submit:before
          color: $red


    .submenu
      display: none
      @media(min-width: $screen-md-min)
        display: block
        max-height: 0
        +transition(max-height 0.3s)
        overflow: hidden
        position: absolute
        //width: 100%
        top: 100%
        left: 0
        background: $white
        +border-bottom-radius($borderRadius)
        font-size: 16px
        border: 1px solid $gray-lighter
        border-top: none
        border-bottom: none
        ul
          //width: 25%
          display: block
          background: $white
          position: relative
          height: 100%
          width: $container-sm / 4
          @media(min-width: $screen-md-min)
            width: $container-md / 12 * 11 / 4
          @media(min-width: $screen-lg-min)
            width: $container-lg / 4
          &:first-of-type
            border-left: none
          li
            display: block
            float: none
            position: relative
            z-index: 1
            width: auto
            margin: 0 10px
            border-top: 1px solid $gray-lighter
            &:first-child
              border-top: none
            a
              padding: 13px 20px
            &.active > span, &.active > a
              color: $violet
              font-weight: bold
              background: $white
              &:hover
                background: $gray-lightest
          &:first-child li
            margin-left: 0
          &:last-of-type li
            margin-right: 0
      .banner
        float: left
        //width: 50%
        height: 100%
        background: $white
        padding: 20px
        position: relative
        width: $container-sm / 2 - 2px
        display: none
        @media(min-width: $screen-md-min)
          display: block
          width: $container-md / 12 * 11 / 2 - 2px
        @media(min-width: $screen-lg-min)
          width: $container-lg / 2 - 2px
        .cnt
          height: 180px
          border-radius: $borderRadius
          background: $gray
      a
        color: $gray-darker


  .inner-info-container
    position: relative
    z-index: 5
    @extend .container
    padding: 90px 10px 0
    @media(max-width: $screen-sm-max)
      width: 100%
    @media(min-width: $screen-md-min)
      padding: 16px 0 0
    > .wrap
      @media(min-width: $screen-md-min)
        margin: 0 80px
        padding: 0

  .page-title
    font-size: 42px
    margin-bottom: 10px