$globalMenuHeight: 48px

html, body
  font-family: $font
  background: $gray-lighter
  color: $black
  font-size: 16px
  -webkit-font-smoothing: antialiased
  @media(min-width: $screen-md-min)
    width: 100%
    height: 100%
body
    @media(min-width: $screen-md-min)
      display: table
      table-layout: fixed

button
  outline: none

a, a:hover
  +soft-hover

a[href^="tel"], a[href^="sms"]
  text-decoration: none 

h1, h2, h3, h4
  font-weight: normal
  line-height: 1em

input[type="search"]
  //-webkit-appearance: textfield
  -webkit-appearance: none

#container
  +container-fixed()
  @media(min-width: $screen-md-min)
    display: table-row
    height: 100%
  //min-height: 540px

#header, #footer, .page.main
  a
    text-decoration: none
    color: inherit
    &:hover
      color: $red

