=middler
  &:before
    content: ''
    vertical-align: middle
    height: 100%
    display: inline-block
    width: 0
    margin-left: -0.25ex
    
=soft-hover
  +transition(color 0.3s, background 0.3s, border-background 0.3s)
  &:hover
    +transition(color 0.3s, background 0.3s, border-background 0.3s)
    
=icon($name, $color: inherit, $fontSize: inherit, $marginRight: 0, $marginLeft: 0)
  @extend .icon-#{$name}
  &:before
    vertical-align: middle
    font-family: "icons"
    font-size: $fontSize
    font-style: normal
    font-weight: normal
    color: $color
    speak: none
    display: inline-block
    text-decoration: inherit
    //width: 1em
    margin-right: $marginRight
    text-align: center
    /* opacity: .8 */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal
    text-transform: none
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: $marginLeft
    /* you can be more comfortable with increased icons size */
    /* font-size: 120% */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3) */
    +transition(color 0.3s)
    @content
    
=btn-group($border-color: $gray-light)
  .btn, a, button
    display: inline-block
    padding: 6px 15px 5px
    float: left
    border: 1px solid $border-color
    border-radius: 0
    //border-right-width: 0
    background: $white
    text-decoration: none
    color: $black
    margin: 0
    margin-left: -1px
    &:hover
      color: $red
      background: $gray-lightest
    &.active
      border-color: $violet
      background-color: $violet
      color: $white!important
    &:first-of-type
      +border-left-radius($borderRadius)
    &:last-of-type
      +border-right-radius($borderRadius)
      //border-right-width: 1px