%content-box-wrapper
  background: #fff
  border-radius: 3px
  margin-bottom: 20px
%content-box-padding
  padding: 20px
  @media (min-width: $screen-md-min)
    padding: 30px


.content-box
  @extend %content-box-wrapper
  &.add_padding
    @extend %content-box-padding

  h1, h2, p
    &:first-child
      margin-top: 0

  &.accordion
    border: 0
    .panel
      border-bottom: 1px solid #e5e5e5
      &:first-child
        .title
          border-radius: 3px 3px 0 0
      &:last-child
        border: 0

.fsz16
  font-size: 16px
.color_red
  color: $red