.inner-navs
  display: none
  +clearfix
  @media(min-width: $screen-md-min)
    display: flex
    padding-bottom: 10px
    min-height: 32px

  a, a:hover
    text-decoration: none

  nav ul, nav ol
    margin: 0
    padding: 0
    list-style: none
    li
      display: inline
      margin: 0
      &:before
        content: none

  .bread-crumps
    float: left
    color: $gray
    font-size: 14px
    margin-top: -3px
    white-space: nowrap
    a
      color: $black !important
      &:hover
        color: $red !important
    strong
      color: $black !important
    .home a
      +icon(home, $gray-dark, 10px)
      &:before
        position: relative
        top: -2px
      span
        display: none
    li
      padding-left: 2px
      &:after
        content: '/'
        margin: 0 2px 0 7px
      &:last-child:after
        display: none


  .inner-menu
    float: right
    font-size: 16px
    margin-top: -6px
    text-align: right
    width: 100%
    li
      margin: 0 10px
      display: inline-block
      &:last-child
        margin-right: 0
      a
        color: $black
        &:hover
          color: $red
      &.active a
        font-weight: bold
        @media(max-width: $screen-sm-max)
          color: $violet!important

.inner-content-container
  .inner-navs
    margin-top: -10px
    padding-bottom: 0
