.mainpage-slider
  position: absolute
  z-index: 5
  top: 0
  left: 0
  +square(100%)
  .slide
    display: none
    position: absolute
    overflow: hidden
    top: 0
    left: 0
    +square(100%)
    background: #38586d
    &.active
      display: block
    .container
      position: absolute
      top: 112px
      color: $gray-dark
      padding: 0 0 0 1px!important
      left: 10px
      box-sizing: border-box
      @media(min-width: 660px)
        left: 80px
      @media(min-width: 980px)
        left: 50%
        transform: translateX(-50%)
        width: 100%!important
        max-width: 1180px!important
      @media(min-width: 980px) and (max-width: 1360px)
        left: 80px
        transform: none

    .title
      +make-md-column(6)
      float: none!important
      padding: 0
      color: $red
      font-weight: bold
      margin-bottom: 12px
      line-height: 30px
      font-size: 30px
      @media(min-width: 660px)
        margin-bottom: 12px
        line-height: 30px
        font-size: 30px
      //@media(min-width: 980px)
        margin-bottom: 12px
        line-height: 35px
        font-size: 35px
      //@media(min-width: 1601px)
      @media(min-width: 980px)
        margin-bottom: 12px
        line-height: 45px
        font-size: 45px
    .subtitle
      +make-md-column(5)
      padding: 0
      float: none!important
      font-size: 18px
      line-height: 21px
      @media(min-width: 660px)
        font-size: 18px
        line-height: 21px
      //@media(min-width: 980px)
        font-size: 22px
        line-height: 26px
      //@media(min-width: 1601px)
      @media(min-width: 980px)
        font-size: 24px
        line-height: 30px
    .container
      .red
        color: $red
      .black
        color: $black
      .gray
        color: $gray-dark
      .white
        color: $white

    .btn
      display: inline-block
      color: $white
      background: $pink
      border: none
      border-radius: $borderRadius
      cursor: pointer
      text-decoration: none
      +soft-hover
      margin: 20px 0 0 0
      font-size: 20px
      padding: 8px 16px
      height: 40px
      &.business
        background: $gray-darkest
      @media(min-width: 660px)
        margin: 20px 0 0 0
        font-size: 20px
        padding: 8px 16px
        height: 40px
      //@media(min-width: 980px)
        margin: 20px 0 0 0
        font-size: 20px
        padding: 10px 18px
        height: 46px
      //@media(min-width: 1601px)
      @media(min-width: 980px)
        margin: 20px 0 0 0
        font-size: 20px
        padding: 12px 20px
        height: 50px

      
    picture
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      img
        min-width: 100%
        min-height: 100%
        @media(min-width: 980px)
          position: absolute
          left: 50%
          top: 50%
          transform: translateX(-50%) translateY(-50%)
        @media(max-width: 979px)
          transform: none
          min-width: 0
          width: auto
          height: 100%
          margin: 0 auto 0 0
        @media(min-width: 980px) and (max-width: 1360px)
          left: -130px
          transform: translateY(-50%)
        @media(max-width: 659px)
          display: block
          position: absolute
          left: 50%
          top: 50%
          transform: translateX(-50%) translateY(-50%)
  .controls
    @extend .container
    padding: 0
    margin-top: 451px
    position: relative
    z-index: 7
    display: none
    @media(min-width: $screen-md-min)
      display: block
      height: 0
    ul, li
      margin: 0
      padding: 0
      list-style: none
    li
      float: left
      border-left: 1px solid $gray-lighter
      button
        outline: none
        +transition(color 0.3s, background 0.3s, border-color 0.3s)
        background: $gray-lightest
        border: none
        border-top: 1px solid $gray-lighter
        border-bottom: 1px solid $gray-lighter
        padding: 6px 18px 5px
        &:hover
          background: $gray-lighter
          color: $red
      &:first-child
        border-left: none
        button
          +border-left-radius($borderRadius)
      &:last-child button
        +border-right-radius($borderRadius)
      &.active button
        background: $violet
        color: $white
        border-color: $violet
  .mobile-controls
    position: absolute
    z-index: 20
    bottom: 10px
    width: 100%
    left: 0
    button
      position: absolute
      bottom: 0
      +square(35px)
      border-radius: $borderRadius
      background:
        color: $white
        position: center
        repeat: no-repeat
      border: 1px solid $gray-lighter
      +transition(background-color 0.3s, border-color 0.3s)
      body.not-touch &:hover
        background-color: $violet
        border-color: $violet
        &:before
          color: $white
    .fwd
      right: 10px
      +icon(arr_right, $gray-dark, 9px)
    .bwd
      left: 10px
      +icon(arr_left, $gray-dark, 9px)
    @media(min-width: $screen-md-min)
      display: none