.page-title-container
  +clearfix
  margin: -1px 0 23px
  .select-type
    position: relative
    z-index: 10
    font-size: 16px
    margin-bottom: 15px
    +clearfix
    +btn-group
    a
      min-width: 70px
      text-align: center
  .page-title
    margin: 0
    position: relative

  @media(min-width: $screen-sm-min)
    .select-type
      float: right
      margin: -7px 0 0 0
    .page-title
      line-height: 35px

  @media(min-width: $screen-md-min)
    margin-left: 80px
    margin-right: 80px
    max-width: 1180px
    padding-top: 4px
    .page-title
      margin-left: -3px

  @media(min-width: 1180px + 80px + 80px)
    margin-left: auto
    margin-right: auto

.page-title
  font-weight: normal
  font-size: 42px
  @media(min-width: $screen-md-min)
    font-size: 42px