.paginator
  +clearfix
  text-align: center
  @media(max-width: $screen-xs-max)
    margin: 0 10px
  > .container
    display: block
    padding: 0
    //width: auto
    @media(max-width: $screen-sm-max)
      width: auto
      margin: 0 10px
  .bwd, .links, .fwd
    float: left
    +btn-group
    @media(max-width: $screen-xs-max)
      float: none
    @media(min-width: $screen-sm-min)
      +clearfix
    a
      margin-bottom: 10px
    
  .links
    @media(min-width: $screen-sm-min)
      margin: 0 10px
  .bwd
    a
      +icon(arr_left, $gray-dark, 10px)
      &:before
        margin-top: -3px
  .fwd
    a
      +icon(arr_right, $gray-dark, 10px)
      &:before
        margin-top: -3px