.simple_table
  font-size: 16px
  overflow: auto
  padding: 20px 0
  margin: -10px 0

  table
    background: none
    border: 0
    border-collapse: separate
    table-layout: fixed
    min-width: 100%
    width: auto
    tr
      &:first-child
        th,
        td
          &:first-child
            border-top-left-radius: 3px
          &:last-child
            border-top-right-radius: 3px
      &:last-child
        th,
        td
          border-bottom-width: 1px
          &:first-child
            border-bottom-left-radius: 3px
          &:last-child
            border-bottom-right-radius: 3px
      @for $i from 2 through 6
        &:nth-last-child(#{$i})
          td,
          th
            &[rowspan='#{$i}']
              border-bottom-width: 1px

    th,
    td
      border: 1px solid #e5e5e5
      border-bottom-width: 0
      font-weight: normal
      height: 60px
      vertical-align: middle
      padding: 11px 20px 10px
      &.taller
        height: 90px
      &:not(:last-child)
        border-right-width: 0
      &:before
        border-radius: 3px 3px 0 0
        height: 5px
        position: absolute
        top: -1px
        left: 0
        right: 0
      &.yellow,
      &.orange,
      &.green,
      &.blue,
      &.purple
        padding-top: 18px
      &.yellow:before
        background: #fecb00
        content: ''
      &.orange:before
        background: #eb9700
        content: ''
      &.green:before
        background: #a8b400
        content: ''
      &.blue:before
        background: #00b0ca
        content: ''
      &.purple:before
        background: #9c2aa0
        content: ''
    th
      background: #f8f8f8
    td
      background: #fff
      text-align: center
      &:after
        content: none

  strike
    font-weight: normal

  .tarif-title
    font-size: 24px
    font-weight: bold
    white-space: nowrap
  .tarif-price
    margin-top: 10px
    span
      font-weight: bold

  .tarif-label
    background: #009898
    border-radius: 3px 0 0 3px
    color: #fff
    text-transform: uppercase
    font-size: 16px
    padding: 0 9px
    position: absolute
    top: -21px
    right: -6px
    height: 30px
    line-height: 32px
    z-index: 1
    &:after
      content: ''
      border-top: 6px solid #005f5f
      border-right: 6px solid transparent
      position: absolute
      bottom: -6px
      right: 0


  @media (min-width: $screen-md-min)
    table
      td
        font-size: 18px

  &.vodafone_red
    table
      th
        min-width: 200px
        width: 33%
