.table-wrap
  font-size: 16px
  overflow: auto
  padding: 20px 0
  margin: -10px 0

  table
    background: none
    border: 1px solid #e5e5e5
    table-layout: fixed
    min-width: 100%
    width: auto

    th,
    td
      border: 1px solid #e5e5e5
      height: 60px
      vertical-align: middle
      line-height: 1.4
      padding: 19px 20px 18px
      text-align: center

    th
      background: #f8f8f8
      font-weight: bold

    td
      background: #fff

  > div
    border: 1px solid #e5e5e5
    border-radius: 3px
    overflow: hidden

    table
      border-style: hidden


  &.custom_style1
    > div
      min-width: 530px
    table
      td
        height: 120px
        @media (min-width: 1150px)
          width: 25%