@font-face {
    font-family: 'vodafone_rg';
    src: url('vodafonerg_bd.eot');
    src: url('vodafonerg_bd.eot?#iefix') format('embedded-opentype'),
    url('vodafonerg_bd.woff2') format('woff2'),
    url('vodafonerg_bd.woff') format('woff'),
    url('vodafonerg_bd.ttf') format('truetype'),
    url('vodafonerg_bd.svg#vodafone_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'vodafone_rg';
    src: url('vodafonerg.eot');
    src: url('vodafonerg.eot?#iefix') format('embedded-opentype'),
    url('vodafonerg.woff2') format('woff2'),
    url('vodafonerg.woff') format('woff'),
    url('vodafonerg.ttf') format('truetype'),
    url('vodafonerg.svg#vodafone_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}