
.icon-arr_bottom:before { content: '\e800'; } /* '' */
.icon-arr_left:before { content: '\e801'; } /* '' */
.icon-arr_right:before { content: '\e802'; } /* '' */
.icon-arr_top:before { content: '\e803'; } /* '' */
.icon-close-small:before { content: '\e804'; } /* '' */
.icon-dropdown-tiny:before { content: '\e805'; } /* '' */
.icon-geotag:before { content: '\e806'; } /* '' */
.icon-home:before { content: '\e807'; } /* '' */
.icon-menu:before { content: '\e808'; } /* '' */
.icon-minus:before { content: '\e809'; } /* '' */
.icon-phone:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-video_icon:before { content: '\e80d'; } /* '' */