
<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/01.png">
    <div class="row clearfix">
        <div class="column full display">
            <h1>Beautiful content. Responsive.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/02.png">
    <div class="row clearfix">
        <div class="column full">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante, consectetur sit amet vulputate vel, dapibus sit amet lectus.</p>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/03.png">
    <div class="row clearfix">
        <div class="column full">
            <h1>Heading 1 Text Goes Here</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/04.png">
    <div class="row clearfix">
        <div class="column full">
            <h2>Heading 2 Text Goes Here</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/05.png">
    <div class="row clearfix">
        <div class="column full">
            <hr />
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/06.png">
    <div class="row clearfix">
        <div class="column full">
            <br /><br />
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/07.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/01.jpg" alt=""/>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/08.png">
    <div class="row clearfix">
        <div class="column half">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/02.jpg" alt=""/>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/09.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half center">
            <img src="/js/ContentBuilder/assets/default/03.jpg" class="circle" alt=""/>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/10.png">
    <div class="row clearfix">
        <div class="column half">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half center">
            <img src="/js/ContentBuilder/assets/default/04.jpg" class="circle" alt=""/>
        </div>
    </div>
</div>

<!-- YOUTUBE -->
<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/11.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/12.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half center">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/13.png">
    <div class="row clearfix">
        <div class="column half">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/14.png">
    <div class="row clearfix">
        <div class="column half">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column half">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/15.png">
    <div class="row clearfix">
        <div class="column third">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column third">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="column third">
            <h3>Lorem Ipsum is simply dummy text</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </div>
</div>



<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/16.png">
    <div class="row clearfix">
        <div class="column half">
            <figure>
                <img src="/js/ContentBuilder/assets/default/05.jpg" alt=""/>
                <figcaption>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column half">
            <figure>
                <img src="/js/ContentBuilder/assets/default/06.jpg" alt=""/>
                <figcaption>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/17.png">
    <div class="row clearfix">
        <div class="column half">
            <figure class="center">
                <img src="/js/ContentBuilder/assets/default/07.jpg" class="circle" alt=""/>
                <figcaption>
                    <h3>Printing</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column half">
            <figure class="center">
                <img src="/js/ContentBuilder/assets/default/08.jpg" class="circle" alt=""/>
                <figcaption>
                    <h3>Typesetting</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/18.png">
    <div class="row clearfix">
        <div class="column third">
            <figure>
                <img src="/js/ContentBuilder/assets/default/09.jpg" alt=""/>
                <figcaption>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column third">
            <figure>
                <img src="/js/ContentBuilder/assets/default/10.jpg" alt=""/>
                <figcaption>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column third">
            <figure>
                <img src="/js/ContentBuilder/assets/default/11.jpg" alt=""/>
                <figcaption>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/19.png">
    <div class="row clearfix">
        <div class="column third">
            <figure class="center">
                <img src="/js/ContentBuilder/assets/default/12.jpg" class="circle" alt=""/>
                <figcaption>
                    <h3>Printing</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column third">
            <figure class="center">
                <img src="/js/ContentBuilder/assets/default/13.jpg" class="circle" alt=""/>
                <figcaption>
                    <h3>Typesetting</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
        <div class="column third">
            <figure class="center">
                <img src="/js/ContentBuilder/assets/default/14.jpg" class="circle" alt=""/>
                <figcaption>
                    <h3>Typesetting</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </figcaption>
            </figure>
        </div>
    </div>
</div>



<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/20.png">
    <div class="row clearfix">
        <div class="column half">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column half">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/21.png">
    <div class="row clearfix">
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
</div>


<!-- HEADERS -->

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/22.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr">
                <img src="/js/ContentBuilder/assets/default/15.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/23.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr one">
                <img src="/js/ContentBuilder/assets/default/16.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/24.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr two">
                <img src="/js/ContentBuilder/assets/default/17.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/25.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr three">
                <img src="/js/ContentBuilder/assets/default/18.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/26.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr four">
                <img src="/js/ContentBuilder/assets/default/19.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/27.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr five">
                <img src="/js/ContentBuilder/assets/default/20.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/28.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr six">
                <img src="/js/ContentBuilder/assets/default/21.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/29.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr seven">
                <img src="/js/ContentBuilder/assets/default/22.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/30.png">
    <div class="row clearfix">
        <div class="column full">
            <figure class="hdr eight">
                <img src="/js/ContentBuilder/assets/default/23.jpg" alt=""/>
                <div>
                    <figcaption>
                        <h2>The <span>Cafe</span></h2>
                        <p>Fresh roasted coffee, exclusive teas & light meals</p>
                    </figcaption>
                </div>
            </figure>
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/31.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="quote">
                <i class="icon-quote"></i>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/32.png">
    <div class="row clearfix">
        <div class="column half">
            <div class="quote">
                <i class="icon-quote"></i>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
        <div class="column half">
            <div class="quote">
                <i class="icon-quote"></i>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/33.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <div class="quote">
                <i class="icon-quote"></i>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
        <div class="column half center">
            <img src="/js/ContentBuilder/assets/default/24.jpg" class="circle" alt=""/>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/34.png">
    <div class="row clearfix">
        <div class="column half">
            <div class="quote">
                <i class="icon-quote"></i>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
        <div class="column half center">
            <img src="/js/ContentBuilder/assets/default/25.jpg" class="circle" alt=""/>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/35.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="mg1" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/36.png">
    <div class="row clearfix">
        <div class="column third flow-opposite">
            <h3>Get in Touch</h3>
            <p>
                <strong>Company, Inc.</strong><br>
                123 Street, City<br>
                State 12345<br>
                P: (123) 456 7890 / 456 7891
            </p>

            <p>
                <strong>Full Name</strong><br>
                <a href="mailto:#">first.last@example.com</a>
            </p>
        </div>
        <div class="column two-third">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="mg1" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/37.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <div class="display">
                <h1>Beautiful content. Responsive.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div style="margin:1em 0 2.5em;">
                    <a href="#" class="btn btn-primary edit">Read More</a>
                </div>
            </div>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/26.jpg" alt="">
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/38.png">
    <div class="row clearfix">
        <div class="column half">
            <div class="display">
                <h1>Beautiful content. Responsive.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div style="margin:1em 0 2.5em;">
                    <a href="#" class="btn btn-primary edit">Read More</a>
                </div>
            </div>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/27.jpg" alt="">
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/39.png">
    <div class="row clearfix">
        <div class="column half flow-opposite">
            <h1>Beautiful content. Responsive.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="margin:1em 0 2.5em;">
                <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/28.jpg" alt="">
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/40.png">
    <div class="row clearfix">
        <div class="column half">
            <h1>Beautiful content. Responsive.</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div style="margin:1em 0 2.5em;">
                <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
        <div class="column half">
            <img src="/js/ContentBuilder/assets/default/29.jpg" alt="">
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/41.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="display center">
                <h1>Beautiful content. Responsive.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
                <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/42.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="display center">
                <h1 style="font-size:4em">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
                <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/43.png">
    <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
                <a href="#" class="btn btn-default edit">Read More</a> &nbsp;
                <a href="#" class="btn btn-primary edit">Download</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/44.png">
    <div class="row clearfix">
        <div class="column full">
            <img src="/js/ContentBuilder/assets/default/30.jpg" alt="">
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/45.png">
    <div class="row clearfix">
        <div class="column full">
            <div class="display">
                <p style="font-size:1em">This is a special report</p>
                <h1 style="font-size:3.5em;margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            </div>
        </div>
        <div class="column two-sixth flow-opposite">
            <p style="margin:2.2em 0 0"><b>By [Your Name Here]</b><br>A freelance designer & developer based in Melbourne, Australia.</p>
        </div>
        <div class="column sixth center">
            <img src="/js/ContentBuilder/assets/default/31.jpg" class="circle" alt="">
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/default/thumbnails/46.png">
    <div class="row clearfix" style="margin: 1em 0;">
        <div class="column two-sixth flow-opposite">
            <p style="margin:1.1em 0 0">
                <b>Sara Phillipps</b><br>A freelance web designer &amp; developer based in Melbourne, Australia.
            </p>
            <div class="social edit">
                <a href="https://twitter.com/"><i class="icon-twitter"></i></a>
                <a href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
                <a href="https://plus.google.com/"><i class="icon-googleplus"></i></a>
                <!--<a href="#"><i class="icon-github"></i></a>
                <a href="#"><i class="icon-dribbble"></i></a>
                <a href="#"><i class="icon-pinterest"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>-->
                <a href="mailto:you@example.com"><i class="icon-mail"></i></a>
            </div>
        </div>
        <div class="column sixth center">
            <img src="/js/ContentBuilder/assets/default/31.jpg" class="circle" alt="">
        </div>
    </div>
</div>

