﻿@import url('../icons/css/fontello.css');
@import url('/fonts/vodafone/stylesheet.css');
@import url('/css/inner-content.css');


.inner-content-container {
    font-family: 'vodafone_rg',Arial,serif;
}
#ifrHeadings{
    height: 290px !important;
}
#md-headings{
    max-width: 240px !important;
}
/*# sourceMappingURL=maps/inner-content.css.map */
.container .h1, .container .h2, .container .h3, .container .h4, .container .h5, .container .h6, .container h1, .container h2, .container h3, .container h4, .container h5, .container h6{
    font-weight: normal;
}
[data-list="indent"]{
    display: none !important;
}
[data-list="outdent"]{
    display: none !important;
}
.inner-content-container  blockquote{
    padding: 0;
    font-size: 14px;
    border-left: none;
    color: #4a4d4e;
    margin:10px 0;
}
.right-column{
  z-index: 10;
}
.marginBetween{
    background-color: #ede7a6;
}

