<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/01.png">
    <div class="row clearfix">
        <div class="container">
          <div class="column full">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/27.png">
    <div class="row clearfix">
        <div class="container web-store">
            <div class="btn-container">
                <a href="https://itunes.apple.com/ua/app/vodafone-tv/id1067569042?l=ru&amp;ls=1&amp;mt=8" class="btn">
                    <img src="/js/ContentBuilder/assets/vodafone/apple-bg.png"></a>
                <a href="https://play.google.com/store/apps/details?id=ua.vodafone.tv" class="btn">
                    <img src="/js/ContentBuilder/assets/vodafone/google-bg.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/28.png">
        <div class="container three-promo">
            <div class="column third">
                <h2>Тарифы</h2>
                <p class="title"><span>Эфир &nbsp;</span>21грн/мес</p>
                <p class="text">
                    39 телеканалов,
                    3 из них в HD-качестве
                </p>
                <p class="title"><span>Кино &nbsp;</span>21грн/мес</p>
                <p class="text">
                    Более 3000 фильмов,
                    сериалов и ТВ-шоу
                </p>
                <div class="btn-container"><a class="btn">Подробнее</a></div>
            </div>
            <div class="column third">
                <h2>Доступ</h2><img src="/js/ContentBuilder/assets/vodafone/center-bg.jpg">
                <p class="text">Смотри на 3-х устройствах без дополнительной платы</p>
                <div class="btn-container"><a class="btn">Подробнее</a></div>
            </div>
            <div class="column third">
                <h2>Просмотр</h2>
                <ul>
                    <li class="dot">ТВ-запись на 7 дней</li>
                    <li class="pause">ТВ-пауза до 10 минут</li>
                    <li class="lock">Родительский контроль</li>
                    <li class="star">Программы по темам</li>
                    <li class="cc">Звуковые дорожки и субтитры</li>
                </ul>
                <div class="btn-container"><a class="btn">Подробнее</a></div>
            </div>
        </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/02.png">
    <div class="row clearfix">
       <div class="container">
          <div class="column half">
            <h3>Информация для новых абонентов</h3>
            <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p>
          </div>
          <div class="column half">
            <h3>Информация для новых абонентов</h3>
            <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p>
          </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/03.png">
    <div class="row clearfix">
       <div class="container">
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
          </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/26.png">
    <div class="row clearfix three-column-image">
       <div class="container">
          <div class="column third">
            <h3>Подключение и переход в тарифы</h3>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
            <img src="/js/ContentBuilder/assets/vodafone/bg.gif">
            <div class="btn-container">
                <a class="btn">Call to action</a>
            </div>
          </div>
          <div class="column third">
           <h3>Подключение и переход в тарифы</h3>
           <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
           <img src="/js/ContentBuilder/assets/vodafone/bg.gif">
           <div class="btn-container">
               <a class="btn">Call to action</a>
           </div>
       </div>
          <div class="column third">
               <h3>Подключение и переход в тарифы</h3>
               <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
               <img src="/js/ContentBuilder/assets/vodafone/bg.gif">
               <div class="btn-container">
                   <a class="btn">Call to action</a>
               </div>
           </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/04.png">
    <div class="row clearfix">
       <div class="container">
          <div class="column full">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
              <div class="btn-container">
                  <a class="btn">Call to action</a>
                  <a class="btn">Call to action</a>
              </div>
          </div>
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/05.png">
    <div class="row clearfix">
       <div class="container">
          <div class="column full center">
            <h2>Подключение и переход в тарифы</h2>
            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.</p>
              <div class="btn-container">
                  <a class="btn">Call to action</a>
                  <a class="btn">Call to action</a>
              </div>
          </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/06.png">
    <div class="row clearfix">
       <div class="container">
          <div class="column full center">
            <h2>See international tariffs</h2>
              <div class="btn-container">
                  <a class="btn important">Предоплата</a>
                  <a class="btn important">Контракт</a>
              </div>
          </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/07.png">
    <div class="row clearfix">
        <div class="row">
            <div class="column full">
                <hr>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/08.png">
    <div class="row clearfix">
        <div class="row">
            <div class="column full">
                <hr class="wide">
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/21.png">
    <div class="row clearfix marginBetween">

    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/09.png">
    <div class="row clearfix">
        <div class="row">
            <h2 class="separator">
                <div class="container">Інші способи оплати</div>
            </h2>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/10.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column half"><img src="/js/ContentBuilder/assets/vodafone/bg.gif"></div>
            <div class="column half">
                <h3>Информация для новых абонентов</h3>
                <p>Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</p>
                <a class="btn">Call to action</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/11.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column full">
                <figure class="hdr seven"><img src="/js/ContentBuilder/assets/vodafone/big.jpg">
                    <div>
                        <figcaption>
                            <h2>Подключение и переход в тарифы</h2>
                            <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
                            </p>
                            <div class="btn-container">
                                <a class="btn">Call to action</a>
                                <a class="btn">Call to action</a>
                            </div>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/12.png">
    <div class="row clearfix">
        <div class="row">
            <div class="column full">
                <figure class="hdr six wide"><img src="/js/ContentBuilder/assets/vodafone/small.jpg">
                    <div>
                        <figcaption>
                            <div class="container">
                                <h2>Подключение и переход в тарифы</h2>
                                <p>Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. </p>
                                <div class="btn-container">
                                    <a class="btn">Call to action</a>
                                    <a class="btn">Call to action</a>
                                </div>
                            </div>
                        </figcaption>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/13.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column full"><img src="/js/ContentBuilder/assets/vodafone/big.jpg"></div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/14.png">
    <div class="row clearfix">
        <div class="column full"><img src="/js/ContentBuilder/assets/vodafone/1260x400.jpg"></div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/14-1.png">
    <div class="row clearfix negative-indent-top">
        <div class="column full"><img src="/js/ContentBuilder/assets/vodafone/small.jpg"></div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/15.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column half">
                <div class="file">
                    <div class="date">22 грудня 2015</div>
                    <div class="link"><a href="#">Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок</a></div>
                </div>
            </div>
            <div class="column half">
                <div class="file">
                    <div class="date">22 грудня 2015</div>
                    <div class="link"><a href="#">Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/16.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column full">
                <div class="alert alert-important">
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна»
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/17.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column full">
                <div class="alert">
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна»
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/22.png">
    <div class="row">
        <div class="accordion">
            <div class="panel">
                <div class="title">
                    <div class="container"><div class="column full">Акція «Подарунки за поповнення рахунку»</div></div>
                </div>
                <div class="content">
                    <div class="container"><div class="column full">Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!</div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/18.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column two-third">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="column third">
                Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В»
                или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/19.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column full">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/20.png">
    <div class="row clearfix">
        <div class="container">
            <div class="column two-third">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed" class="mg1"></iframe>
                </div>
            </div>
            <div class="column third">
                <h3>Get in Touch</h3>
                <p><strong>Company, Inc.</strong><br>123 Street, City<br>State 12345<br>P: (123) 456 7890 / 456 7891</p>
                <p><strong>Full Name</strong><br><a href="mailto:#">first.last@example.com</a></p>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/23.png">
    <div class="container">
        <div class="column full">
            <div class="featured_items">
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/map.png"></div>
                    <strong>Coverage map</strong>

                    <p>Check our network in Ukraine</p>
                </a>

                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/buy.png"></div>
                    <strong>Where to buy</strong>

                    <p>Find the nearest shop</p>
                </a>
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/settings.png"></div>
                    <strong>3G Settings </strong>

                    <p>Setup your smartphone for 3G network</p>
                </a>
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/recharging.png"></div>
                    <strong>Recharging</strong>

                    <p>Easy recharge through internet</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/24.png">
    <div class="container">
        <div class="column full">
            <div class="featured_items version2">
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/version2/01.png"></div>
                    <strong>Coverage map</strong>

                    <p>Check our network in Ukraine</p>
                </a>

                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/version2/02.png"></div>
                    <strong>Where to buy</strong>

                    <p>Find the nearest shop</p>
                </a>
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/version2/03.png"></div>
                    <strong>3G Settings </strong>

                    <p>Setup your smartphone for 3G network</p>
                </a>
                <a href="#" class="featured">
                    <div class="icon"><img src="/img/featured/version2/04.png"></div>
                    <strong>Recharging</strong>

                    <p>Easy recharge through internet</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="/js/ContentBuilder/assets/vodafone/thumbnails/25.png">
    <div class="container">
        <div class="column full">
            <div class="featured_items version3">
                <a href="#" class="featured">
                    <div class="border"></div>
                    <div class="icon"><img src="/img/featured/version2/01.png"></div>
                    <strong>Coverage map</strong>

                    <p>Check our network in Ukraine</p>
                </a>

                <a href="#" class="featured">
                    <div class="border"></div>
                    <div class="icon"><img src="/img/featured/version2/02.png"></div>
                    <strong>Where to buy</strong>

                    <p>Find the nearest shop</p>
                </a>
                <a href="#" class="featured">
                    <div class="border"></div>
                    <div class="icon"><img src="/img/featured/version2/03.png"></div>
                    <strong>3G Settings </strong>

                    <p>Setup your smartphone for 3G network</p>
                </a>
                <a href="#" class="featured">
                    <div class="border"></div>
                    <div class="icon"><img src="/img/featured/version2/04.png"></div>
                    <strong>Recharging</strong>

                    <p>Easy recharge through internet</p>
                </a>
                <a href="#" class="featured">
                    <div class="border"></div>
                    <div class="icon"><img src="/img/featured/version2/05.png"></div>
                    <strong>Recharging</strong>

                    <p>Easy recharge through internet</p>
                </a>
            </div>
        </div>
    </div>
</div>
