<div data-thumb="assets/minimalist-basic/thumbnails/a01.png" data-cat="0,1">
	<div class="row clearfix">
		<div class="column full">
			<div class="display">
				<h1>Lorem Ipsum is simply 111dummy text of the printing and typesetting industry</h1>
                <script type="text/javascript"></script>
			</div>
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/c01.png" data-cat="0,3">
	<div class="row clearfix">
		<div class="column full">
            		<div class="display">
                		<p style="font-size:1em">This is a special report</p>
                		<h1 style="font-size:3.5em;margin:0.2em 0">Lorem Ipsum is simply dummy text of the printing industry</h1>
            		</div>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/g01.png" data-cat="0,6">
	<div class="row clearfix">
		<div class="column full">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante, consectetur sit amet vulputate vel, dapibus sit amet lectus.</p>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e01.png" data-cat="0,5">
	<div class="row clearfix">
        	<div class="column full">
            		<h1>Heading 1 Text Goes Here</h1>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
    	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e02.png" data-cat="0,5">
	<div class="row clearfix">
        	<div class="column full">
            		<h2>Heading 2 Text Goes Here</h2>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
    	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e08.png" data-cat="0,5">
	<div class="row clearfix">
		<div class="column third">
			<h1>Beautiful Content</h1>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
		<div class="column two-third">
			<img src="assets/minimalist-basic/e08-1.jpg" style="margin-right:1.5em">
			<img src="assets/minimalist-basic/e08-2.jpg">
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e09.png" data-cat="0,5">
	<div class="row clearfix">
		<div class="column third">
			<h1>Lorem Ipsum</h1>
			<p>Lorem Ipsum is simply dummy text. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
		</div>
		<div class="column two-third">
			<img src="assets/minimalist-basic/e09-1.jpg">
		</div>
	</div>
</div>
<div data-thumb="assets/minimalist-basic/thumbnails/v01.png" data-cat="0,19">
    <div class="row clearfix">
        <div class="column full">
            <hr>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/v02.png" data-cat="0,19">
    <div class="row clearfix">
        <div class="column full">
            <br><br>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/b01.png" data-cat="0,2">
	<div class="row clearfix">
		<div class="column full display">
            		<h1>Beautiful content. Responsive.</h1>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/b12.png" data-cat="0,2">
	<div class="row clearfix">
		<div class="column full">
			<div class="center">
				<img src="assets/minimalist-basic/b12-1.jpg" class="circle">
			</div>
			<div class="display center">
				<h1>Lorem Ipsum is Simply</h1>
				<p>Lorem Ipsum is simply dummy text</p>
			</div>
			<p style="text-align: center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante, consectetur sit amet vulputate vel, dapibus sit amet lectus.</p>
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/b14.png" data-cat="0,2">
	<div class="row clearfix">
		<div class="column full">
			<div class="display center">
				<h1>Beautiful Content</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
				<br>
			</div>
			<div class="center">
				<img src="assets/minimalist-basic/b14-1.jpg"><img src="assets/minimalist-basic/b14-2.jpg"><img src="assets/minimalist-basic/b14-3.jpg">
			</div>
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/g02.png" data-cat="0,6">
	<div class="row clearfix">
		<div class="column half flow-opposite">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/g02-1.jpg">
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/g03.png" data-cat="0,6">
	<div class="row clearfix">
		<div class="column half">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
       		 </div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/g03-1.jpg">
       		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/h01.png" data-cat="0,6">
	<div class="row clearfix">
		<div class="column half">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
		<div class="column half">
			<img src="assets/minimalist-basic/h01-1.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h01-2.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h01-3.jpg" class="circle">
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/h02.png" data-cat="0,6">
	<div class="row clearfix">
		<div class="column half flow-opposite">
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
		<div class="column half">
			<img src="assets/minimalist-basic/h02-1.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h02-2.jpg" class="circle" style="margin-right: 1.5em">
			<img src="assets/minimalist-basic/h02-3.jpg" class="circle">
		</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/o01.png" data-cat="0,12">
	<div class="row clearfix">
		<div class="row clearfix">
			<div class="column full">
            			<img src="assets/minimalist-basic/o01-1.jpg">
        		</div>
		</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/o03.png" data-cat="0,12">
	<div class="row clearfix">
		<div class="column full">
            		<figure class="hdr">
				<img src="assets/minimalist-basic/o03-1.jpg">
				<div>
                    			<figcaption>
					    <h2>The <span>Cafe</span></h2>
					    <p>Fresh roasted coffee, exclusive teas &amp; light meals</p>
				    	</figcaption>	
                		</div>		
			</figure>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/o04.png" data-cat="0,12">
 	<div class="row clearfix">
		<div class="column full">
           		 <figure class="hdr one">
				<img src="assets/minimalist-basic/o04-1.jpg">
				<div>
                    			<figcaption>
					    <h2>The <span>Cafe</span></h2>
					    <p>Fresh roasted coffee, exclusive teas &amp; light meals</p>
				    	</figcaption>	
                		</div>		
			</figure>
        	</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/k06.png" data-cat="0,9">
	<div class="row clearfix">
		<div class="column fourth center">
			<img src="assets/minimalist-basic/k06-1.jpg">
		</div>
		<div class="column fourth">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
		<div class="column fourth center">
			<img src="assets/minimalist-basic/k06-2.jpg">
		</div>
		<div class="column fourth">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/k02.png" data-cat="0,9">
	<div class="row clearfix">
		<div class="column third">
            		<figure>
				<img src="assets/minimalist-basic/k02-1.jpg">
                		<figcaption>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</figcaption>	
			</figure>
        	</div>
        	<div class="column third">
            		<figure>
				<img src="assets/minimalist-basic/k02-2.jpg">
                		<figcaption>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</figcaption>	
			</figure>
        	</div>
        	<div class="column third">
            		<figure>
				<img src="assets/minimalist-basic/k02-3.jpg">
                		<figcaption>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</figcaption>	
			</figure>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/k01.png" data-cat="0,9">
	<div class="row clearfix">
		<div class="column half">
            		<figure>
				<img src="assets/minimalist-basic/k01-1.jpg">
                		<figcaption>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</figcaption>	
			</figure>
        	</div>
        	<div class="column half">
            		<figure>
				<img src="assets/minimalist-basic/k01-2.jpg">
               	 		<figcaption>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
				</figcaption>	
			</figure>
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p01.png" data-cat="0,13">
	<div class="row clearfix">
		<div class="column half flow-opposite">
           		<div class="display">
               			<h1>Beautiful content. Responsive.</h1>
                		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                		<div style="margin:1em 0 2.5em;">
                			<a href="#" class="btn btn-primary edit">Read More</a>
                		</div>
            		</div>
        	</div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/p01-1.jpg">
       	 	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p02.png" data-cat="0,13">
	<div class="row clearfix">
		<div class="column half">
            		<div class="display">
                		<h1>Beautiful content. Responsive.</h1>
                		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                		<div style="margin:1em 0 2.5em;">
                			<a href="#" class="btn btn-primary edit">Read More</a>
                		</div>
            		</div>
        	</div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/p02-1.jpg">
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p03.png" data-cat="0,13">
 	<div class="row clearfix">
		<div class="column half flow-opposite">
            		<h1>Beautiful content. Responsive.</h1>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            		<div style="margin:1em 0 2.5em;">
            			<a href="#" class="btn btn-primary edit">Read More</a>
            		</div>
        	</div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/p03-1.jpg">
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p04.png" data-cat="0,13">
 	<div class="row clearfix">
		<div class="column half">
            		<h1>Beautiful content. Responsive.</h1>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            		<div style="margin:1em 0 2.5em;">
            			<a href="#" class="btn btn-primary edit">Read More</a>
            		</div>
        	</div>
        	<div class="column half">
            		<img src="assets/minimalist-basic/p04-1.jpg">
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p05.png" data-cat="0,13">
  <div class="row clearfix">
        <div class="column full">
            <div class="display center">
                <h1>Beautiful content. Responsive.</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
         </div>
    </div>
    <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
            <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p06.png" data-cat="0,13">
 <div class="row clearfix">
        <div class="column full">
            <div class="display center">
                <h1 style="font-size:4em">Lorem Ipsum is simply dummy text of the printing and typesetting industry</h1>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
            <a href="#" class="btn btn-primary edit">Read More</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/p07.png" data-cat="0,13">
 <div class="row clearfix">
        <div class="column full center">
            <div style="margin:1em 0 2.5em;">
            <a href="#" class="btn btn-default edit">Read More</a> &nbsp;
            <a href="#" class="btn btn-primary edit">Download</a>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/q01.png" data-cat="0,14">
    <div class="row clearfix">
        <div class="column half">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column half">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div> 	
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/q02.png" data-cat="0,14">
    <div class="row clearfix">
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
        <div class="column third">
            <div class="list">
                <i class="icon-ok"></i>
                <h3>Feature Item</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
        </div>
    </div> 	
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/r01.png" data-cat="0,15">
    <div class="row clearfix">
        <div class="column full">
            <div class="quote">
                <i class="icon-quote"></i>
	            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/r02.png" data-cat="0,15">
    <div class="row clearfix">
        <div class="column half">
            <div class="quote">
                <i class="icon-quote"></i>
	            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
        <div class="column half">
            <div class="quote">
                <i class="icon-quote"></i>
	            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <small>by Albert Einstein</small>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/r03.png" data-cat="0,15">
	<div class="row clearfix">
		<div class="column half flow-opposite">
            		<div class="quote">
                		<i class="icon-quote"></i>
	            		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                		<small>by Albert Einstein</small>
            		</div>
        	</div>
        	<div class="column half center">
            		<img src="assets/minimalist-basic/r03-1.jpg" class="circle" style="margin-top:1.5em">
        	</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/r04.png" data-cat="0,15">
	<div class="row clearfix">
		<div class="column half">
            		<div class="quote">
                		<i class="icon-quote"></i>
	            		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                		<small>by Albert Einstein</small>
            		</div>
        	</div>
       		<div class="column half center">
            		<img src="assets/minimalist-basic/r04-1.jpg" class="circle" style="margin-top:1.5em">
        	</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/s01.png" data-cat="0,16">
	<div class="row clearfix">
		<div class="column two-sixth flow-opposite">
            		<p>
                	<b>Sara Phillipps</b><br>A freelance web designer &amp; developer based in Melbourne, Australia.
            		</p>
            		<div class="social edit">
                		<a href="https://twitter.com/"><i class="icon-twitter"></i></a>
                		<a href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
                		<a href="https://plus.google.com/"><i class="icon-googleplus"></i></a>
                		<!--<a href="#"><i class="icon-github"></i></a>
                		<a href="#"><i class="icon-dribbble"></i></a>
                		<a href="#"><i class="icon-pinterest"></i></a>
                		<a href="#"><i class="icon-linkedin"></i></a>
                		<a href="#"><i class="icon-instagram"></i></a>-->
                		<a href="mailto:you@example.com"><i class="icon-mail"></i></a>
           	 	</div>
       	 	</div>
        	<div class="column sixth center">
            		<img src="assets/minimalist-basic/s01-1.jpg" class="circle" style="margin-top:1.2em">
        	</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/s03.png" data-cat="0,16">
	<div class="row clearfix">
		<div class="column third center flow-opposite">
			<h2>Lorem Ipsum</h2>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
			<div class="social edit">
                		<a href="https://twitter.com/"><i class="icon-twitter"></i></a>
                		<a href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
                		<a href="https://plus.google.com/"><i class="icon-googleplus"></i></a>
                		<a href="mailto:you@example.com"><i class="icon-mail"></i></a>
			</div>
        	</div>
		<div class="column two-third">
			<img src="assets/minimalist-basic/s03-1.jpg">
 		</div>
	</div>
</div>


<div data-thumb="assets/minimalist-basic/thumbnails/s10.png" data-cat="0,16">
	<div class="row clearfix">
		<div class="column half">
			<div class="column third center">
				<img src="assets/minimalist-basic/s10-1.jpg" class="circle" style="margin-top:1.5em">
			</div>
			<div class="column two-third">
				<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
				<div class="social edit">
                			<a href="https://twitter.com/"><i class="icon-twitter"></i></a>
                			<a href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
                			<a href="https://plus.google.com/"><i class="icon-googleplus"></i></a>
                			<a href="mailto:you@example.com"><i class="icon-mail"></i></a>
				</div>
			</div>
		</div>
		<div class="column half">
			<div class="column third center">
				<img src="assets/minimalist-basic/s10-2.jpg" class="circle" style="margin-top:1.5em">
			</div>
			<div class="column two-third">
				<p>Lorem Ipsum is simply dummy text of the printing industry.</p>
				<div class="social edit">
                			<a href="https://twitter.com/"><i class="icon-twitter"></i></a>
                			<a href="https://www.facebook.com/"><i class="icon-facebook"></i></a>
                			<a href="https://plus.google.com/"><i class="icon-googleplus"></i></a>
                			<a href="mailto:you@example.com"><i class="icon-mail"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/t01.png" data-cat="0,17">
    <div class="row clearfix">
        <div class="column full">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="mg1" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/t02.png" data-cat="0,17">
    <div class="row clearfix">
        <div class="column third flow-opposite">
            <h3>Get in Touch</h3>
            <p>
              <strong>Company, Inc.</strong><br>
              123 Street, City<br>
              State 12345<br>
              P: (123) 456 7890 / 456 7891
            </p>

            <p>
              <strong>Full Name</strong><br>
              <a href="mailto:#">first.last@example.com</a>
            </p>
        </div>
        <div class="column two-third">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" class="mg1" src="https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&amp;hl=en&amp;sll=-7.981898,112.626504&amp;sspn=0.009084,0.016512&amp;oq=melbourne&amp;hnear=Melbourne+Victoria,+Australia&amp;t=m&amp;z=10&amp;output=embed"></iframe>
            </div>
        </div>
    </div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/o02.png" data-cat="0,20">
 	<div class="row clearfix">
        	<div class="column full">
            		<div class="embed-responsive embed-responsive-16by9">
            			<iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
            		</div>
        	</div>
    	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e13.png" data-cat="0,5,20">
	<div class="row clearfix">
        	<div class="column half flow-opposite">
            		<h3>Lorem Ipsum is simply dummy text</h3>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
        	<div class="column half center">
            		<div class="embed-responsive embed-responsive-4by3">
            			<iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
            		</div>
        	</div>
    	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/e14.png" data-cat="0,5,20">
	<div class="row clearfix">
        	<div class="column half">
            		<h3>Lorem Ipsum is simply dummy text</h3>
            		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        	</div>
        	<div class="column half">
            		<div class="embed-responsive embed-responsive-4by3">
            			<iframe width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen=""></iframe>
            		</div>
        	</div>
    	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/u04.png" data-cat="0,18">
	<div class="row clearfix">
		<div class="column full center">
			<div class="column fifth">
				<div style="background-color: #00bfff">
					<a href="https://twitter.com/" style="color:#ffffff"><i style="font-size:60px" class="icon-twitter"></i></a>
				</div>
			</div>
			<div class="column fifth">
				<div style="background-color: #128BDB;">
					<a href="https://facebook.com/" style="color:#ffffff"><i style="font-size:60px" class="icon-facebook"></i></a>
				</div>
			</div>
			<div class="column fifth">
				<div style="background-color: #E20000;">
					<a href="https://www.youtube.com/" style="color:#ffffff"><i style="font-size:60px" class="icon-youtube"></i></a>
				</div>
			</div>
			<div class="column fifth">
				<div style="background-color: #0569AA;">
					<a href="http://www.website.com/" style="color:#ffffff"><i style="font-size:60px" class="icon-home"></i></a>
				</div>
			</div>
			<div class="column fifth">
				<div style="background-color: #ff69B4">
					<a href="mailto:you@example.com" style="color:#ffffff"><i style="font-size:60px" class="icon-mail"></i></a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- End of Default -->

<div data-thumb="assets/minimalist-basic/thumbnails/n15.png" data-cat="11">
	<div class="row clearfix">
		<div class="column half">
			<img src="assets/minimalist-basic/k01-1.jpg">
        </div>
        <div class="column half">
			<img src="assets/minimalist-basic/k01-2.jpg">
        </div>
	</div>
</div>

<div data-thumb="assets/minimalist-basic/thumbnails/n16.png" data-cat="11">
	<div class="row clearfix">
	    <div class="column third">
            <img src="assets/minimalist-basic/k02-1.jpg">	
        </div>
        <div class="column third">
			<img src="assets/minimalist-basic/k02-2.jpg">
        </div>
        <div class="column third">
			<img src="assets/minimalist-basic/k02-3.jpg">
        </div>
	</div>
</div>


