include ../mixins/menu.jade
include ../mixins/footer.jade
include ../mixins/likes.jade
include ../mixins/ga.jade
include ../mixins/facebook_init.jade
include ../mixins/vk_init.jade
    
- var bodyClass = '';
- var promoSectionClass = '';
block vars
    
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta( name="viewport", content="width=device-width, initial-scale=1")
        block title
            title Site title
        link(rel="stylesheet", href="/fonts/vodafone/stylesheet.css")
        link(rel="stylesheet", href="/css/styles.css")
        include ../partials/fav
        //- vendor scripts
        script(src="/vendor/promise-ajax-js/promise.min.js")
        script(src="/vendor/velocity/velocity.min.js")
        script(src="/vendor/hammer.js/hammer.min.js")
        script document.createElement("picture");
        script(src="/vendor/picturefill/dist/picturefill.min.js", async)
        block scripts
        block socials
            meta(property="og:url", content="http://#{site_domain}")
            meta(property="og:title", content="Site title")
            meta(property="og:description", content="")
            meta(property="og:image", content="http://#{site_domain}/img/fb_share.png")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="Site title")
        //- meta(property="og:locale", content="en_US")
        meta(property="fb:app_id", content="")
        //+vk_init('')
        //+ga('')
    body(class=bodyClass)
        <!--[if lt IE 9]>
        style.
            body {
                overflow: hidden
            }
        .oldie#oldie
            .txt Your browser is too old, outdated and insecure.<br>Please update
        <![endif]-->
        //+facebook_init('')
        header#header
            nav.global-menu
                .container
                    ul.sections
                        li.active: a(href="#") Private
                        li: a(href="#") Business
                    ul.mixed
                        li.dropdown.active
                            span About
                            ul
                                li: a(href="#") About Victory
                                li: a(href="#") Rules
                                li: a(href="#") News
                                li: a(href="#") Press Room
                                li: a(href="#") Our network
                        li: a(href="#") Stores
                        li.dropdown
                            span My Vodafone
                            ul.centered
                                li: a(href="#") Private
                                li: a(href="#") Business
                        li.separator &nbsp;
                        li.dropdown
                            span Eng
                            ul.righted
                                li: a(href="#") Українська
                                li: a(href="#") Русский
                                li.active: a(href="#") English
                .highlighter: .tip
            
            .promo-section(class=promoSectionClass)
                .section-menu-container
                    .logo
                        .romb
                        img(src="/img/logo.png")
                    button.burger
                    nav.section-menu
                        button.search-button
                        button.lang-button Eng
                        button.location-button
                        .main_menu
                            .sections
                                .confirm.show
                                    div
                                        p Ви дійсно знаходитесь в {region}?
                                        p.
                                            <span class="yes">Так, все вірно</span>
                                            <span class="no">Ні, змінити регіон</span>
                                ul
                                    li.active: a(href="#", data-section="private") Private
                                    li: a(href="#", data-section="business") Business
                                    li: a(href="#", data-section="about") About
                            ul.menu-list.private.current
                                li.dropdown
                                    span Tariffs
                                    .submenu: ul
                                        li: a(href="#") Prepaid
                                        li: a(href="#") Contract
                                        li: a(href="#") Inner
                                li
                                    a(href="#") Internet
                                li
                                    a(href="#") International calls
                                li
                                    a(href="#") Roaming
                                li.dropdown.has-banner
                                    span Services
                                    .submenu
                                        ul
                                            li: a(href="#") Recharge account
                                            li: a(href="#") Transfer money
                                            li: a(href="#") "INFO" service
                                            li: a(href="#") "GOOD-OK" service
                                            li: a(href="#") "CLICK" service
                                        ul
                                            li: a(href="#") Recharge account
                                            li: a(href="#") Transfer money
                                            li: a(href="#") "INFO" service
                                        .banner: .cnt
                            ul.menu-list.business
                                li.dropdown
                                    span Tariffs
                                    .submenu: ul
                                        li: a(href="#") Prepaid
                                        li: a(href="#") Contract
                                        li: a(href="#") Inner
                                li
                                    a(href="#") Internet
                                li
                                    a(href="#") International calls
                                li
                                    a(href="#") Roaming
                            ul.menu-list.about
                                li
                                    a(href="#") International calls
                                li
                                    a(href="#") Roaming
                            button.close Close
                        .search
                            form(action="#", method='post')
                                .submit-wrap: button.submit(type='submit'): span Search
                                .search-input-wrap: input.search-input(type="search", placeholder='Search...')
                            button.close Close
                        .langs
                            ul
                                li: a(href="") Українська
                                li: a(href="") Русский
                                li.active: a(href="") English
                            button.close Close
                        .locations
                            .wrap: ul
                                li: span Украина
                                li
                                    a(href="1") Дніпропетровська область
                                    ul
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                        li: a(href='2') Апостолівський район
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                                li: a(href="1") Дніпропетровська область
                            button.close Close
                block undermenu
                            
                    
        section#container
            block content
        block footer
            +footer('')
        script(src="/js/scripts.js")