extends base

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .mainpage-slider
        .slides
            each index in [1, 2, 3]
                a.slide(href="", class=index == 1 ? 'active' : '')
                    picture
                        source(srcset='/img/samples/promo-#{index}-large.jpg', media="(min-width: 1601px)")
                        source(srcset='/img/samples/promo-#{index}.jpg', media="(min-width: 980px)")
                        source(srcset='/img/samples/promo-#{index}-small.jpg', media="(min-width: 660px)")
                        img(srcset='/img/samples/promo-#{index}-mobile.jpg')
                    .container.red.white.gray
                        .title 3G Интернет Безлимитные звонки
                        .subtitle и роуминг как дома
                        span.btn Узнай больше
        .controls
            ul
                li.active: button 3G
                li: button Смартфон 3G
                li: button 3G Эксперименты
        .mobile-controls
            button.bwd
            button.fwd
