fieldset.subcategory-finance.target-contract
    .row: .column.full: label: strong Тип клієнта
    .row
        .column.third
            label.radio
                input(type="radio", name="finance[contract][type]", value="fiz", data-toggle=".subcategory-finance-contract", checked)
                .label Фізична особа
        .column.third
            label.radio
                input(type="radio", name="finance[contract][type]", value="jur", data-toggle=".subcategory-finance-contract")
                .label Юридична особа

    fieldset.subcategory-finance-contract.target-fiz
        .row: .column.full
            label П.І.Б.
            .group
                input(type='text', name='finance[contract][fiz][name]')

        .row: .column.full
            label Паспортні дані
            .group
                input(type='text', name='finance[contract][fiz][passport]')
            p.signature Серія, номер паспорту, ким та коли виданий

        .row: .column.full
            label Пароль
            .group
                input(type='password', name='finance[contract][fiz][password]')

    fieldset.subcategory-finance-contract.target-jur
        .row: .column.full
            label Назва організації
            .group
                input(type='text', name='finance[contract][jur][name]')

        .row: .column.full
            label Реквізити
            .group
                input(type='text', name='finance[contract][jur][details]')

        .row: .column.full
            label Пароль
            .group
                input(type='password', name='finance[contract][jur][password]')