fieldset.subcategory-finance.target-prepaid
    .row: .column.full
        label PUK-код, пароль персонального помічника (IVR-пароль) або кодове слово
        .group
            input(type='text', name='finance[prepaid][code]')