.new_tarif-closed
  @extend %content-box-wrapper
  h1, h2
    margin: 0
    padding: 20px
  ul
    padding: 0
    margin: 0
    li
      border-top: 1px solid #e5e5e5
      margin: 0
      padding: 20px 0 14px 92px
      position: relative
      &:before
        display: none
  span
    font-size: 14px
    margin: -6px 0 0 -71px
    position: absolute
    top: 50%
  a
    color: #000
    text-decoration: none
    &:hover
      color: #e60000
      text-decoration: underline

  @media (min-width: $screen-md-min)
    h1, h2
      padding: 28px 0 27px 28px
    ul
      li
        padding-left: 101px
