.new_tarif-table

  $breakpoint: $screen-sm-max

  overflow: auto
  margin: -20px -20px 0
  padding: 20px 20px 30px
  text-align: center

  > div
    display: inline-block
    min-width: 100%
    position: relative

  table
    background: none
    border: none
    table-layout: fixed
    position: relative
    width: 100%
    th,
    td
      border: 0
      vertical-align: middle
      padding: 5px 12px
      line-height: 1
      text-align: inherit
      font-size: inherit
    th
      height: 90px
    td
      height: 60px
      &.rowspan_2
        height: 120px
      &:after
        bottom: auto
        top: -1px

  .inner
    align-items: stretch
    display: table // IE 9 FIX
    display: flex
    flex-direction: row
    position: relative
    min-width: 100%
    &:before
      content: ''
      position: absolute
      top: 0
      left: 100%
      height: 1px
      width: 20px

  .to_front,
  .item,
  .first,
  .last
    display: table-cell // IE 9 FIX
    display: flex
    position: relative
    //flex: 1 0 0

  .first
    background: #f8f8f8
    border-radius: 3px 0 0 3px
    text-align: left
    font-size: 16px
    margin: 5px 0
    min-width: 220px

  .last
    background: #f8f8f8
    border-radius: 0 3px 3px 0
    min-width: 135px
    max-width: 160px
    margin: 5px 0
    table
      th
        font-size: 16px

  .item
    background: #fff
    border-left: 1px solid #b2b2b2
    border-right: 1px solid #b2b2b2
    margin: 5px 0 5px -1px
    min-width: 120px
    position: relative
    &:before
      border: 5px solid #b2b2b2
      border-left-width: 0
      border-right-width: 0
      border-radius: 3px
      content: ''
      position: absolute
      top: -5px
      left: -1px
      bottom: -5px
      right: -1px
    &:first-child
      margin-left: 0
    &.yellow:before
      border-color: #fecb00
    &.orange:before
      border-color: #eb9700
    &.green:before
      border-color: #a8b400
    &.blue:before
      border-color: #00b0ca
    &.purple:before
      border-color: #9c2aa0

    table th
      padding-left: 50px

  .to_front
    align-items: stretch
    border-radius: 5px
    box-shadow: 7px 7px 30px 3px rgba(0,0,0,.2)
    display: flex
    flex-direction: row
    position: relative
    z-index: 10
    .item
      &:before
        border-top-width: 7px
        border-bottom-width: 7px
        border-radius: 5px
        top: -7px
        bottom: -7px
      &:first-child:before
        border-left-width: 2px
        left: -2px
      &:last-child:before
        border-right-width: 2px
        right: -2px

    th,
    td
      text-align: center

  .price
    font-size: 14px
    font-weight: normal
    white-space: nowrap
    span
      font-size: 24px
      font-weight: bold

  .marker
    position: absolute
    +square(40px)
    border-radius: 50%
    background: $red
    color: #fff
    font-size: 22px
    font-weight: bold
    line-height: 44px
    left: 8px
    top: 23px
    overflow: hidden
    &.light
      font-size: 14px

  @media(min-width: $screen-md-min)
    margin: -20px -30px 0
    padding: 30px 30px 40px

    .pan-trigger
      display: none

    .headings, .tarifs
      font-size: 18px

    .tarifs
      .inner
        &:before
          width: 30px

    .to_front
      box-shadow: 7px 7px 40px 3px rgba(0,0,0,.2)


  @media(min-width: 1240px)
    table
      td, th
        padding: 5px 20px

    .first
      flex: 28% 0 0

    .last
      min-width: 150px

    .item
      min-width: 150px
      table th
        padding-left: 75px

    .price
      span
        font-size: 30px

    .marker
      +square(60px)
      font-size: 30px
      line-height: 65px
      top: 15px
      left: 10px
      &.light
        font-size: 18px


  &.vodafone_light
    .za
      +translate(50%, 50%)
      position: absolute
      right: 0
      bottom: 0
      background: #fff
      padding: 5px 13px
      z-index: 1
    .item
      min-width: 270px
      table
        td:not([colspan="2"])
          &:first-child:after
            right: 0
          &:last-child:after
            left: 0
    @media (min-width: $screen-md-min)
      .first
        min-width: 43%

  &.vodafone_red
    @media (min-width: $screen-md-min) and (max-width: 1060px)
      font-size: 16px

      .first
        font-size: 14px
        min-width: 190px

      .last
        font-size: 14px
        min-width: 110px

      .item
        min-width: 115px
