.new_tarif-banners
  +make-row
  margin-top: 4px
  margin-bottom: -10px
  font-size: 16px

  .item
    +make-xs-column(12)
    @media (max-width: $screen-sm-max)
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
    > *
      background: #fff
      &:first-child
        border-top-left-radius: 3px
        border-top-right-radius: 3px
      &:last-child
        border-bottom-left-radius: 3px
        border-bottom-right-radius: 3px
      &.item-img
        background: #97999c no-repeat 100% 50%
      
  .item-img
    color: #fff
    cursor: pointer
    display: block
    height: 250px
    text-decoration: none
    padding: 192px 20px 0 30px
    position: relative
    &:before
      background: url('/img/tarif/sim.png') no-repeat 50% 50% / contain
      content: ''
      position: absolute
      top: 26px
      left: 24px
      width: 88px
      height: 56px
    .item-title
      margin: 0
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

  .item-title
    font-size: 30px
    font-weight: bold
    line-height: 1
    margin-bottom: 18px
    position: relative
    span
      font-size: 20px
      font-weight: normal

  .item-recomend
    background: #fecb00
    border-radius: 3px 0 0 3px
    color: #000
    text-transform: uppercase
    padding: 0 9px
    position: absolute
    top: -9px
    right: -6px
    height: 30px
    line-height: 32px
    &:after
      content: ''
      border-top: 6px solid #9f0000
      border-right: 6px solid transparent
      position: absolute
      bottom: -6px
      right: 0

  .item-content
    background: #fff
    > div
      +clearfix
      border-top: 1px solid #e5e5e5
      padding: 20px
      &:first-child
        border: 0
    ul
      list-style: none
      margin: 0 auto
      padding: 0
      li
        margin: 0 0 8px 0
        padding-left: 32px

  .item-features
    li
      &:before
        content: none
      .icon
        background: no-repeat 50% 50% / contain
        margin: -2px 0 0 -32px
        position: absolute
        width: 20px
        height: 20px

  .item-advantages
    .title
      color: #b2b2b2
      font-size: 14px
      padding-left: 32px
      margin-bottom: 4px
    li
      line-height: 20px
      &:before
        background: url('/img/tarif/icon-check.png') no-repeat 50% 50%
        content: ''
        margin: 3px 0 0 -28px
        width: 14px
        height: 12px

  .item-bottom
    .btn
      float: right
      font-size: 18px
      line-height: 30px
      margin: 0

  .item-price
    float: left
    line-height: 1
    margin-top: 6px
    max-width: calc(100% - 170px)
    span
      font-size: 36px
      font-weight: bold
      margin-right: 5px
    small
      display: block
      font-size: 14px
      margin-top: -5px

  .item-connect
    background: $red
    border: 0 !important
    border-radius: 0 0 3px 3px
    color: #fff
    font-size: 20px
    text-align: center
    padding: 14px 20px 12px !important
    strike
      &,
      &:before
        color: inherit

  @media (min-width: $screen-md-min)
    &.columns-2
      .item
        width: 50%
    &.columns-3
      .item
        width: 33.333%
    .item-content
      > div
        padding: 24px 25px 25px 28px
    .item-bottom
      height: 91px
      padding-top: 20px !important
    .item-connect
      font-size: 24px

      
  &.custom_style1
    .item
      &:first-child
        .item-features
          padding-bottom: 30px
          @media (min-width: 600px) and (max-width: $screen-sm-max), (min-width: 1200px)
            ul
              float: left
              width: 55%
              + ul
                width: 45%
      &:last-child
        .item-features
          ul
            text-align: center
            padding-top: 15px
            li
              display: inline-block
    .item-content
      > div
        border: 0
        padding-bottom: 20px
    .item-title
      text-align: center
      margin-bottom: 30px
    .item-advantages
      background: #f7f7f7
    .item-price
      float: none
      text-align: center
      max-width: none
      margin: 0