extends ../layouts/inner
block content
    .error-container
        h1 Something isn't quite right
        p The page you're looking for isn't located here. It has either moved, no longer exists or there could be a typo in the URL address entered.
        p.help We'd like to help you get back on track, so here are a few options:
        .links-container
            a(href="#") Private
            a(href="#") Business
            a(href="#") About
            a(href="#") Shops