extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: a(href="#"): span Тарифи передплата
                    li: strong Архiв

block content
    .inner-content-container.transparent.new_tarif
        .page-title-container
            .select-type
                a(href="#") Тарифи
                a.active(href="#") Архів
            h1.page-title Актуальнi тарифи

        .new_tarif-banners.columns-3
            .item.item1
                .item-content
                    .item-features
                        .item-title Vodafone Red XS
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | 1 ГБ
                            li
                                .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 30 хв по Україні
                            li
                                .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                | 30 SMS&amp;MMS по Україні
                    .item-advantages
                        .title Переваги:
                        ul
                            li  «Год без абонплат» «Рік без абонплат»
                            li  Вигідні роумінг тарифи у Європі
                    .item-bottom
                        .item-price <span>40</span>грн
                        a.btn(href="#") Дiзнатися бiльше
            .item.item2
                .item-content
                    .item-features
                        .item-title Vodafone Red S <span>/ M / L</span>
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | 2 ГБ та безліміт у соцмережах
                            li
                                .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 50 хв по Україні та за кордон
                            li
                                .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                | 50 SMS&MMS по Україні та за кордон
                    .item-advantages
                        .title Переваги:
                        ul
                            li Дзвінки за кордон у 62 країни
                            li Vodafone TV, пакет «Ефір» (стандартні умови у Red S, M; включено в пакет Red L)
                            li «Роумінг, як вдома» у Європі
                    .item-bottom
                        .item-price <span>50</span>грн
                        a.btn(href="#") Дiзнатися бiльше
            .item.item3
                .item-content
                    .item-features
                        .item-title Vodafone Light
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 0,50 грн/хв на інші мережі України
                    .item-advantages
                        .title Переваги:
                        ul
                            li Сплачуйте у разі користування
                            li «Рік без оплат»
                    .item-bottom
                        .item-price <span>2</span>грн
                            small у день користування
                        a.btn(href="#") Дiзнатися бiльше

        .new_tarif-closed
            h1 Закритi тарифи
            ul
                li
                    span 2015
                    a(href="#") Vodafone Red XS
                li
                    span 2015
                    a(href="#") Vodafone Red S / M / L
                li
                    span 2015
                    a(href="#") Vodafone Red XS

