extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        h1.page-title Feedback

block content
    .inner-content-container.feedback
        .container Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus urna at sapien tempus, vel luctus magna molestie. Nulla facilisi. Curabitur ultrices eget nunc eu consectetur. Sed eget tincidunt lectus. Phasellus sed tempus nulla. Quisque suscipit cursus urna, vel lobortis risus euismod id. Ut dignissim, ante mattis ultricies placerat, turpis nibh euismod urna, vitae porttitor augue enim in ex. Nullam viverra efficitur facilisis. Vestibulum fringilla eu sem in maximus. Donec ac est vel ipsum viverra sodales a sed quam. Maecenas tristique ex vitae magna mattis tristique. Aenean at aliquam urna, vitae dignissim ipsum. Nullam convallis mi id mauris bibendum condimentum. Integer id consectetur nulla, ac vulputate nibh. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque dolor massa, faucibus quis viverra sit amet, imperdiet vel risus.
        hr.wide
        form(action="/success.html")
            .container.head-container: .row
                .column.third
                    label Ваше ім`я
                    .group
                        input(type='text', name='name')
                    p.signature Вкажіть ваші прізвище, ім'я та по-батькові

                .column.third
                    label Ваша email адреса
                    .group.error
                        input(type='text', name='name', value='пример с ошибкой от сервера')
                    p.signature Введiть свою електронну адресу.

                .column.third
                    label Ваше ім`я
                    .group.num
                        span +38
                        .select: select(name='code')
                            option(value='099') 099
                            option(value='null') не абонент
                        .input: input(type='text', name='num', maxlength=7)
            hr


            .container.form-container
                .row
                    .column.half
                        label Вид звернення
                        .group: .select: select(name="type", data-toggle=".category-selector")
                            option(value="gratitude") Висловити подяку
                            option(value="idea") Подати ідею
                            option(value="appeal") Залишити звернення

                    fieldset.column.half.category-selector.target-gratitude.target-idea
                        label Тема листа
                        .group
                            input(type='text', name='subject')

                    fieldset.column.half.category-selector.target-appeal
                        label Тема зверення
                        .group: .select: select(name="category", data-toggle=".category-container")
                            option(value="connection") Якість зв'язку
                            option(value="service") Якість обслуговування
                            option(value="finance") Тарифікація, фінансові питання
                            option(value="services") Робота послуг
                            option(value="payments") Оплата
                            option(value="loyalty") Програма лояльності
                            option(value="roaming") Роумінг
                            option(value="site") Робота сайту
                            option(value="attention") Увага!*
                            option(value="other") Інше

            .container.form-container
                include feedback/appeal/connection
                include feedback/appeal/service
                include feedback/appeal/finance
                include feedback/appeal/services
                include feedback/appeal/payments
                //include feedback/appeal/loyalty
                include feedback/appeal/roaming
                //include feedback/appeal/site
                include feedback/appeal/attention
                //include feedback/appeal/other

            .container.form-container
                .row: .column.full
                    label Текст листа
                    .group: textarea(rows=7, name="message")
                .row: .column.full
                    .group.file-group: input(type="file", name="attach")
                .row: .column.full
                    .submit
                        button.btn.primary(disabled) Надіслати
                        .loader: img(src="/img/loader.gif")
            .container.response-container
                .response
                    button(type="reset").close x
                    .content
