extends ../layouts/main

block append vars
    - var bodyClass = 'main-page'

block content
    #page_main
        .container: .row
            .inner-content-container
                .featured_items
                    a.featured(href="#")
                        .icon: img(src="/img/featured/map.png")
                        strong Coverage map
                        p Check our network in Ukraine
                    a.featured(href="#")
                        .icon: img(src="/img/featured/buy.png")
                        strong Where to buy
                        p Find the nearest shop
                    a.featured(href="#")
                        .icon: img(src="/img/featured/settings.png")
                        strong 3G Settings 
                        p Setup your smartphone  for 3G network
                    a.featured(href="#")
                        .icon: img(src="/img/featured/recharging.png")
                        strong Recharging
                        p Easy recharge through internet
                    
        .banners
            .banner: .cnt.red
                .title Звонки заграницу и роуминг как дом, вот это все
                .subtitle Настройте свой смартфон на использовние 3Ж
            .banner: .cnt.white
                .title Звонки заграницу и роуминг как дом, вот это все
                .subtitle Настройте свой смартфон на использовние 3Ж
            .banner: .cnt.gray
                .title Звонки заграницу и роуминг как дом, вот это все
                .subtitle Настройте свой смартфон на использовние 3Ж

