extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
                    
            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
                    
        h1.page-title Акція: «Щасливий квиток на к/ф «Еверест»!»

block content
    
    .inner-content-container
        .container
            p.
                У період з 21 вересня по 27 вересня 2015 оформлюйте підписку на послугу «Світ кіно» та отримайте 
                можливість стати власником стильного кіно-сувеніру або білетів на перегляд к/ф «Еверест» в одному 
                з кінотеатрів міст прокату1 фільму. 
            h3 Для участі в Акції:
            ul
                li.
                    оформлюйте підписку на послугу «Світ кіно» Десять абонентів, які будуть визначені випадковим чином серед усіх, 
                    котрі мають активну підписку на послугу «Світ кіно», оформлену до або в період проведення Акції отримають по два 
                    квитки на кінофільм або стильний кіно-сувенір.
                li відправити SMS з текстом «1» на номер 2810
            h3 Десять абонентів
            p. 
                Десять абонентів, які будуть визначені випадковим чином серед усіх, котрі мають активну підписку 
                на послугу «Світ кіно», оформлену до або в період проведення Акції отримають по два квитки на 
                кінофільм або стильний кіно-сувенір. 
            p.
                Період проведення Акції: з 21 вересня по 27 вересня 2015. Під подарунком мається на увазі 
                право переможця отримати 2 квитки на кінофільм або кіно-сувенір.
            h3 Як поповнити рахунок:
            ol
                li Зателефонуйте на номер <kbd>111</kbd>
                li Оберіть пункт «Контроль і управління рахунком», далі пункт «5», далі пункт «1».
                li.
                    Слідуючи голосовим підказкам, введіть номер кредитної картки, термін дії картки, CVV2-код і суму платежу. Безпека 
                    передачі даних досягається засобами GSM-стандарту. Оплата здійснюється без комісії.
                li.
                    До оплати приймаються картки Visa, Visa Electron, MasterCard усіх українських банків, а також карти Cirrus/Maestro, 
                    випущені банками ПАТ « Райффайзен Банк Аваль», ПАТ «Укрсоцбанк» та ПАТ «Укрінбанк».
        
        hr
        
        .container
            h3 Офіційна прем'єра фільму в Україні: 24 вересня 2015. 
            p Більш детальна інформація про фільм розміщена на сайтах:
            p <a href="#">Facebook</a>, <a href="#">Youtube</a>, <a href="#">Twitter</a>.
            p.signature.
                <sup>1</sup> Кінотеатри-учасники Акції знаходяться у містах: 
                Київ, Дніпропетровськ, Запоріжжя, Харків, Одеса, Львів, Миколаїв, Рівне, Суми, Полтава, Чернівці.
        
        hr
            
        .container
            h1 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            h2 Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            h3 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            p.signature signtature Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            
        .container
            .shares
                a(href="#", target="popup", onclick="Share.facebook('URL','TITLE','IMG_PATH','DESC'); return false;").share.fb Facebook
                a(href="#", target="popup", onclick="Share.vkontakte('URL','TITLE','IMG_PATH','DESC'); return false;").share.vk Вконтакте
            