extends ../layouts/inner

block scripts
    script#g-maps-api(src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&libraries=places&extension=.js")
    script(src="/vendor/js-marker-clusterer/src/markerclusterer_compiled.js")

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
                    
            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li: a(href="#") News
                    li: a(href="#") Press Room
                    li.active: a(href="#") Our network
                    
        h1.page-title Our network

block content
    
    .inner-content-container.transparent.network
        .block: .container.coverage: .column.full.
            Мережа ПрАТ «МТС Україна» покриває більше 98% території України, на якій проживає 99% населення.
            
        .block
            .filter
                .container: .column.full
                    .legend
                        .legend-3g(data-data="/data/points_w_groups.json")
                            img(src="/img/map-marker-3g.png")
                            | точки доступу 3G до 42 Мбiт/сек 
                    .selector.state
                        label Регіон
                        .select: select(data-data="/data/states.json")
                    .selector.coverages
                        label Покриття
                        .select: select(data-data="/data/mts-coverages.json")
            .map
                
            .container.points: .column.full
                .list(data-state="9")
                    h2 Спробуйте швидкісний Інтернет <em>3G Vodafon</em> до <em>42Мбіт/с</em> у <strong>Київськiй областi</strong>
                    .district.collapsed
                        strong Район какой-то
                        .collapse: ol
                            li: a(href="#", data-point="44") "Промінвестбанк", м.Київ, пров. Шевченко, 12
                            li: a(href="#", data-point="7") "Пузата хата", м.Київ, вул. Сагайдачного, 24
                            li: a(href="#", data-point="43") "Український дім", м.Київ, вул. Хрещатик, 2
                            li: a(href="#", data-point="4") а/п Жуляни
                            li: a(href="#", data-point="21") БЦ "Евразия", м.Київ, вул. Жилянська, 75
                            li: a(href="#", data-point="14") БЦ "Елевен", м.Київ, вул. Соломянська, 11
                            li: a(href="#", data-point="48") Група компаній "Ovostar Union", м.Київ, вул. Петропавлівська, 34
                            li: a(href="#", data-point="31") будинок Комітетів Верховної Ради (нижня частина будівлі), м.Київ, вул. Садова, 3а
