extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        .news-page-title-container
            .select-type
                a.active(href="#") News
                a(href="#") Archive
            h1.page-title News
            button.period-filter: span August 2015
            .calendar
                .years
                    each year in [2015, 2014, 2013, 2012, 2011]
                        a.year(href="#", class="#{year == 2015 ? 'active': ''}") #{year}
                .months
                    each month, index in ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                        a.month(href="#", class="#{month == 'August' ? 'active': ''} #{index > 8 ? 'disabled': ''}") #{month}
                    .buttons
                        | <a href="#" class="apply">Filter</a>
                        | <a class="reset" href="/uk/news">Reset</a>
                        button.close: span Close

block content
    .inner-content-container.news
        each index in [1, 2, 3, 4, 5]
            article.news-item: .column.full: .container
                h1: a(href="#") «МТС Україна» запустила першу власну мережу 3G. Одесити вже можуть користуватись швидкісним інтернетом
                .date 20 серпня 2015
                .excerpt.
                    Сьогодні «МТС Україна» запустила в Одесі першу власну мережу 3G. З 22 вересня у всіх одеських 
                    абонентів з'явилася можливість користуватися мобільним інтернетом на швидкості до 42 Мбіт/с. 
                    Завершено масштабне будівництво й технічне тестування, тепер власна мережа «МТС Україна» в 
                    Одесі протягом тижня проходитиме тонке налаштування в умовах реального навантаження. Після чого 
                    мережа буде запущена в повномасштабну експлуатацію – абоненти отримають максимальні швидкості та 
                    якість покриття.
        .paginator: .container
            .bwd: a(href="#")
            .links
                each page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    a(href="#", class="#{page==1 ? 'active' : ''}") #{page}
            .fwd: a(href="#")