extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        h1.page-title Recharge your account
block content
    .inner-content-container.pay
        form
            .container.targets: .column.full
                .num
                    label.radio
                        input(type="radio", name="target", checked)
                        .label Номер мобільного телефону
                    
                    .group
                        span +38
                        .select: select(name='code')
                            option(value='099') 099
                        .input: input(type='text', name='num', maxlength=7)
                .account
                    label.radio
                        input(type="radio", name="target")
                        .label Новий особовий рахунок МТС
                    
                    .group
                        input(type='text', name='account', maxlength=12)
                    p.signature наприклад, 101234567891 або 1101385214

            .container.amount: .column.full
                label.label Сума поповнення
                .presets: .group
                    button.btn.active(data-value=20) 20
                    button.btn(data-value=100) 100
                    button.btn(data-value=200) 200
                .sum
                    .group
                        input(type='number', name='sum', maxlength=5, data-max=14999, max=14999, min=1, value=20)
                        span грн
                    p.signature Максимум 14999 грн

            .container.methods: .column.full
                .label Платiжна система
                .method
                    label.radio.pb
                        input(type="radio", name="method")
                        .label: img(src='/img/payments/pb.png', alt="privat bank")
                    label.radio.portmone
                        input(type="radio", name="method")
                        .label: img(src='/img/payments/portmone.png', alt="portmone")
                    label.radio.easypay
                        input(type="radio", name="method")
                        .label: img(src='/img/payments/easypay.png', alt="easypay")

            .container: .column.full
                .submit
                    button.btn.primary(disabled) Далi