extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: strong Тарифи передплата

block content

    .page-title-container
        h1.page-title Рік без абонплат

    .inner-content-container.white_columns

        .row.clearfix
            .new_tarif-banners.columns-2.custom_style1
                .item
                    .item-content
                        .item-features
                            .item-title Рік без абонплат<br> Vodafone Red XS
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                    | 1 ГБ
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                    | Безліміт на дзвінки в мережі
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                    | 30 хв по Україні
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                    | 30 SMS&amp;MMS по Україні
                        .item-advantages
                            .title Переваги:
                            ul
                                li <strong>12 міс</strong> Вільного спілкування з абонентами по Україні
                                li <strong>12 міс</strong> Без обов’язкових щомісячних платежів та поповнень
                                li <strong>30 %</strong> Економії
                        .item-bottom
                            .item-price <span>360</span><br>грн/рік
                        .item-connect Пiдключити <strike>*365#</strike>
                .item
                    .item-content
                        .item-features
                            .item-title Рік без оплат<br> Vodafone Light
                            ul
                                li
                                    .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                    | Безліміт на дзвінки в мережі
                        .item-advantages
                            .title Переваги:
                            ul
                                li <strong>12 міс</strong> Вільного спілкування в мережі Vodafone Україна та МТС Україна
                                li <strong>12 міс</strong> Без оплат
                                li <strong>50 %</strong> Економії
                        .item-bottom
                            .item-price <span>360</span><br>грн/рік
                        .item-connect Пiдключити <strike>*365#</strike>

        .row.clearfix
            .row
                .container
                    .column.full
                        | Послуга діє 365 днів з моменту її активації. Вартість послуги знімається під час її підключення. Перевірити термін дії послуги у тарифі - <strike>*365*1#</strike>

        .row.clearfix
            .accordion
                .panel.expanded
                    .title: .container: .column.full Як пiдключити Vodafone Red XS
                    .content: .container: .column.full
                        p Після здійснення першого дзвінка у тарифі Vodafone Red XS або після переходу з будь-яких тарифів Vodafone Передплата та МТС Україна Передплата, Ви маєте можливість протягом перших 7 днів підключити послугу «Рік без абонплат» за спеціальною вартістю.
                        .table-wrap.custom_style1
                            div
                                table
                                    tr
                                        th Спеціальна вартість
                                        th Термін дії пропозиції
                                        th Підключення
                                        th Статус послуги
                                    tr
                                        td: .color_red 360 грн
                                        td
                                            .color_red 7 днів
                                            .fsz16 після здійснення 1-го дзвінка<br> чи переходу у тариф
                                        td: strike *365*1#
                                        td: strike *365*1#

                        blockquote
                            br
                            p Тарифи діють на території України.
                            p Тарифи вказані y гривнях з урахуванням ПДВ та збору до Пенсійного фонду, який становить 7,5% від вартості послуг без ПДВ, станом на 01.08.2016 року.
                            p Вартість дзвінків вказано за першу секунду кожної хвилини розмови.   Мінімальний строк дії тарифу — 30 днів із моменту його введення. 
                            p Детальну інформацію щодо тарифів, акцій, вартості та умов надання послуг можна отримати за телефонами: 
                            p <strong>111</strong>  — безкоштовно з мобільного Vodafone Україна  в Україні; 
                            p <strong>0800 400  111</strong>  — консультація щодо тарифів та послуг Vodafone Україна для абонентів інших операторів України (безкоштовно з будь-якого номера в Україні).
                            p ПрАТ «МТС УКРАЇНА», 01601, м. Київ, вул. Лейпцизька, 15, у реєстрі операторів, провайдерів телекомунікацій № 47.