extends ../layouts/inner
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        .roaming-page-title-container
            .select-type
                a.active(href="#") Prepayment
                a(href="#") Contract
            h1.page-title Roaming
block content
    .inner-content-container.transparent.roaming
        .block: .column.full: .container
            p Роумінг без обмежень - дзвінки, Інтернет, SMS&MMS у мережах Vodafone в Європі в Вашому тарифі.
            img.map(src="http://www.fillmurray.com/900/600")
            h3 Подорожуйте Європою з послугою «Роумінг як вдома» 
            .roaming
                table
                    col
                    col.accent
                    col
                    col
                    thead
                        td: column «Роумінг як вдома» на 30 днів
                        td: column Вартість на 30 днів 
                        td: column Замовити 
                        td: column Перевірити
                    tbody
                        td: column
                            ul
                                li Безлімітні всі вхідні дзвінки  
                                li Безлімітні дзвінки на номери абонентів Vodafone та МТС-Україна в Україні 
                                li  7 ГБ мобільного Інтернету  
                                li Безлімітний доступ до Facebook, Instagram, Twitter,  Viber, WhatsApp 
                                li 150 хвилин та 150 SMS&MMS на всі мережі України та Європи (країни Vodafone)
                        td: column
                            .price
                                strong 450
                                span грн<br>мic
                            | Red XL у роумінгу (країни Vodafone)
                        td: column: kbd *600#
                        td: column: kbd *600#1 
            p.signature.
                Після використання пакету хвилин будуть діяти наступні тарифи: мобільний Інтернет – 500 МБ/10 грн, 
                дзвінки по Європі (країни Vodafone) – 0,50 грн/хв., дзвінки на інші мережі України – 10 грн/хв., 
                дзвінки на всі інші напрямки світу – 50 грн/хв., SMS&MMS – 0,50 грн/хв.
            p Послуга «Роумінг як вдома» діє тільки на території Європи (країни Vodafone) при реєстрації в мережі Vodafone. 
        .block.countries
            .accordion
                .panel
                    .title: .container: .column.full Країни Vodafone в Європі 
                    .content: .container: .column.full
                        ul
                            li Італія 
                            li Німеччина 
                            li Чеська Республіка 
                            li Іспанія 
                            li Португалія 
                            li Угорщина 
                            li Великобританія 
                            li Греція 
                            li Нідерланди 
                            li Мальта 
                            li Ірландія 
                            li Албанія 
                            li Румунія 
                            li Туреччина 
        .block.tariffs
            .accordion
                .panel
                    .title: .container: .column.full Дзвінки, SMS&MMS на інші міжнародні напрямки  
                    .content: .container: .column.full
                        table.striped
                            thead
                                tr
                                    td Країна
                                    td Код країни 
                                    td Вартість хвилини розмови
                            tbody
                                col
                                col
                                col
                                each index in [1, 2, 3, 4, 5]
                                    tr
                                        th Австралія
                                        td (+61) 
                                        td 1 грн