extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
        h1.page-title Search results
        
block content
    .inner-content-container.search-results
        .wrap
            .search-box
                .container
                    form(action="#", method='post')
                        .submit-wrap: button.submit(type='submit'): span Search
                        .search-input-wrap: input.search-input(type="search", placeholder='Search...')
                    .counter About <strong>32</strong> results
                        
            .search-results-list
                each index in [1, 2, 3, 4, 5]
                    article.search-result: .container: .column.full
                        .index #{index}
                        a(href="#")
                            h1 <strong>Phones</strong> for the hearing impaired
                            .url http://www.vodafone.com.au/aboutvodafone/disabilityservices/hearingimpairment/phones
                        .excerpt.
                            Vodafone Australia has a range of phones to help the hearing impaired with flashing alerts, 
                            tactile feedback keys, hearing loop connections and more.
                
        .paginator: .container
            .bwd: a(href="#")
            .links
                each page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    a(href="#", class="#{page==1 ? 'active' : ''}") #{page}
            .fwd: a(href="#")