extends ../layouts/inner

block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        h1.page-title Settings

block content

    .inner-content-container.transparent.settings
        .block: .container.settings: .column.full.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
            interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
            est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
            vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
            feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
            sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
            Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
            turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
            non varius sapien vestibulum.



        .block
            .container.slim: .column.full
                .variants-selector.tabs-switch
                    a.active(href="#settings-auto") Автоматичнi
                    a(href="#settings-manual") Ручнi
                h1.page-title Налаштування 3G
                .important Усi поля обов'язкові для заповнення поля.

            .container: .column.full.settings-content
                #settings-auto
                    form(action="#")
                        .num
                            .label Номер Вашого мобільного телефону
                            .group
                                span +38
                                .select: select.code(name='code')
                                    option(value='099') 099
                                .input: input(type='text', name='num', maxlength=7)
                        .captcha
                            .label Номер на картинцi

                            .group
                                img(src="http://lorempixel.com/80/45/")
                                input(type='text', name='captcha', maxlength=4)

                        .submit
                            button.btn.primary(type="submit") Надiслати налаштування
                        .response
                            button(type="reset").close x
                            .content

                    .agreement
                        p.
                            Натискаючи кнопку «Відправити», Ви погоджуєтесь на обробку Ваших персональних даних та / або
                            передачу її третім особам для цілей, пов'язаних з її заповненням,
                            а також маркетингових цілей. <a class="trigger" href="#expand">Детальніше</a>
                        .details(style="display: none")
                            h3 Угода
                            p Заповненням цієї реєстраційної форми Абонент надає свою згоду на обробку його персональних даних та/або передачу їх третім особам для цілей, пов'язаних з їх зберіганням, а також маркетингових цілей (включаючи, але не обмежуючись, отримання винагород та подарунків по акціям та програмам лояльності ПрАТ «MTC УКРАЇНА», отримання рекламної інформації від ПрАТ «MTC УКРАЇНА» та/або партнерів з використанням вказаних даних).
                            p Заповненням цієї реєстраційної форми Абонент надає згоду на обробку своїх персональних даних з використанням засобів автоматизації та/або без таких ПрАТ «МТС УКРАЇНА» самостійно та/або розпорядником бази персональних даних за дорученням ПрАТ «МТС УКРАЇНА», а також погоджуюся, що ПрАТ «МТС Україна» може передавати мої персональні дані третім особам відповідно до закону або змісту цієї реєстраційної форми.
                            p Підтверджую, що заповнивши цю реєстраційну форму я проінформований про внесення моїх персональних до бази персональних даних ПрАТ «МТС Україна», а також про свої права та осіб, яким передаються мої персональні дані відповідно до Закону України «Про захист персональних даних».

                #settings-manual.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet purus sollicitudin nulla interdum
                    interdum. Suspendisse dapibus, justo bibendum posuere lobortis, ipsum lacus lacinia sapien, sed interdum
                    est tellus quis augue. Maecenas porttitor, metus a sollicitudin molestie, mauris nisi convallis mauris,
                    vel viverra sapien quam eu mauris. Integer vulputate iaculis molestie. Fusce posuere, sem sed interdum
                    feugiat, elit nunc ullamcorper nunc, eu semper magna nisi ut mi. Nulla facilisi. Suspendisse quis erat
                    sit amet libero pellentesque iaculis mollis eget dolor. Nam tempus dapibus ante et fringilla.
                    Morbi accumsan lectus sed eros convallis vulputate. Aenean iaculis in urna eu mattis. Donec a sem eget
                    turpis blandit egestas. Cras non enim dolor. Pellentesque hendrerit purus non lectus suscipit,
                    non varius sapien vestibulum.
