extends ../layouts/inner

block scripts
    script#g-maps-api(src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js")

        
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News

            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network

        .shops-page-title-container
            .filter
                .region
                    label Регіон
                    .select: select
                        option Днепропетровская обл.
                .city
                    label Місто
                    .select: select
                        option Киев
                        
            h1.page-title Shops

block content
    .inner-content-container.shops
        each index in [1, 2, 3, 4, 5]
            article.shop-item
                .container: .row
                    button.print
                    .info.column.two-third
                        h1 Київ, <address>пр-т Академіка Глушкова 13 б</address>
                        ul
                            li <strong>Метро:</strong> Теремки
                            li <strong>Розташування магазину:</strong> кінцева зупинка маршруток Київ - Вишневе, неподалік від Акварелей
                        button.show-map На мапi
                    .time.column.third
                        h2 Час роботи
                        ul
                            li Пн-Пт 9:00-20:00
                            li Сб-Нд 10:00-19:00
                .map-container(data-lat="50.3679131", data-lng="30.458065799999986")
            
        .paginator: .container
            .bwd: a(href="#")
            .links
                each page in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                    a(href="#", class="#{page==1 ? 'active' : ''}") #{page}
            .fwd: a(href="#")