extends ../layouts/inner
block content
    .site-map-container
        .house-img
        h1 Site map
        .map-container-row
            .column
                ul(class="first-level")
                    li: a(href="#") Private
                        ul(class="second-level")
                            li: a(href="#") Tariffs
                                ul(class="third-level")
                                    li: a(href="#") Prepaid
                                    li: a(href="#") Contract
                            li: a(href="#") Internet
                            li: a(href="#") International calls
                            li: a(href="#") Roaming
                            li: a(href="#") Services
                                ul(class="third-level")
                                    li: a(href="#") Recharge account
                                    li: a(href="#")  "INFO" service
                                    li: a(href="#")  "GOOD-OK" service
                                    li: a(href="#")  "CLICK" service

            .column
                ul(class="first-level")
                    li: a(href="#")  Business
                        ul(class="second-level")
                            li: a(href="#")  Tariffs
                            li: a(href="#")  Internet
                            li: a(href="#")  International calls
                            li: a(href="#")  Roaming

            .column
                ul(class="first-level")
                    li: a(href="#")  About
                        ul(class="second-level")
                            li: a(href="#")  About
                            li: a(href="#")  Terms of use
                            li: a(href="#")  News
                            li: a(href="#")  Press center
                            li: a(href="#")  Our network
                            li: a(href="#")  Store
                            li: a(href="#")  Contacts
