extends ../layouts/inner

block undermenu
    .promo-inner-head
        .promo-image
            picture
                source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                img(srcset='/img/samples/promo-1-mobile.jpg')

block content
    .inner-content-container
        .container.slim: .column.full
            .inner-navs
                nav.bread-crumps
                    ul
                        li.home: a(href="/"): span Home
                        li: a(href="#"): span About
                        li: a(href="#"): span News
                nav.inner-menu
                    ul
                        li: a(href="#") About Victory
                        li: a(href="#") Rules
                        li.active: a(href="#") News
                        li: a(href="#") Press Room
                        li: a(href="#") Our network
                    
        .container.slim: .column.full
            .variants-selector
                a.active(href="#") Prepaid
                a(href="#") Contract
            h1.page-title Prepaid

        .container.three-promo
            .column.third
                h2 Тарифы
                p.title
                    span Эфир&nbsp;
                    | 21грн/мес
                p.text 39 телеканалов,
                    |3 из них в HD-качестве
                p.title
                    span Кино&nbsp;
                    | 21грн/мес
                p.text Более 3000 фильмов,
                    |сериалов и ТВ-шоу
                .btn-container
                    a.btn Подробнее
            .column.third
                h2 Доступ
                img(src="/img/3column/3phones.png")
                p.text Установи приложение на смартфон и смотри на 3 устроствах без дополнительной платы
                .btn-container
                    a.btn Подробнее
            .column.third
                h2 Просмотр
                ul
                    li.dot ТВ-запись на 7 дней
                    li.pause ТВ-пауза до 10 минут
                    li.lock Родительский контроль
                    li.star Программы по темам
                    li.cc Звуковые дорожки и субтитры
                .btn-container
                    a.btn Подробнее

        .container.web-store
            .btn-container
                a(href='https://itunes.apple.com/ua/app/vodafone-tv/id1067569042?l=ru&ls=1&mt=8',class='btn'): img(src="http://www.fillmurray.com/940/560")
                a(href='https://play.google.com/store/apps/details?id=ua.vodafone.tv',class='btn'): img(src="http://www.fillmurray.com/940/560")

        .container
            .column.full
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.

        .container
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                
                
        .container
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
            .column.third
                h3 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.

            
        .container
            .column.full
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
                a.btn Call to action
                a.btn Call to action
                
        .container
            .column.full.center
                h2 Подключение и переход в тарифы
                p Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев.
                a.btn Call to action
                a.btn Call to action
                
        .container
            .column.full.center
                h2 See international tariffs
                a.btn.important Предоплата
                a.btn.important Контракт

        .container
            .column.half
                img(src="http://www.fillmurray.com/920/600")
            .column.half
                h3 Информация для новых абонентов
                p Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                a.btn Call to action
                            
                
        .container
            .column.full
                figure.hdr.seven
                    img(src="http://www.fillmurray.com/940/560")
                    div
                        figcaption
                            h2 Подключение и переход в тарифы
                            p
                                | Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. 
                            a.btn Call to action
                            a.btn Call to action
        
                            
        .row
            .column.full
                figure.hdr.six.wide
                    img(src="http://www.fillmurray.com/1260/400")
                    div
                        figcaption: .container
                            h2 Подключение и переход в тарифы
                            p
                                | Покупайте стартовый пакет «А» с новым мобильным номером или переходите в тариф с существующим номером. Стоимость стартового пакета — Х грн, включает в себя услуги связи на Х месяцев. 
                            a.btn Call to action
                            a.btn Call to action
                            
        .container
            .column.full
                img(src="http://www.fillmurray.com/940/560")
          
        .row
            .column.full
                img(src="http://www.fillmurray.com/1260/400")
            
        .container
            .column.half
                .file
                    .date 22 грудня 2015
                    .link: a(href="#") Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок
            .column.half
                .file
                    .date 22 грудня 2015
                    .link: a(href="#") Узагальнена фінансова звітність за рік, що закінчився 31 грудня 2008 рок
            
        .container
            .column.full
                .alert.alert-important.
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
        .container
            .column.full
                .alert.
                    <strong>Зв'язок на Сході України:</strong> Станом на 09:00 02.10.2015 працює 89% об'єктів мережі «МТС Україна» 
                    в Донецькій області і 82% – в Луганській області. За минулу добу відновлено 15 об’єктів, із них 12 – у Донецькій області, 3 – у Луганській. <br>
                    <a href="">Детальніше</a>
        
        .row
            .column.full
                hr.wide
            
        .row
            .column.full
                hr
            
        .row
            h2.separator
                .container Інші способи оплати
                
                
        .container
            .column.two-third
                .embed-responsive.embed-responsive-16by9
                    iframe.mg1(width='100%', height='400', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.com/maps?q=Melbourne,+Victoria,+Australia&hl=en&sll=-7.981898,112.626504&sspn=0.009084,0.016512&oq=melbourne&hnear=Melbourne+Victoria,+Australia&t=m&z=10&output=embed')
            .column.third
                h3 Get in Touch
                p
                    strong Company, Inc.
                    br
                    | 123 Street, City
                    br
                    | State 12345
                    br
                    | P: (123) 456 7890 / 456 7891
                p
                    strong Full Name
                    br
                    a(href='mailto:#') first.last@example.com
            
        
        .row
            .accordion
                .panel.expanded
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                .panel
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!
                .panel
                    .title: .container: .column.full Акція «Подарунки за поповнення рахунку»
                    .content: .container: .column.full Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!

        .container
            .column.two-third
                .embed-responsive.embed-responsive-16by9
                    iframe(width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen="")
            .column.third.
                Если Вы приобрети стартовый пакет «А» то на протяжении 5 дней можете выбрать и перейти в тариф «В» 
                или «С» на специальных условиях, а также получить услуги на Х месяцев бесплатно!


        .container
            .column.full
                .embed-responsive.embed-responsive-16by9
                    iframe(width="560" height="315" src="//www.youtube.com/embed/P5yHEKqx86U?rel=0" frameborder="0" allowfullscreen="")
                    
                    
        .container
            .column.full
                .featured_items
                    a.featured(href="#")
                        .icon: img(src="/img/featured/map.png")
                        strong Coverage map
                        p Check our network in Ukraine
                    a.featured(href="#")
                        .icon: img(src="/img/featured/buy.png")
                        strong Where to buy
                        p Find the nearest shop
                    a.featured(href="#")
                        .icon: img(src="/img/featured/settings.png")
                        strong 3G Settings 
                        p Setup your smartphone  for 3G network
                    a.featured(href="#")
                        .icon: img(src="/img/featured/recharging.png")
                        strong Recharging
                        p Easy recharge through internet
