extends ../layouts/inner

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .promo-inner-head
            .promo-image
                picture
                    source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                    source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                    source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                    img(srcset='/img/samples/promo-1-mobile.jpg')
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: a(href="#"): span Тарифи передплата
                    li: strong Vodafone XS
        .promo-title Vodafone Red XS

block content

    .page-title-container
        .select-type
            a(href="#") RED XS
            a.active(href="#") RED S/M/L
            a(href="#") Light
        h1.page-title Прості тарифи Vodafone Red

    .inner-content-container.transparent.new_tarif

        .content-box

            .new_tarif-table.vodafone_red
                div
                    .inner
                        .first
                            table
                                tr: th: strong Базова вартість пакетів послуг на місяць в тарифах Vodafone Red
                                tr: td Дзвінки в мережі Vodafone Україна та МТС Україна
                                tr: td Vodafone TV, «Ефір» (включено в пакет)
                                tr: td Соцмережі: Facebook, Instagram, Twitter, тексти у Viber та  WhatsApp
                                tr: td: a(href="#") 3G/2G Інтернет
                                tr: td Дзвінки на інші мережі по Україні та <a href="#">за кордон</a>
                                tr: td SMS&amps;MMS на всі мережі по Україні та <a href="#">за кордон</a>
                        .item.orange
                            table
                                tr: th
                                    .marker XS
                                    .price <span>40</span> грн
                                tr: td Безліміт
                                tr: td —
                                tr: td.rowspan_2 1 ГБ
                                tr: td 30 хв <br> <small>по Україні</small>
                                tr: td 30 шт <br> <small>по Україні</small>
                        .to_front.columns_3
                            .item.green
                                table
                                    tr: th
                                        .marker S
                                        .price <span>50</span> грн
                                    tr: td Безліміт
                                    tr: td —
                                    tr: td Безліміт
                                    tr: td 2 ГБ
                                    tr: td 50 хв
                                    tr: td 50 шт
                            .item.blue
                                table
                                    tr: th
                                        .marker M
                                        .price <span>70</span> грн
                                    tr: td Безліміт
                                    tr: td —
                                    tr: td Безліміт
                                    tr: td 4 ГБ
                                    tr: td 70 хв
                                    tr: td 70 шт
                            .item.purple
                                table
                                    tr: th
                                        .marker L
                                        .price <span>150</span> грн
                                    tr: td Безліміт
                                    tr: td Безліміт
                                    tr: td Безліміт
                                    tr: td 6 ГБ
                                    tr: td 150 хв
                                    tr: td 150 шт
                        .last
                            table
                                tr: th Прозора вартість послуг понад пакет
                                tr: td —
                                tr: td —
                                tr: td —
                                tr: td 10 грн за кожні <br> 500 МБ
                                tr: td 0,50 грн/хв
                                tr: td 0,50 грн/шт.

            blockquote
                p Повна назва тарифу Vodafone Red XS – «Vodafone Red XS+» .
            blockquote
                p Послуга <a href="#">Vodafone TV</a>, пакет «Ефір» доступна без додаткових платежів у тарифі Vodafone Red L, в усіх інших тарифах — за стандартними умовами (деталі та умови надання послуги Vodafone TV на tv.vodafone.ua).