extends ../layouts/inner

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .promo-inner-head
            .promo-image
                picture
                    source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                    source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                    source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                    img(srcset='/img/samples/promo-1-mobile.jpg')
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: a(href="#"): span Тарифи передплата
                    li: strong Vodafone XS
        .promo-title Vodafone Red XS

block content

    .page-title-container
        .select-type
            a(href="#") RED XS
            a(href="#") RED S/M/L
            a.active(href="#") Light
        h1.page-title Прості тарифи Vodafone LIGHT

    .inner-content-container.transparent.new_tarif

        .content-box

            .new_tarif-table.vodafone_light
                div
                    .inner
                        .first
                            table
                                tr: th: strong Базова вартість послуг в Vodafone
                                tr: td Дзвінки в мережі Vodafone Україна та МТС Україна
                                tr: td: a(href="#") 3G/2G Інтернет
                                tr: td SMS&MMS на всі мережі по Україні
                                tr: td Дзвінки на інші мережі по Україні
                                tr: td Дзвінки за <a href="#">кордон</a>
                        .to_front
                            .item.yellow
                                table
                                    tr: th(colspan="2")
                                        .marker.light LIGHT
                                        | Сплачуйте на день, у разі користування
                                    tr
                                        td Безліміт
                                            .za за
                                        td 2,00 грн
                                    tr
                                        td 100 МБ
                                        td 5,00 грн
                                    tr
                                        td 150 шт.
                                        td 1,50 грн
                                    tr: td(colspan="2") 1,50 грн/хв
                                    tr: td(colspan="2") 3,00 грн/хв
                        .last
                            table
                                tr: th Прозора вартість послуг понад пакет
                                tr: td —
                                tr: td 10 грн за кожні <br> 500 МБ
                                tr: td 0,50 грн/хв
                                tr: td —
                                tr: td —
