extends ../layouts/inner
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        .page-title-container.tarifs
            .select-type
                a.active(href="#") Prepayment
                a(href="#") Contract
            h1.page-title Tarifs
            
block content
    .inner-content-container.tarifs
        .container
            h2 Тарифи Vodafone Red в Україні та Європі
            .tarif-group.prepaid
                .tarif-table-control
                    .status Showing <span class="from">1</span>-<span class="to">3</span> of <span class="total">7</span>
                    .arrows
                        button.btn.left
                        button.btn.right
                .tarif-table
                    .pan-trigger
                    .headings
                        table
                            col
                            thead
                                tr
                                    td: .column <strong>в Україні</strong>, на мiсяць
                                tr
                                    td: .column <strong>у роумінгу</strong> з послугою «Роумінг, як вдома» на 7 днів<br>Замовити  - <kbd>*600#</kbd>
                            tbody
                                tr
                                    td: .column Дзвінки в мережі Vodafone та МТС-Україна
                                tr
                                    td: .column Facebook, Instagram, Twitter, Viber, WhatsApp
                                tr
                                    td: .column: a(href="#") 3G/2G Інтернет
                                tr
                                    td: .column Дзвінки на інші мережі по Україні та за кордон
                                tr
                                    td: .column SMS&MMS на всі мережі по Україні та за кордон
                    .tarifs
                        table
                            col.s
                            col.m
                            col.l
                            col.over
                            thead
                                tr
                                    td.decor.s: .column <span>S</span> <strong>X0</strong> грн
                                    td.decor.m: .column <span>M</span> <strong>X0</strong> грн
                                    td.decor.last.l: .column <span>L</span> <strong>X0</strong> грн
                                    td.over(rowspan=2): .column Прозора вартість послуг понад пакет
                                tr
                                    td: .column <strong>XX0</strong> грн
                                    td: .column <strong>XX0</strong> грн
                                    td: .column <strong>XX0</strong> грн
                            tbody
                                tr
                                    td: .column Безлiмiт
                                    td: .column Безлiмiт
                                    td: .column Безлiмiт
                                    td —
                                tr
                                    td: .column Безлiмiт
                                    td: .column Безлiмiт
                                    td: .column Безлiмiт
                                    td(rowspan=2) 10 грн за кожні 500 МБ
                                tr
                                    td: .column 5Гб
                                    td: .column 5Гб
                                    td: .column 5Гб
                                tr
                                    td: .column 90 хв
                                    td: .column 90 хв
                                    td: .column 90 хв
                                    td 0,50 грн/хв
                                tr
                                    td.decor.s: .column 90 шт.
                                    td.decor.m: .column 90 шт.
                                    td.decor.last.l: .column 90 шт.
                                    td 0,50 грн/шт