extends ../layouts/inner

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .promo-inner-head
            .promo-image
                picture
                    source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                    source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                    source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                    img(srcset='/img/samples/promo-1-mobile.jpg')
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: strong Тарифи передплата
        .promo-title Прості тарифи<br> без турбот!

block content

    .page-title-container
        .select-type
            a.active(href="#") Передоплата
            a(href="#") Контракт
            a(href="#") Архів
        h1.page-title Передплата

    .inner-content-container.transparent.new_tarif

        .new_tarif-banners.columns-3
            .item
                a.item-img(href="#", style="background-image: url('/img/tarif/banner-1.jpg')")
                    .item-title Vodafone Red XS
                .item-content
                    .item-features
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | 1 ГБ
                            li
                                .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 30 хв по Україні
                            li
                                .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                | 30 SMS&amp;MMS по Україні
                    .item-advantages
                        .title Переваги:
                        ul
                            li  «Год без абонплат» «Рік без абонплат»
                            li  Вигідні роумінг тарифи у Європі
                    .item-bottom
                        .item-price <span>40</span>грн
                        a.btn(href="#") Дiзнатися бiльше
            .item
                a.item-img(href="#", style="background-image: url('/img/tarif/banner-2.jpg')")
                    .item-title Vodafone Red S <span>/ M / L</span>
                    .item-recomend Рекомендуємо
                .item-content
                    .item-features
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | 2 ГБ та безліміт у соцмережах
                            li
                                .icon(style="background-image:url('/img/tarif/icon-unlimit.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 50 хв по Україні та за кордон
                            li
                                .icon(style="background-image:url('/img/tarif/icon-message.png')")
                                | 50 SMS&MMS по Україні та за кордон
                    .item-advantages
                        .title Переваги:
                        ul
                            li Дзвінки за кордон у 62 країни
                            li Vodafone TV, пакет «Ефір» (стандартні умови у Red S, M; включено в пакет Red L)
                            li «Роумінг, як вдома» у Європі
                    .item-bottom
                        .item-price <span>50</span>грн
                        a.btn(href="#") Дiзнатися бiльше
            .item
                a.item-img(href="#", style="background-image: url('/img/tarif/banner-3.jpg')")
                    .item-title Vodafone Light
                .item-content
                    .item-features
                        ul
                            li
                                .icon(style="background-image:url('/img/tarif/icon-3g.png')")
                                | Безліміт на дзвінки в мережі
                            li
                                .icon(style="background-image:url('/img/tarif/icon-phone.png')")
                                | 0,50 грн/хв на інші мережі України
                    .item-advantages
                        .title Переваги:
                        ul
                            li Сплачуйте у разі користування
                            li «Рік без оплат»
                    .item-bottom
                        .item-price <span>2</span>грн
                            small у день користування
                        a.btn(href="#") Дiзнатися бiльше
