extends ../layouts/inner

block vars
    - var promoSectionClass = 'has-slider'

block undermenu
    .promo-inner-head
            .promo-image
                picture
                    source(srcset='/img/samples/promo-1-large.jpg', media="(min-width: 1601px)")
                    source(srcset='/img/samples/promo-1.jpg', media="(min-width: 980px)")
                    source(srcset='/img/samples/promo-1-small.jpg', media="(min-width: 660px)")
                    img(srcset='/img/samples/promo-1-mobile.jpg')
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span Приватним клієнтам
                    li: a(href="#"): span Тарифи
                    li: a(href="#"): span Тарифи передплата
                    li: strong Vodafone XS
        .promo-title Vodafone Red XS

block content

    .page-title-container
        .select-type
            a.active(href="#") RED XS
            a(href="#") RED S/M/L
            a(href="#") Light
        h1.page-title Прості тарифи Vodafone Red

    .inner-content-container.transparent.new_tarif

        .content-box.add_padding

            .new_tarif-table.vodafone_red
                div
                    .inner
                        .first
                            table
                                tr: th: strong Базова вартість пакетів послуг на місяць в тарифах Vodafone Red
                                tr: td Дзвінки в мережі Vodafone Україна та МТС Україна
                                tr: td Vodafone TV, «Ефір» (включено в пакет)
                                tr: td Соцмережі: Facebook, Instagram, Twitter, тексти у Viber та  WhatsApp
                                tr: td: a(href="#") 3G/2G Інтернет
                                tr: td Дзвінки на інші мережі по Україні та <a href="#">за кордон</a>
                                tr: td SMS&amps;MMS на всі мережі по Україні та <a href="#">за кордон</a>
                        .to_front
                            .item.orange
                                table
                                    tr: th
                                        .marker XS
                                        .price <span>40</span> грн
                                    tr: td Безліміт
                                    tr: td —
                                    tr: td.rowspan_2 1 ГБ
                                    tr: td 30 хв <br> <small>по Україні</small>
                                    tr: td 30 шт <br> <small>по Україні</small>
                        .item.green
                            table
                                tr: th
                                    .marker S
                                    .price <span>50</span> грн
                                tr: td Безліміт
                                tr: td —
                                tr: td Безліміт
                                tr: td 2 ГБ
                                tr: td 50 хв
                                tr: td 50 шт
                        .item.blue
                            table
                                tr: th
                                    .marker M
                                    .price <span>70</span> грн
                                tr: td Безліміт
                                tr: td —
                                tr: td Безліміт
                                tr: td 4 ГБ
                                tr: td 70 хв
                                tr: td 70 шт
                        .item.purple
                            table
                                tr: th
                                    .marker L
                                    .price <span>150</span> грн
                                tr: td Безліміт
                                tr: td Безліміт
                                tr: td Безліміт
                                tr: td 6 ГБ
                                tr: td 150 хв
                                tr: td 150 шт
                        .last
                            table
                                tr: th Прозора вартість послуг понад пакет
                                tr: td —
                                tr: td —
                                tr: td —
                                tr: td 10 грн за кожні <br> 500 МБ
                                tr: td 0,50 грн/хв
                                tr: td 0,50 грн/шт.

            blockquote
                p Повна назва тарифу Vodafone Red XS – «Vodafone Red XS+» .
            blockquote
                p Послуга <a href="#">Vodafone TV</a>, пакет «Ефір» доступна без додаткових платежів у тарифі Vodafone Red L, в усіх інших тарифах — за стандартними умовами (деталі та умови надання послуги Vodafone TV на tv.vodafone.ua).


        .content-box.add_padding
            h1 Послуга «Рік без абонплат» - доступна у тарифі Vodafone Red XS
            p Відчувайте свободу спілкування з послугою «Рік без абонплат». Сплачуйте авансом 360 грн та отримуйте протягом року свій щомісячний пакет послуг у тарифі Vodafone Red XS без додаткових платежів та систематичних поповнень.
            .table-wrap
                div
                    table
                        tr
                            th Вартість
                            th Підключення
                            th Статус послуги
                        tr
                            td 360 грн
                            td: strike *365#
                            td: strike *365*1#
            p Послуга діє 365 днів з моменту її активації.   Вартість послуги знімається під час її підключення.


        .content-box.accordion
            .panel.expanded
                .title: .container: .column.full Як пiдключити Vodafone Red XS
                .content: .container: .column.full
                    ol
                        li Придбайте стартовий пакет Vodafone Red XS (повна назва тарифу – «Vodafone Red XS+»), до якого вже включено вартість тарифу на місяць.
                        li Переходьте у Vodafone Red XS або у будь-який інший Vodafone Red з тарифів МТС Україна Передплата, сплачуючи вартість обраного пакета послуг на місяць.

                    .simple_table.vodafone_red
                        table
                            tr
                                th: strong Тариф Vodafone
                                td.orange: .tarif-title Red XS
                                td.green: .tarif-title Red S
                                td.blue
                                    .tarif-title Red M
                                    .tarif-label Рекомендуємо
                                td.purple: .tarif-title Red L
                            tr
                                th: strong Перехід
                                td: strike *250*40#
                                td: strike *250*50#
                                td: strike *250*70#
                                td: strike *250*150#
                            tr
                                th: strong Вартість
                                td 40 грн
                                td 50 грн
                                td 70 грн
                                td 150 грн

                    .simple_table.vodafone_red
                        table
                            tr
                                th: strong Тариф Vodafone
                                th
                                td.orange: .tarif-title Red XS
                                td.green: .tarif-title Red S
                                td.blue
                                    .tarif-title Red M
                                    .tarif-label Рекомендуємо
                                td.purple: .tarif-title Red L
                            tr
                                th: strong Перехід
                                th(rowspan="2")
                                td: strike *250*40#
                                td: strike *250*50#
                                td: strike *250*70#
                                td: strike *250*150#
                            tr
                                th: strong Вартість
                                td 40 грн
                                td 50 грн
                                td 70 грн
                                td 150 грн
            .panel
                .title: .container: .column.full Додаткова інформація щодо зміни тарифу
                .content: .container: .column.full Some content here


        .content-box.accordion
            .panel.expanded
                .title: .container: .column.full Пакети послуг на день в Україні
                .content: .container: .column.full
                    p Вартість послуг у тарифах Vodafone Red знімається щомісячно від дати першого дзвінка. Якщо коштів на рахунку недостатньо для сплати вартості пакетів послуг на місяць автоматично підключаться щоденні платежі та пакети:
                    .simple_table.vodafone_red
                        table
                            tr
                                th.taller: strong Тариф на день, у разі користування
                                td.orange
                                    .tarif-title Red XS
                                    .tarif-price <span>3</span> грн
                                td.green
                                    .tarif-title Red S
                                    .tarif-price <span>5</span> грн
                                td.blue
                                    .tarif-title Red M
                                    .tarif-price <span>7</span> грн
                                td.purple
                                    .tarif-title Red L
                                    .tarif-price <span>15</span> грн
                            tr
                                th Дзвінки в мережі Vodafone Україна та МТС Україна
                                td Безлимит
                                td Безлимит
                                td Безлимит
                                td Безлимит
                            tr
                                th: a(href="#") 3G/2G Інтернет
                                td 100 МБ
                                td 200 МБ
                                td 400 МБ
                                td 600 МБ
                            tr
                                th Дзвінки на інші мережі по Україні та <a href="#">за кордон</a>
                                td 3 мин<br> <small>по Украине</small>
                                td 5 мин
                                td 7 мин
                                td 15 мин
                            tr
                                th SMS&amps;MMS на всі мережі по Україні та <a href="#">за кордон</a>
                                td 3 шт<br> <small>по Украине</small>
                                td 5 шт
                                td 7 шт
                                td 15 шт
            .panel
                .title: .container: .column.full Умови користування денними пакетами послуг
                .content: .container: .column.full Some content here


        .content-box.add_padding
            h2 Вартість послуг понад пакети на місяць або на день у Vodafone Red XS:
            ul
                li мобільний Інтернет — 10 грн за кожні 500 МБ (в межах 10 пакетів);
                li дзвінки та SMS&MMS абонентам всіх мереж по Україні — 0,50 грн/хв,шт.;
                li дзвінки за кордон – 3 грн/хв;
                li SMS&ambs;MMS на всі міжнародні напрямки — 0,50 грн/шт.
            blockquote
                p Швидкість мобільного Інтернету становитиме – до 32 Кбіт/с після використання: за місяць 6 ГБ у тарифі Vodafone Red XS (повна назва тарифу – «Vodafone Red XS+»),  7 ГБ - у Vodafone Red S , 9  ГБ – у Vodafone Red M, 11 ГБ – у Vodafone Red L  або   за день  5,1 ГБ – у Vodafone Red XS, 5,2 ГБ – у Vodafone Red S, 5,4 ГБ – у Vodafone Red M, 5,6 – у Vodafone Red L.
                p Тарифи діють на території України.
                p Тарифи вказані y гривнях з урахуванням ПДВ та збору до Пенсійного фонду, який становить 7,5% від вартості послуг без ПДВ, станом на 01.08.2016 року.
                p Вартість дзвінків вказано за першу секунду кожної хвилини розмови.   Мінімальний строк дії тарифу — 30 днів із моменту його введення. 
                p Детальну інформацію щодо тарифів, акцій, вартості та умов надання послуг можна отримати за телефонами: 
                p <strong>111</strong>  — безкоштовно з мобільного Vodafone Україна  в Україні; 
                p <strong>0800 400  111</strong>  — консультація щодо тарифів та послуг Vodafone Україна для абонентів інших операторів України (безкоштовно з будь-якого номера в Україні).
                p ПрАТ «МТС УКРАЇНА», 01601, м. Київ, вул. Лейпцизька, 15, у реєстрі операторів, провайдерів телекомунікацій № 47.
