extends ../layouts/inner
block undermenu
    .inner-info-container: .wrap
        .inner-navs
            nav.bread-crumps
                ul
                    li.home: a(href="/"): span Home
                    li: a(href="#"): span About
                    li: a(href="#"): span News
            //-nav.inner-menu
                ul
                    li: a(href="#") About Victory
                    li: a(href="#") Rules
                    li.active: a(href="#") News
                    li: a(href="#") Press Room
                    li: a(href="#") Our network
        .page-title-container.tarifs
            .select-type
                a.active(href="#") Prepayment
                a(href="#") Contract
            h1.page-title Tarifs
block content
    .inner-content-container.tarifs
        .column.full: .container.wider
            
            .tarif-group.business
                .tarif-table-control
                    .status Showing <span class="from">1</span>-<span class="to">3</span> of <span class="total">7</span>
                    .arrows
                        button.btn.left
                        button.btn.right
                            
                .tarif-table(data-visible=3)
                    .pan-trigger
                    .headings
                        table
                            col
                            col
                            thead
                                tr
                                    td.main-title(rowspan=2): column
                                        strong Vodafone Red Business в Україні та Європі
                                    td: column <strong>в Україні</strong>, на мiсяць
                                tr
                                    td.roaming: column <strong>у роумінгу (країни Vodafone).</strong> Послуга «Роумінг, як вдома» на 30 днів. Замовити - <kbd>*600#</kbd>
                            tbody
                                tr 
                                    td: column Дзвінки в корпоративній групі
                                    td(rowspan=2): column Хвилин на місяць
                                tr 
                                    td: column Дзвінки в мережі Vodafone та МТС-Україна
                                    
                                tr
                                    td: column 3G Інтернет
                                    td(rowspan=2): column об'єми на місяць
                                tr
                                    td: column Facebook, Instagram, Twitter, Viber, WhatsApp 
                                tr
                                    td.naked(rowspan=2): column Дзвінки, SMS&MMS на всі мережі України та Європи (країни Vodafone)
                                    td: column хвилин на місяць 
                                tr
                                    td: column SMS&MMS на місяць 
                            tfoot
                                tr
                                    td.naked(rowspan=2): column Вартість понад пакети в Україні та роумінгу 
                                    td: column 3G Інтернет 
                                tr
                                    td: column дзвінки, SMS&MMS 
                    .tarifs
                        table
                            col
                            col
                            col
                            col
                            col
                            
                            thead
                                tr
                                    td.decor: column <span>VIP</span> <strong>X0</strong> грн
                                    td.decor: column <span>L</span> <strong>X0</strong> грн
                                    td.decor: column <span>M</span> <strong>X0</strong> грн
                                    td.decor: column <span>S</span> <strong>X0</strong> грн
                                    td.decor: column <span>XS</span> <strong>X0</strong> грн
                                    
                                tr
                                    td: column <strong>XX0</strong> грн
                                    td: column <strong>XX0</strong> грн
                                    td: column <strong>XX0</strong> грн
                                    td: column <strong>XX0</strong> грн
                                    td: column <strong>XX0</strong> грн
                                    
                            tbody
                                tr
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                tr
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    
                                tr
                                    td(rowspan=2): column 500 МБ
                                    td: column 500 МБ
                                    td: column 500 МБ
                                    td: column 500 МБ
                                    td: column 500 МБ
                                    
                                tr
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    td: column Безлiмiт
                                    
                                tr
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    
                                tr
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    td: column 30
                                    
                            tfoot
                                tr
                                    td: column X0 грн/500мб
                                    td: column X0 грн/500мб
                                    td: column X0 грн/500мб
                                    td: column X0 грн/500мб
                                    td: column X0 грн/500мб
                                    
                                tr
                                    td.decor: column 0,50 грн/хв, шт.
                                    td.decor: column 0,50 грн/хв, шт.
                                    td.decor: column 0,50 грн/хв, шт.
                                    td.decor: column 0,50 грн/хв, шт.
                                    td.decor: column 0,50 грн/хв, шт.
                                    
                                        