fieldset.subcategory-service.target-center
    .row: .column.full
        label Дата і час зверення
        .group
            input(type='text', name='service[center][when]')

    .row: .column.full
        label Номер, з якого зверталися
        .group
            input(type='text', name='service[center][num]')

    .row: .column.full
        label Ім'я/номер працівника
        .group
            input(type='text', name='service[center][name]')

