fieldset.subcategory-service.target-chat
    .row: .column.full
        label Дата і час зверення
        .group
            input(type='text', name='service[chat][when]')

    .row: .column.full
        label Номер, з якого зверталися
        .group
            input(type='text', name='service[chat][num]')

    .row: .column.full
        label Ім'я/номер/нік працівника
        .group
            input(type='text', name='service[chat][name]')

