fieldset.subcategory-service.target-shop
    .row: .column.full
        label Дата і час зверення
        .group
            input(type='text', name='service[shop][when]')

    .row: .column.full
        label Адреса магазину
        .group
            input(type='text', name='service[shop][address]')
        p.signature Вкажіть область, район, назву населеного пункту, вулиці, номер будинку

    .row: .column.full
        label П.І.Б. працівника, на якого надійшла скарга
        .group
            input(type='text', name='service[shop][name]')

